[2021-12-30 06:28] hangtwenty opened #9 "README discord link seems to be broken?"
It just links to the image, seemingly.

[2021-12-30 06:29] hangtwenty commented on #9
Confirmed, it's just the image:

[code]

[2021-12-30 08:06] Goldziher commented on #9
Thanks... annoying... there is an invite link also at the bottom of the readme, but i will see how to fix this.

[2021-12-30 08:43] #9 closed

[2021-12-31 11:32] Goldziher opened #11 "[documentation] Continous update"
The documentation is an ongoing project - we would like to ask the community to contribute. PRs including any of the following will be welcome:

1. edits and rewrites to improve the documentation in terms of grammar, syntax, structure
2. improvements to examples - better code or cleaner code, fixes, additional examples
3. additional documentation
4. improvements to the documentation website (using

[2021-12-31 11:34] Goldziher opened #12 "Enhance multipart handling"
Starlite currently uses the Starlette built-in multipart handling, which is somewhat limited. @adriangb has proposed to enhance this by supporting different encodings and data.

[2021-12-31 18:01] adriangb commented on #12
Linking #8 since it is related.

Starlette _does_ support receiving forms with different encodings in the parts. It's just that it gives you everything as an UploadFile or a string. So this framework would have to build on top of that and e.g. parse the string into JSON -> into a Pydantic model, or parse the string into a Form, etc.

[2021-12-31 18:33] Goldziher commented on #12
Why not implement this? What are the cons?

[2022-01-01 12:25] Ashwin-op opened #13 "Requests module not found"
[code]

I'm getting this error when I just do `pip install starlite` and then run the app using uvicorn.

The code I'm trying out is the one from the documentation,
[code]

[2022-01-01 12:45] Goldziher commented on #13
Hi @Ashwin-op - yes it seems requests was marked as a dev dependency only. I just released v0.1.2 which fixes this. Can you please check?

[2022-01-01 13:08] Ashwin-op commented on #13
Yes, it works now, thanks for the super quick reply!

[2022-01-01 14:24] Goldziher commented on #13
My pleasure

[2022-01-01 14:28] #13 closed

[2022-01-08 14:24] Goldziher commented on #12
@adriangb - so, whats the status of this? do you intend to add a PR addressing this?

As far as I am concerned it shouldn't be a problem to resolve this using typing data. Namely, the data should be parsed into python based on the encoding, and then transformed into the data type set by the user.

[2022-01-08 19:02] adriangb commented on #12
There were some parts of this that were not clear to me w.r.t the syntax, how deeply you want to support this, etc. It seems like you're moving pretty fast and already implemented something in #23, so I'll go ahead and close this issue. Thanks!

[2022-01-08 19:02] #12 closed

[2022-01-14 23:06] vincentsarago opened #31 "allow empty `""` path in Controller ?"
https://github.com/starlite-api/starlite/blob/965d97620774991bd302a3a227bd3ebe6236ae96/starlite/controller.py#L27-L28

### Context
In some of our project (built with FastAPI) we use **Factory** classes that helps us creating bunch of endpoints for given user inputs and dependencies (https://developmentseed.org/titiler/advanced/tiler_factories/ https://developmentseed.org/titiler/api/titiler/core/f

[2022-01-15 09:17] Goldziher commented on #31
Hiya.

How about this solution:

1. We move the validation to a method that is called by `Controller.__init__`.
2. You can then override it in your subclass.

[2022-01-15 23:47] Goldziher commented on #31
@adriangb , you wanna take a look at this?

[2022-01-16 09:33] vincentsarago commented on #31
Yes.

It does (see schema)

I can try, later today or tomorrow 😄

[2022-01-17 08:50] vincentsarago opened #36 "import fails because of missing sqlalchemy"
I guess https://github.com/starlite-api/starlite/pull/27 introduced a bug which result in `MissingDependencyException: sqlalchemy is not installed` when I try to import some Starlite submodule

[code]

I believe `sqlalchemy` is only a plugin 🤷

[2022-01-17 09:54] Goldziher commented on #36
@vincentsarago -- silly me. I fixed this issue and released v0.4.1. Issue was caused by including the plugin in the main `__init__.py`

[2022-01-17 09:54] Goldziher commented on #36
Can you please test and close the issue if applicable?

[2022-01-17 11:00] vincentsarago commented on #36
🙏 yep it's good now :-)

[2022-01-17 11:00] #36 closed

[2022-01-17 11:08] Goldziher opened #37 "Enhancement: Add Elastic DSL Plugin"
A plugin is a class the fulfills the starlite PluginProtocol interface. You can see the source code for [this here](https://github.com/starlite-api/starlite/blob/main/starlite/plugins/base.py#L10).

It would be nice to have a plugin for the Elastic Search DSL library --> https://elasticsearch-dsl.readthedocs.io/en/latest/

[2022-01-17 11:17] vincentsarago commented on #31
@Goldziher I'm not quite sure of the solution here.

## Case 1: `path = ""`

This is quite straight forward, meaning that routes won't have any prefix. This also ensure the user set `""` as the path and that we will only raise is path is not set at all. We could just add a note in the documentation (or a warning in the code) that `""` path will append routes at the root.

## Case 2: `path = "/"`

[2022-01-17 11:30] Goldziher commented on #31
Sure, path 1 is good. Just add a note on the docs as well.

Maybe raise an informative error if the path is set to "/" by the user, or also allow that case.

[2022-01-18 08:28] vincentsarago opened #40 "Can't set query parameter with default value"
I'm trying to set default values for query parameters. I've tried with and without the Parameter class but it gives the same result:

[code]

[2022-01-18 10:58] vincentsarago commented on #40
fixed in https://github.com/starlite-api/starlite/commit/b5478a3d8bcc1cd063ad547ba93e7c705d25f66c

[2022-01-18 10:58] #40 closed

[2022-01-19 10:54] #31 closed

[2022-01-19 15:06] vincentsarago commented on #11
First, as of today the documentation is nice and covers most of the new comers need 👏

## State and Lifecycle documentation

One thing I struggled with, coming from FastAPI world, was the lifecycle configuration. The `my_app/postgres.py` example in https://starlite-api.github.io/starlite/usage/0-the-starlite-app/?h=lifecycle nicely explains how to create startup/shutdown function but not what the

[2022-01-19 15:40] vincentsarago opened #43 "[enhancement] allow the exclusion of some keys or None in output response"
In other Framework (e.g FastAPI), users can set the output model but also exclude specific keys or unset values without the need of re-writting new classes:

#### With FastAPI
[code]
#### With Starlite
[code]
Note: in Starlite, we don't need the `response_model=User` because it's defined in the model signature.

[2022-01-19 15:44] vincentsarago opened #44 "[feature request] Multiple path per handler"
I sometimes want to use optional `path` parameter. For this I need to be able to set more than one path per route:

[code]
see: https://github.com/developmentseed/titiler/blob/master/src/titiler/core/titiler/core/factory.py#L436-L450

[2022-01-19 16:12] vincentsarago opened #45 "[enhancement] per controller url_for/url_path_for"
Within a controller, I don't think you can find a `url` for another handler using starlette url_path_for.

A working example of it can be found over https://github.com/developmentseed/pg_mvt/blob/10fa599928fc96ea30fad63289e40e39e564845d/pg_mvt/factory.py#L66-L96

[2022-01-19 19:54] Goldziher commented on #45
The Starlette `url_path_for` is not implemented in starlite at all. It was removed in version 0.5.0 - previously the BaseRoute class had an implementation but it was removed.

What is the use case for these?

[2022-01-19 19:58] Goldziher commented on #44
You can do this alread in the following manner:

[code]

Its of course not very pretty.

The question is this - should we support multiple paths by doing this:

[code]

Or allow multiple decorators. Obviously multiple decorators allow for a variety of other parameters etc. for example - different dependencies and so forth. Yet this is going to be trickier to implement.

Thoughts?

[2022-01-20 19:28] Goldziher commented on #44
This one is implemented in #49

[2022-01-20 19:28] #44 closed

[2022-01-26 14:02] philvarner opened #61 "Minimal example doesn't run because of incorrect import"
In the minimal example: https://starlite-api.github.io/starlite/#minimal-example

The Controller (my_app/controllers/user.py) imports the model with

[code]

This fails to startup with:

[code]

because the User class is defined in:

[code]

This would work if there were a __init__.py file in my_app/models that imports all the model classes (as there is for the backend-starlite-postgres), but this

[2022-01-26 14:39] philvarner opened #62 "new user issue with path parameter type definition"
I didn't realize that path parameters must have a type, so I declared one like `@get(path="/{dataset_id}")`.

(1) I think this is a common mistake people will make with the minimal example, since it only uses `uuid`. Maybe adding an example of using `str` to the minimal example and a comment that it's required would help.

(2) I was confused at first by the error message `starlite.exceptions.Impro

[2022-01-26 14:46] Goldziher commented on #62
Hi there @philvarner and thanks for the input. Its true that for `str` `:str` is sort of redundant - but its meant for consistency. Also - with 0.7.1 we actually are able to support all kinds of types, not only those supported by starlette - so this might actually become a thing in the future.

As for points 1 and 2: these two should defintely be resolved. Would you like to open a PR yourself? Its

[2022-01-26 15:11] philvarner commented on #62
Sounds good on (1). One recommendation I do have for you with that work is to allow precise custom error responses and document it well. One of the problems I've had with other frameworks is that they allow custom types in the path, but then the default error response for an invalid value is like "failed to serialize FooBar from path", which  is completely useless to the user, instead of something

[2022-01-26 15:46] philvarner commented on #11
The URLs for the openapi schema are hard to find and the endpoint `/schema` is a 404.

In
https://starlite-api.github.io/starlite/usage/12-openapi/?h=openapi#the-openapi-controller
the urls to /schema/openapi.yaml etc aren't mentioned until the last section, when these should be mentioned at the very top.

I tried just going to `/schema` b/c it was mentioned other places in the docs, but it gave a

[2022-01-26 19:43] Goldziher commented on #11
@philvarner thanks. Do you want to edit the docs?

[2022-01-27 01:53] philvarner opened #66 "header Parameter throws pydantic error"
These docs:
https://starlite-api.github.io/starlite/usage/3-parameters/#header-and-cookie-parameters

have the example for using a header parameter as:

[code]

when I try the (slightly modified) resource (since I don't have User in my app):

[code]

I get the error

[code]

This is on python v3.9.7 and pydantic 1.9.0 (which I'm not installing explicitly, and I think got installed as a dependency

[2022-01-27 06:11] Goldziher commented on #66
Peculiar. I'll check this out.

[2022-01-27 08:23] Goldziher commented on #66
Hmm, this is another error in the documentation

This is how it should be:

[code]

Notice the typing difference in token - Parameter is a default function value, not a type. I will update the docs with fixes.

[2022-01-27 08:33] Goldziher commented on #66
well, apparently there is also a bug involved - but unrelated to this issue. I am publishing 0.7.2 momentarily, which will also update the docs. Please check that this issue is resolved for you - and if so, close this issue.

[2022-01-27 08:37] Goldziher commented on #45
So, @vincentsarago - any input? otherwise please close

[2022-01-27 08:38] Goldziher commented on #43
I'm not sure how to go about this - no clue how to design the interface for this. suggestions? Perhaps there should be something like a pydantic config - which you could set on various levels. What do you think?

[2022-01-27 08:39] Goldziher commented on #61
Well, TBH its not meant to be a viable example with all the files included - there is an assumption there that python pacakges are in place etc.

We have an example project in the works, the problem is that its not finished yet.

[2022-01-27 08:45] vincentsarago commented on #45
yes Sorry @Goldziher

In a lot of our application we use endpoint which will return links to other endpoints (within the same app). The most obvious example I have in mind is TileJSON (https://github.com/developmentseed/pg_mvt/blob/master/pg_mvt/factory.py#L156-L202) where a user send request to the application and receive a TileJSON document referencing Tiles URL.

As mentioned, I've implemented

[2022-01-27 12:33] Goldziher commented on #45
Ok, starlite has a different architecture and this stuff won't work as such.

We could implement this as a method on the app instance, so you could do `request.app.urls_for()`. In the plural because the path is now paths as you know.

We can then also have a controller level method.

Would you like to take care of this issue?

[2022-01-27 12:49] vincentsarago commented on #45
yeah, I updated my code (but not pushed in GitHub yet)

[code]

I'm not quite sure how it will work at the application level because controller could technically mount same handler but with different path (prefix) so it won't be able to find only one solution.

Sadly I'm quite booked at the moment. We can totally close this issue for now

[2022-01-27 15:09] philvarner commented on #61
The example project would be great. My point was more that it's *almost* a viable example if it just used explicit imports rather than relying on the package-level init imports that don't exist. Totally fine if it's not intended to be.

[2022-01-27 17:15] philvarner commented on #11
I don't, sorry I can't contribute right now.

[2022-01-27 17:44] Goldziher commented on #11
thats fine. @yudjinn is taking care of this

[2022-01-27 21:41] Goldziher commented on #61
You can check this out- https://github.com/lesnik512/starlite-sqlalchemy-template

[2022-01-29 09:37] Goldziher commented on #62
the error message is updated in #71 to be more verbose and instruct the user regarding what needs fixing and wher.e

[2022-01-29 09:37] #62 closed

[2022-01-29 09:37] #61 closed

[2022-01-29 09:39] Goldziher opened #72 "[enhancement] add all contributors"
We need to add [all contributors](https://allcontributors.org/). Its a CLI tool or github bot that automatically updates the readme with all the contributors and their various contributions.

[2022-01-29 09:40] Goldziher commented on #45
Well, lets keep this issue open. Either you find the time, I do or someone else decides to pick it up.

[2022-02-01 18:26] ashwinvin opened #75 "[documentation] how to set cookies."
Currently, it is not mention in docs on how to set cookies although it is possible by leveraging `after_request` hook.
example:
[code]

[2022-02-03 19:57] Goldziher opened #77 "[enhancement] logging setup to be non-blocking"
The default logging config, which is just a simple abstraction on top of DictConfig, creates a standard python logger. The issue with this setup is that python logging is sync and blocking. This means that the logging config needs to be updated to setup a QueueHandler.

Here are some resources regarding this:

1. https://rob-blackbourn.medium.com/how-to-use-python-logging-queuehandler-with-dictcon

[2022-02-03 21:51] JonasKs commented on #77
We use [this](https://python-logstash-async.readthedocs.io/en/stable/) library with logstash, it's awesome.

[2022-02-04 19:24] madlad33 commented on #77
Hello, I would like to contribute and work on this issue.

[2022-02-04 19:27] Goldziher commented on #77
Great, looking forward to your PR 😃

[2022-02-06 17:25] Goldziher opened #81 "[refactor] the tests suite and add more tests"
You can never have enough tests - some parts of the tests are not great, it would be very nice to have more tests / better tests etc. Also it would be very good to find more bugs.

This ticket is meant to stay open - anyone can add PRs that point to it. Its also a place to aggregate discussions regarding the test suite.

[2022-02-06 17:27] Goldziher opened #82 "[infra] update mypy setup"
Currently mypy ignores the tests suite. Its a lot of busy work, but it would be awesome to have mypy run against the tests because we would be able to find typing issues this way quicker.

Note: Mypy is ran using `pre-commit`. To run it locally you need to have pre-commit installed, then install the pre-commit hooks with `pre-commit install`, and then run it with `pre-commit run --all-files`.

The

[2022-02-06 17:31] Goldziher opened #83 "[infra] github workflow for forks"
The github action doesn't run correctly for forks - we need to fix it so tests run also for forks.

A second level of this would be to add coverage reporting in github, so it becomes clear whats what with coverage.

[2022-02-15 16:17] tclasen opened #87 "Add redoc section to top level readme or documentation page"
When migrating from FastAPI or any other application framework where schemas are a big deal, it is very important to developers to know where to go to access the automatic schema (in this cases, ReDoc). While the README.md and documentation page specifically mentions that StarLite uses redoc, the URL it is hosted under is only mentioned as a side note in the openapi section for how to move it to a

[2022-02-15 16:55] tclasen commented on #87
Will be closed by https://github.com/starlite-api/starlite/pull/88

[2022-02-15 17:16] #87 closed

[2022-02-19 23:09] i404788 opened #92 "Version >0.6.0 breaks query parameters"
I haven't done extensive testing yet, but it seems like version >0.6.0 breaks query parameters as described in the documentation (https://starlite-api.github.io/starlite/usage/3-parameters/#query-parameters). ~~It gives 404 without every executing the function.~~

[code]
Output (1.2.0):
[code]

Output (0.6.0):
[code]

UPDATE: seems like it does run the function, but fails with 404 if there is a Ke

[2022-02-20 08:13] Goldziher commented on #92
Hi, it should return a status 400 not a status 404. Can you add a test marked by @pytest.mark.xfail?

[2022-02-21 19:03] #77 closed

[2022-02-21 20:36] Goldziher commented on #92
thank you @i404788 . V1.2.3 has been released with a fix. Please see if it resolves your issue and if so close this issue.

[2022-02-22 15:09] madlad33 commented on #72
I would like to work on this issue.

[2022-02-22 15:27] Goldziher commented on #72
great, go ahead

[2022-02-22 23:04] #92 closed

[2022-03-11 19:51] tsiresymila16 opened #96 "How to use socketio with"
Hi, Guys, I want to know, how to implement socketio  with this.

[2022-03-11 20:03] Goldziher commented on #96
Hi there,

I haven't tried it but looking at the codebase of the python socket.io implementation, i see this:

https://github.com/miguelgrinberg/python-socketio/blob/main/src/socketio/asgi.py

Which extends this:

https://github.com/miguelgrinberg/python-engineio/blob/47ada56b1ada2ed6eeb8c0fe172045bed321a037/src/engineio/async_drivers/asgi.py

So, once you have an instance of `socket.io` ASGIApp,

[2022-03-23 19:23] relsunkaev opened #97 "Enhancement: Use asgiref for typing"
Starlette's ASGI types use `MutableMapping[str, Any]` which is not too different from just typing them `dict`. This package is fully spec compliant and would help in implementing additional ASGI functionality, as it would allow us to see exactly which keys are available/required to support a feature. There is currently [a PR](https://github.com/encode/starlette/pull/1374) for Starlette that addres

[2022-03-23 20:21] Goldziher commented on #97
PR is welcome

[2022-04-10 14:05] slavugan opened #99 "access-control-allow-methods is "DELETE, GET, HEAD, OPTIONS, PATCH, POST, PUT" while only post defined"
My controller:
[code]
On preflight request it returns **access-control-allow-methods** header equal to "**DELETE, GET, HEAD, OPTIONS, PATCH, POST, PUT**" but only "**OPTIONS, POST**" should be there.

[2022-04-10 14:07] Goldziher commented on #99
Thanks for the report.

Can you add a failing test case? Would be great.

[2022-04-10 14:09] slavugan commented on #99
Not sure, but I can try.

[2022-04-10 20:45] slavugan commented on #99
Seems like this issue is related to Starlette `CORSMiddleware`

[2022-04-10 22:00] slavugan commented on #99
About test, you can just update existing one `test_setting_cors_middleware` by changing this line
`assert cors_middleware.allow_methods == ("DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT")` :slightly_smiling_face:

[2022-04-11 11:16] proz89 opened #100 "Static files with path="/""
Hi Guys,

I have a question about serving static files with `path="/"`.
I have found that the problem is here, in line 54.
https://github.com/starlite-api/starlite/blob/e9372128d490667402db2893e47f5cfda0917bab/starlite/asgi.py#L52-L55

Consider this static file configuration:
[code]
and following `view_dist` subdirectories:
[code]

Requests and its reponses:
[code]

The problems in points 3 and 4

[2022-04-12 04:28] Goldziher commented on #100
Thanks for the detailed issue and analysis!

I would suggest you clone the starlite repo and make your adjustment while running the tests. This will give you an indication of the impact of this change vis-a-vis other components. If your adjustment work, add another test to ensure that your use case is working correctly, and submit a PR.

[2022-04-12 04:28] Goldziher commented on #99
ok, I will check this out during the weekend.

[2022-04-15 09:24] slavugan opened #102 "Data validation error response is not usable on front end side"
For data validation in request handler parameters Starlite returns JSON
`
detail: "Validation failed for POST http://localhost:8000/api/a/brand/:\n\ndata -> age\n  field required (type=value_error.missing)"
extra: null
`
It is hard to use such response for form validation on front end side.

Besides validation errors breaks CORS middleware which makes response body unavailable for client app in br

[2022-04-15 09:41] Goldziher commented on #102
Can you show me some code so I understand the issue and potential solution?

[2022-04-15 11:42] slavugan commented on #102
For example we have some pydantic model and model controller
[code]

For example "value" field is missing in request data, we get such response
[code]
And CORS header is absent in response.

Pydantic ValidationError provides nice json and validation data which can be used for error response.

[2022-04-15 12:17] Goldziher commented on #102
so its two different issues.

1. CORS headers.
2. you are not happy with the json object being returned.

So, please create a different issue for the cors headers so we are able to track that one separately and lets focus here on the error object that is being sent.  Can you elaborate what is the problemn with this error object and how you would like the error object to be?

[2022-04-15 12:18] #81 closed

[2022-04-15 12:18] #11 closed

[2022-04-15 12:18] #72 closed

[2022-04-15 12:19] #75 closed

[2022-04-15 12:19] #96 closed

[2022-04-15 12:31] Goldziher commented on #99
So, i tested this as you suggested by adjusting that test. This is working correctly:

[code]

Note that `['OPTIONS', 'POST']` are used everywhere.

Now, I understand what the issue is as far as you are concerned. You want the allowed methods to be based not on a global configuration but be per endpoint. I am afraid this is not possible using the middleware pattern because middleware is unaware of

[2022-04-15 12:38] Goldziher commented on #100
ok @proz89 - I looked into this issue. Your solution will work well. Would you like to add a PR with the fix and a test to ensure its working? I can do this of course, but you already did most of the work :)

[2022-04-15 19:04] slavugan opened #103 "If ValidationException is raised CORS header is missing in response"

[2022-04-15 19:14] slavugan commented on #102
Response should contain field name or list of fields which not passed validation, error type to identify error on client side and some message for user to show.
Json provided by Pydantic validation is pretty fine, but it would be good to have possibility to change that data, maybe add translations to error messages or something else.

[2022-04-15 19:18] slavugan commented on #99
There is work going in this direction in Starlette https://github.com/encode/starlette/pull/1286, https://github.com/encode/starlette/issues/685, so I think it is better to wait.

[2022-04-18 21:44] slavugan opened #104 "Incorrect middleware call order"
### So I have an app with configured trusted host and CORS and some middlewares
[code]
### There are two problems here:

1. `SomeMiddleware2` called before `SomeMiddleware`. Normally we expect that middlewares will be called in order they were passed.
2. `cors_config` and `allowed_hosts` settings can't be used with other middlewares, as the other middlewares will be called before host check which

[2022-04-19 07:19] Goldziher commented on #104
Middleware are always called, also in Starlette. Why shouldn't they run for an `Options` request?

As for the order of middlewares, this is the pertinent code:

[code]

[2022-04-19 16:32] slavugan commented on #104
See my log, for `Options` request `TrustedHostMiddleware` is not called, because `CORSMiddleware` returns response.
For example what is the sense to run auth middleware for `Options` request or before host check?

[2022-04-19 18:49] slavugan commented on #104
Look how Starlette calls middlewares
[code]
and Starlette app
[code]
Also Starlette provide `ExceptionMiddleware` where I can catch validation errors and not break `CORSMiddleware`

[2022-04-20 09:22] Goldziher commented on #104
Lets keep this thread ordered.

1. You are saying the order of middlewares is incorrect, and the logging you posted above appears to support this. The simplest course of action I can suggest is that you submit a PR. Either with a fix for the issue if you identify it, or with a failing test case that demonstrates this, use the `@xfail` decorator so the test actually passes.
2. The starlette app you

[2022-04-21 08:24] slavugan commented on #104
Despite the fact that in Starlie `TrustedHostMiddleware` is placed before the `CORSMiddleware`, as you can see in my log for Starlite `CORSMiddleware` is called first. But for these two middlewares any order is fine I think. As `TrustedHostMiddleware` does not return any useful data in the body.
But if some middleware returns data in the body which client app needs to read it is important to call

[2022-04-21 20:20] slavugan commented on #104
Added PR https://github.com/starlite-api/starlite/pull/105

[2022-04-25 17:57] #104 closed

[2022-04-25 19:47] slavugan commented on #104
Great! Thanks.

[2022-05-07 10:34] sinisaos opened #107 "[Question] Mount Piccolo Admin to Starlite app"
Hello,
First I want to thanks all for this great new framework.
I would like to implement a Starlite asgi template for [Piccolo ORM](https://github.com/piccolo-orm). Piccolo ORM is an easy-to-use async orm with an integrated web admin. Piccolo ORM currently support Starlette, FastAPI, BlackSheep and Xpresso (all this frameworks support mounting asgi apps) and it would be nice if we could add Starl

[2022-05-07 14:04] Goldziher commented on #107
Hi, have you tried using the `asgi` decorator?

[2022-05-07 15:29] sinisaos commented on #107
@Goldziher Yes, I have already tried this without success, because the asgi decorator function must return the response (if response is not ok we get 500 error `ImproperlyConfiguredException: Unable to serialize response content`) not the asgi app.

[2022-05-07 15:59] Goldziher commented on #107
can you show me some code? how did you use it?

[2022-05-07 16:48] sinisaos commented on #107
@Goldziher I'm not home right now. Tomorrow I will make a github repo with whole Piccolo template and post the link here.

[2022-05-08 06:12] Goldziher commented on #100
v1.3.2 released with this fix. thanks for your issue!

[2022-05-08 06:12] #100 closed

[2022-05-08 07:08] sinisaos commented on #107
@Goldziher Here is a [repo](https://github.com/sinisaos/starlite-piccolo). Starlite changes are in [app.py](https://github.com/sinisaos/starlite-piccolo/blob/main/app.py) and [endpoints.py](https://github.com/sinisaos/starlite-piccolo/blob/main/home/endpoints.py) and all other files are the same for all starter asgi templates. Take a look at the comments I left in the code. You can git clone repo

[2022-05-08 07:31] Goldziher commented on #107
Great, I'll check it in the evening.

[2022-05-08 14:44] Goldziher commented on #107
Ok, so looking at the code, you currently have this:

[code]

But I don't understand why you'd use the response app there - response is an ASGI app that returns http responses. What you want is something like this instead:

[code]

I also don't see the point for the middleware - a middleware is basically a pipeline to either evaluate a request or modify it, what you want is to basically have an AS

[2022-05-08 16:23] sinisaos commented on #107
@Goldziher I agree with you and that’s why I asked the question here because I dont know how to make Piccolo Admin to work with Starlite.
[code]
This is not working (error `404 Not Found`).

[2022-05-08 16:27] Goldziher commented on #107
I see. Is piccolo exposing an asgi app?

[2022-05-08 16:44] sinisaos commented on #107
Here is Piccolo Admin [docs](https://piccolo-admin.readthedocs.io/en/latest/asgi/index.html) about asgi.
In Starlette or BlackSheep we can easily mount Piccolo Admin like this.
[code]

[2022-05-08 17:00] Goldziher commented on #107
so, you get a 404 because you didn't add the admin function into the route handlers:

[code]

[2022-05-08 17:03] Goldziher commented on #107
I am getting an internal server error after i created the user as per the documentation served from 127.0.0.1:8000, but i am running the DB in docker etc. and have no clue if im using this correctly. I did attach a debugger to this stuff, but I am not sure I want to really delve into this code to figure out why the fast api based admin is not working 😉

[2022-05-08 17:19] sinisaos commented on #107
I already added the admin function to `route_handlers` before and get an error.

No problem. There doesn't seem to be an easy way to mount Piccolo Admin, but it doesn't matter, I just wanted to give it a try. Thanks for your time and help. I will close this issue. Cheers.

[2022-05-08 17:26] #107 closed

[2022-05-08 17:26] Goldziher commented on #107
Sure thing. Note- for my money this is mounted, there is an error being returned from it, but the cause of the error cannot be ascertain without debugging the code internally. The issue is no longer with the mount - its something else. @sinisaos

[2022-05-08 17:37] sinisaos commented on #107
@Goldziher Nevermind. It was just my little experiment and trying out a new framework.

[2022-05-09 17:28] arthurxlee opened #108 "TestClient() ignores Starlite(on_startup=[...])"
For `my_app/main.py`
[code]
This test will fail. `tests/test_health_check.py`
[code]
The error ```'State' object has no attribute 'value'``` indicates, `on_startup()` were not executed prior to the test execution.  It ran as expected when using uvicorn.

[2022-05-10 04:43] Goldziher commented on #108
Thanks for the issue. I'll look into it in the weekend, unless you or someone else do so first.

[2022-05-13 19:25] Goldziher commented on #108
Hi, ok I looked into it and updated the documentation. To have `on_startup` called you need to use the client as a context manager. Here is the test I added and passes:

[code]

[2022-05-13 19:26] #108 closed

[2022-05-14 00:55] arthurxlee commented on #108
Congratulations to this great project. Thank you for your help.

[2022-05-14 07:20] arthurxlee commented on #108
A minor follow up,  the following code using pytest fixture should also look like:
`tests/test_health_check.py`
[code]

[2022-05-14 10:54] Goldziher commented on #108
True. Would you like to add a PR?

[2022-05-19 06:55] zy7y opened #111 "List[User] in openapi is displayed as Any"
# code
[code]
# result
![image](https://user-images.githubusercontent.com/67154681/169229144-bb6c3afd-b73b-4c3d-9e89-c6d4e2c59d19.png)
And how to access the interactive openapi documentation fastAPI is used in /docs
Can you tell me what to do?

[2022-05-19 17:39] Goldziher commented on #111
Evening and thanks for reporting the issue. I will take a look in the weekend.

As for the question regarding "interactive" openapi docs. This is Swagger UI. It doesn't support OpenAPI 3.1 and until it does it will not be included in starlite, see this issue for tracking: https://github.com/swagger-api/swagger-ui/issues/5891

[2022-05-19 17:40] Goldziher opened #112 "[Enhancement] Update Redoc"
We should update [redoc](https://github.com/Redocly/redoc) to the latest version.

[2022-05-20 01:15] zy7y commented on #111
Thank you for your reply

[2022-05-20 01:15] zy7y commented on #111
Thank you for your reply

[2022-05-22 10:36] peterschutt opened #113 "DTO Factory changing not nullable fields to Optional"
SQLAlchemy 1.4.36, Starlite 1.3.3, pydantic 1.9.1

[code]

https://github.com/starlite-api/starlite/blob/b95519c6c325074d9209f36119d749532d506ae1/starlite/dto.py#L140-L145

The model field hits the first line of the if statement, `if model_field.field_info.default is not Undefined:`, and as you can see in the above script, for the `FromPlugin` model that is `Ellipsis`, so it enters the block and r

[2022-05-22 13:30] Goldziher commented on #113
Looks like a bug. Wanna make a PR?

[2022-05-22 23:43] peterschutt commented on #113
I'll have a crack, but I'm not super familiar with pydantic internals.

Is there anything special about using the `...` in place of `Undefined`?

`DTOFactory` changes any `FieldInfo.default` from `PydanticUndefined` to `...`. Am I right that this means the `...` symbolizes that there is no default, so not-optional, which internally pydantic represents with `PydanticUndefined`?

In the same context

[2022-05-23 06:14] peterschutt commented on #113
Lmk, if you want me to break up the patch into separate issues.

[2022-05-23 08:25] Goldziher commented on #113
So in pydantic `...` usually means that the field is required. The pydantic `Undefined` class is meant to signify that no value is given, even not None - because None is a specific value in type checks.

[2022-05-24 01:02] peterschutt commented on #113
I'll break the issues out.

[2022-05-24 01:56] peterschutt opened #115 "DTOFactory.__call__() unnecessarily modifies FieldInfo"
The field is neither excluded, nor mapped so the least surprising thing would be that the field stays the same. This can be achieved as `create_model()` accepts `FieldInfo` for attributes.

[code]

`create_model` doc:

But also see: https://github.com/samuelcolvin/pydantic/issues/4041 as turns out it still needs to be passed as `(<type>, <FieldInfo>)` tuple.

[2022-05-24 02:24] peterschutt opened #117 "Pytest failure: ValidationError"
[code]
Occurs after #116.

[2022-05-24 02:54] peterschutt commented on #117
Nvm, solved it in #115

[2022-05-24 02:54] #117 closed

[2022-05-24 03:19] peterschutt commented on #115
TBH, the more I think about this one, the less it bothers me. Unless you had someone with a specific issue it probably isn't worth the churn.

It might be a slight improvement in efficiency by passing the field info straight through, but I'm sure most of the time `DTOFactory` will be called in module scope anyway, so who cares. So then, if the only issue is that `model_info.default` flips from `Un

[2022-05-24 20:45] Goldziher commented on #115
please rebase ur PR and we can proceed.

[2022-05-25 06:39] #115 closed

[2022-05-25 06:40] #113 closed

[2022-05-29 14:37] #112 closed

[2022-05-29 14:38] Goldziher commented on #111
So, I could not reproduce this. Can you perhaps create a demo repo that shows this issue?

[2022-05-29 14:42] #83 closed

[2022-05-29 14:44] #99 closed

[2022-05-29 17:11] Goldziher commented on #102
Ok, so version 1.3.6 introduces an update to this. Validation errors will be returned with the following  body:

[code]

[2022-05-29 17:18] Goldziher commented on #103
Can you give me an example so its clear what behaviour you expect here?

[2022-05-29 17:20] Goldziher commented on #102
v1.3.6 released.

[2022-05-29 17:20] #102 closed

[2022-05-30 01:30] zy7y commented on #111
sorry, here have user model attributes
![image](https://user-images.githubusercontent.com/67154681/170901415-45cea763-aaf9-4a52-ad1e-f5b64cd3bbbc.png)

[2022-05-30 01:30] #111 closed

[2022-05-31 08:31] peterschutt opened #123 "Detect where `__call__` is `async def` in context of `iscoroutinefunction()`"
My use-case is basically a guard that I create with some state:

[code]

Without passing through the `__call__()` method, starlite tries to call the instance sync.

As of [`0.20.1`](https://github.com/encode/starlette/releases/tag/0.20.1), starlette themselves include this utility:

[code]

And a handful of test cases: https://github.com/encode/starlette/blob/master/tests/test__utils.py

Based on

[2022-06-04 01:07] peterschutt opened #127 "OpenAPI: Nested Router Duplicating Query Params"
This is from the example app after updating to `1.3.9`.

I have a nested router to extend the `/users` route to represent user items as `/users/{user_id}/items`.

[code]
This is how the schema is representing for the nested items list route:

![image](https://user-images.githubusercontent.com/20659309/171970509-b1c47eae-0c90-4032-b06f-88bcd27983d4.png)

Haven't had time to dig in to find source of

[2022-06-04 01:30] peterschutt opened #128 "Mark that a dependency should never be a query parameter."
This is a side-effect of the change in `1.3.9` and the way that I've structured the consumption of dependencies in the example app.

The `__init__()` method of the repository looks like this:

[code]

If the repository is included as a dependency and if the the `limit_offset` and `updated_filter` dependencies are available those dependencies get consumed by the repository, and their dependencies e

[2022-06-04 09:46] peterschutt commented on #127
So the issue is caused by the way that I'm using the dependencies in the example app.

[code]

I have a User repository:

[code]

And an Items repository which has specific methods that operate on a specific user items.

[code]

The key thing is that the `ItemRepository` methods require a `UserModel` in their arguments.

So I include the `UserRepository` _and_ the `ItemRepository` in the dependenc

[2022-06-04 09:50] peterschutt commented on #127
This is the MCVE

[code]

[2022-06-04 10:00] Goldziher commented on #127
So, the issue is with how dependencies are resolved. For money duplicate keys should be handled by at least deduplication, but perhaps also exception throwing during startup.

How about: deduplication if both key and value are identical. Otherwise, on key collision, raise an exception with a meaningful message?

[2022-06-04 17:30] Bobronium opened #130 "Move `requests` to `testing` extra"
I was inspecting starlight dependencies and was confused to see `requests` being required without any obvious reason.

I found #13 then, but I disagree with the resolution since I believe libs required for testing purposes should not be installed for normal use. Now it only one lib (with several dependencies), but imagine if more dependencies would be added for testing.

#### What I propose:
1. Mo

[2022-06-04 18:09] Goldziher commented on #130
Hi @Bobronium. This will be a breaking change because the test client etc. are returned from the bottom level `__init__` at present.

[2022-06-04 18:20] Bobronium commented on #130
@Goldziher, indeed. How big of an issue is that? Is that an only issue you see in the proposal?

[2022-06-04 18:39] Goldziher commented on #130
Well it is. I understand if you want to make it an extra to remove it from the production code - that's fine. But a breaking change is a problem. Is there a way to add it to extra and have it as the default install path? Otherwise I think this is a no go TBH. The other issue is documentation - it needs to be made clear that this is required for the testing component etc.

[2022-06-04 18:44] Bobronium commented on #130
We can overcome this by declaring `__getattr__` to make smooth transition then:
`cat starlight/__init__.py`
[code]
`python -c "from starlite import TestClient; print(TestClient)"`
[code]

[2022-06-04 18:47] Goldziher commented on #130
go ahead and make a PR if it's not a big issue. @peterschutt and myself will check it out - I am apprehensive about breaking code for users TBH, but i am will to test it first.

Thanks for contributing!

[2022-06-04 21:20] peterschutt commented on #127
This is a clearer example than the one above, just putting it here for clarity.

[code]

So, where multiple dependencies of the route declare a parameter of the same name.

[2022-06-04 21:30] peterschutt commented on #128
What about a user-land configuration that is similar to the `RESERVED_KWARGS` constant, and if a field name appears in there, it is ignored for doc-generation purposes?

[code]
The collection of names could be configurable at each level of the app hierarchy and resolved for the handler similar to dependencies.

I'm not sure what such a configuration should be named, which is why I've used that awk

[2022-06-04 21:58] timwedde commented on #128
Hm this indeed seems like a bit of a tougher issue to resolve. It effectively comes down to telling apart an unsatisfied dependency from an optional query/header/cookie parameter.
As it is I don't think we can, an optional type with a `None` value is the same between those two cases, so maybe an approach here would be to explicitly mark dependencies that can be unsatisfied/optional, like you sugge

[2022-06-05 01:58] peterschutt commented on #128
That's a good clarification of the issue, thanks.

LMK if I'm off the mark anywhere.

Dependencies have a few properties that are interesting to the problem:
- dependencies are either allowed to be parameters or not (will be marked at injection point with type annotation)
- dependencies are either required to be provided via the injection mechanism, or not (marked at injection point with a default

[2022-06-05 04:39] Goldziher commented on #128
Hi guys, great to see this kind of process here finally 😀.

I see no issue with going for a minor version (1.4.0) rather than a patch version (1.3.10). The change here is also not a backwards breaking change really, although it might cause some exceptions raised in update. It's just important to ensure that the exception communicates the solution clearly, but that's easy to do.

[2022-06-05 10:57] timwedde commented on #128
To be honest, my knowledge of advanced type hinting is still somewhat lacking, so I'm not 100% sure on the ramifications of this. I'm sure there's a cleaner way to implement a dummy-type of sorts like this, I just don't know of it yet. Suggestions on how to handle this better a definitely welcome. The only requirement for this annotation is that we'll be able to tell it apart from the class it wra

[2022-06-05 12:27] peterschutt commented on #128
So I just ran this little test:

[code]
and mypy complains:

[code]
If we lose the actual type of the dependency where it is injected it is less than ideal.

I wonder if it could work if we follow the pattern that is already used by the [`Parameter`](https://starlite-api.github.io/starlite/usage/3-parameters/#the-parameter-function) function, e.g.:

[code]
(I'm not necessarily advocating for the n

[2022-06-05 16:26] Goldziher commented on #128
Wouldn't it be simpler to add an exclude option to route handlers that allow excluding specific keys from the openapi docs?

From my PoV the fact that the Repo has these parameters declared and is in the dependency chain mean that the parsing is correct. We cannot know in advance where these will be required or not.

I would therefore propose something along these lines:

[code]

[2022-06-05 16:33] timwedde commented on #128
Would that work for the pattern where `limit_offset` may be defined at an arbitrary depth up the dependency tree above the handler method in your example? I.e. it might only be defined at the controller level. Should the exclude list affect things beyond its own scope? In such a case, the handler method would affect dependencies on the controller, at least for schema generation.
Imho the parsing i

[2022-06-05 17:45] Goldziher commented on #128
You'd use exclude only on route handlers, which are the "root" level as far as schema generation is concerned, so yes, I think it will resolve the issue. Or perhaps I don't understand it in full.

[2022-06-05 20:00] peterschutt commented on #128
In example you've used, it is redundant to exclude those dependencies at the handler level as they are provided for that route and so get resolved to their underlying parameters correctly. The issue is for routes where the dependencies are not provided. E.g.,

[code]

That would have to be repeated for every other route that needs to exclude them.

However, [My initial](https://github.com/starlite

[2022-06-05 20:31] timwedde commented on #128
Yeah, if there's no way to keep the type then 2 is indeed not really workable. I did toy around with distinct None type unions like I edited in my previous post but that's likely too hacky in any case.

The exclude by value (3) is getting somewhat close to FastAPI's way of resolving dependencies where you simply declare a `Depends(method)` every time you need to inject something as a dependency. T

[2022-06-05 22:44] peterschutt commented on #128
Just for interest's sake, I'd love to know if there is a solution for this type of thing, even if we don't use it. Perhaps it could be solved with a plugin to override the type within the scope of the function, but after reading the status update from SQLAlchemy on [Mypy / Pep-484 Support for ORM Mappings](https://docs.sqlalchemy.org/en/14/orm/extensions/mypy.html), I'm not sure supporting a plugi

[2022-06-06 01:15] peterschutt commented on #128
On the topic of where, if at all we should raise that exception we've discussed, if a dependency is duplicated it raises out of `handlers.base.validate_dependency_is_unique()`:

[code]

[2022-06-06 05:51] Goldziher commented on #128
So respective of what you guys wrote above about options 1,2,3.

Option 3 is possible, it's basically equivalent to the pydantic `UnDefined` type. Mind you, it's going to be annoying to type and from my PoV it's not actually more ergonomic - I dislike parameter bloat. Still, if you guys feel strongly about it, it's fine by me - I don't think there is right or wrong here.

Option 1 is simplest and

[2022-06-06 12:09] peterschutt commented on #128
I've done a quick and dirty implementation of each approach in my fork, and also a branch applying each approach in the example app.

### Exclude by name approach
Starlite: https://github.com/starlite-api/starlite/compare/main...peterschutt:exclude-by-name
Example app: https://github.com/starlite-api/starlite-pg-redis-docker/compare/main...peterschutt:with-exclude-by-name

### Exclude by value app

[2022-06-07 03:16] peterschutt commented on #128
OK I'm pretty sure I know where I sit on this now.

TL;DR
---
I propose adding a `Dependency` function that sits alongside `Parameter` and `Body`. I think it fits, and that `Dependency` deserves to be a front-line name in the starlite api, not buried inside the kwargs module with a narrow, mostly internal scope of usage.

My reasoning follows.

Thinking about the app at runtime from an information

[2022-06-07 03:21] peterschutt opened #131 "Dark docs theme is challenging to read"
.. at least for me.

![image](https://user-images.githubusercontent.com/20659309/172288722-4cee6933-d28b-4f13-b748-c69f23599bce.png)

The dark text on dark background is the issue.

It looks like this changed recently?

[2022-06-07 03:25] peterschutt opened #132 "Documentation: Add API documentation using Doctstring Annotations."
I really miss having API docs generally available.. this isn't just a starlite issue, but in general I notice that developer docs are more tailored to the beginner by being mostly prose and metaphor.

I actually agree with that though, ease of uptake is important, but that doesn't mean api docs can't be buried somewhere via some tiny obscure link at the bottom of the page somewhere.

https://githu

[2022-06-07 05:33] Goldziher commented on #132
Go ahead, I just got exhausted from writing docs 😀

[2022-06-07 05:34] Goldziher commented on #131
Perhaps due to the recent updates to mkdocs. Let's ask @dkress59 to assist with improving the docs.

[2022-06-07 05:38] Goldziher commented on #128
I already looked at both. As I wrote earlier, both solutions are fine by me. If you feel this is the better solution, go ahead .

[2022-06-07 06:16] peterschutt commented on #128
Yep cool, I know you were on board but I just want to be very clear about what I'm doing and why, especially given that you only threw me the keys a couple of days ago.

So especially, I just want to know you are on board with me taking the name "Dependency", and that there'll be another possible startup exception case, both of which are new to the conversation. So I'll now press ahead.

Thanks!

[2022-06-07 06:22] Goldziher commented on #128
I am 💯 onboard

[2022-06-07 08:03] timwedde commented on #128
That does make sense to me, since the argument is effectively exactly the same as for the `Parameter` stuff that already exists in Starlite, so it's probably the most sensible way forward since it's the most similar approach we can likely come up with.

[2022-06-07 23:28] peterschutt commented on #131
Thanks @dkress59!

[2022-06-07 23:32] peterschutt commented on #132
Haha, I can totally understand that, and I hope my comment didn't come across as diminishing in any way to the work you've done!

@Goldziher do you have a preference for docstring style? I prefer the numpy style myself.

@dkress59 I'm only asking your opinion here as I see you were tagged into the other docs issue, so assume you are across the mkdocs setup? I've only used readthedocs and sphinx in

[2022-06-07 23:33] peterschutt commented on #128
Thanks for feedback guys.

[2022-06-08 04:13] Goldziher commented on #132
Not really, as long as the comment style is consistent I'm good.

[2022-06-08 05:01] peterschutt commented on #132
Great, thanks.

[2022-06-08 08:55] dkress59 commented on #132
I'm not exactly sure what you question is but I'll try to answer 😄
I've only ever used mkdocs and docsify, so I have no opinion of  sphinx or readthedocs.
I'm mostly responsible for the appearance of the starlite docs and I've always wanted to go over it once more to improve readability/ease-of-use: making paragraphs easier to skim by making keywords bold, introducing more paragraphs, splitting lo

[2022-06-08 09:04] peterschutt commented on #132
Thanks for your reply @dkress59.

This issue is specifically about adding api reference docs. I linked a tool that I would probably try to use if I was to undertake the task, and I was trying to see if you had some opinion as @Goldziher linked you into the other docs issue that I raised.

Sorry if I was unclear.

[2022-06-08 09:06] dkress59 commented on #132
yeah that mcdocstrings plugin looks awesome!

[2022-06-08 09:22] peterschutt commented on #132
Yeah, out of all the plugins listed for autogen api docs in the mkdocs wiki, it seems to be the most supported/active.

There's another issue I'm working on that will have a bit of a docs component to it. I'll hopefully find my way alright but if I need any assistance would you mind if I ping you?

[2022-06-08 09:26] dkress59 commented on #132
wouldn't mind at all!

[2022-06-08 12:19] peterschutt commented on #128
- [ ] Implement `Dependency` function - consider the params that we expose from `Field`.
    - test use of `Field.default_factory`
    - some in/out tests that test that the custom stuff we put in `FieldInfo.extra` is there.
- [ ] Implement skip declared dependencies for parameter documentation if the dependency not provided.
    - test declared optional type and undefined default, e.g., `dep: int

[2022-06-11 14:58] vrslev opened #138 "Inherited Pydantic's GenericModel or dataclasses as dependencies"
Dependency that outputs instance of a class that inherits from a class that inherits from `pydantic.generics.GenericModel` or `dataclasses.dataclass` (I know 😃) are reverted back to their base classes.

[code]

As you can see, there are `Store` class that inherits from `GenericModel` and `DictStore` that implements `Store`. We set up dependencies in such a way that `store` argument corresponds wit

[2022-06-11 16:06] Goldziher commented on #138
Hmm. Interesting. You're Welcome to add a PR. Otherwise, can you add a failing test?

 @peterschutt and myself will take a look.

[2022-06-11 16:08] vrslev commented on #138
@Goldziher I'm not sure where to begin with a PR. Can you point out the place in code dependency resolution coupled with Pydantic parsing lives?

[2022-06-11 18:13] Goldziher commented on #138
Lemme take a look - always a good starting point is a failing test, so ill see about that.

[2022-06-11 18:28] Goldziher commented on #138
Ok, I see the issue - hmm, will work on a fix now.

[2022-06-11 18:48] Goldziher commented on #138
Ok, so the issue is this: we use the type annotations to determine what kind of value should be injected. In this case, its the return value of the `get_item_store` function, which is typed as returning `Store[Item]`. We have to do this because we are pre-computing the requirements during application bootstrap, which ensures this is performant - otherwise we will need to dynamically compute and th

[2022-06-11 22:59] peterschutt commented on #138
This is worth discussing.

I'm spending a bit of time to understand this area of the code more completely before I commit to an opinion, but maybe it is feasible that we 'trust' the developer in cases where we know the parameter to the handler function is a dependency and just send `Any` to `create_model()` so pydantic passes the result straight through. Or we have a "trust-me" mode `store: Store[

[2022-06-12 00:35] peterschutt commented on #138
Pydantic does behave differently if there are generics involved. Take modified test with all the generic stuff stripped out which passes:

[code]

So pretty confident we'd have to take the behavior of pydantic as a given. The way I see it that leaves:
- document the issue and leave it
- try to do some tomfoolery in `SignatureModel.parse_values_from_connection_kwargs()` where we compare the value p

[2022-06-12 05:53] Goldziher commented on #138
I don't think this is feasible. Let's leave this issue open for now and revisit it once you're more familiar with the pertinent code.

[2022-06-13 08:00] vrslev commented on #138
@Goldziher
Obviously we shouldn’t add any code that breaks abstractions just to support Pydantic generics.
What do you think about removing dependency validation?

[2022-06-13 08:27] Goldziher commented on #138
I would rather have validation than not, so strictly removing is not in the books IMO. What's possible is to consider making this optional or configurable. If we can do the following:

1. ensure there is a simple and intuitive API for configuration validation
2. ensure that the dependency resolution and injection is not negatively affect by this change
3. preserve existing functionalities

This wo

[2022-06-14 09:45] peterschutt commented on #128
Closed in #137

[2022-06-14 09:45] #128 closed

[2022-06-14 09:46] peterschutt commented on #127
Closed in #129

[2022-06-14 11:46] peterschutt commented on #131
Whatever the cause, it was introduced in 1.3.9 with mkdocs-material bumped from 8.2.16 to 8.3..

Maybe we should pin to 8.2 for now?

[2022-06-14 12:01] Goldziher commented on #131
Go for it

[2022-06-14 16:02] dkress59 commented on #131
sorry guys I'm in the middle of moving 📋 🚚 📦 📦

[2022-06-14 16:56] relsunkaev commented on #97
There is currently a discussion going on about splitting away the types from `asgiref` into a separate package. It would allow maintainers to depend on just what they need for typing instead of the entirety of `asgiref`.

[2022-06-15 00:02] peterschutt opened #141 "Any response type for `Respose.serializer()`"
`Response.serializer()` passed to `orjson.dumps()` in `Response.render()`:

[code]

`Response.serializer()` return type is `dict[str, Any]` but should be `Any` as overriding `serializer()` is the way to extend orjson for any type. Currently I need a `#type: ignore` for a subclass:

[code]

Otherwise mypy gives us:
[code]

[2022-06-15 00:37] peterschutt opened #142 "`Provide` and `@classmethod`"
`Provide(Something.new)` where `new()` is an `@classmethod` doesn't work.

repro:

[code]

Stems from here:
https://github.com/starlite-api/starlite/blob/4c411b4e260c1db0d1e8f9beba3e888e7f1e7a89/starlite/provide.py#L22-L24

I think the current pattern is to prevent the callable becoming an instance method of the `Provide` instance, which perhaps would be better done with `self.dependency = staticm

[2022-06-15 06:39] vrslev commented on #138
I like that Starlite validates dependencies! And I don't know the code base good enough to make this bold changes.

My main use case was to use `dataclasses` with `typing.Protocol`. I ended up with the solution where base class `Store` is not a `dataclass` so Pydantic can't convert `DictStore` to `Store`.

[code]

[2022-06-15 07:30] peterschutt commented on #138
I think validation of dependencies is ultimately a good thing, but I reckon it needs more thought.

Take this test:

[code]

In this case, we resolve that `value` is a dependency yet still return a 400 when the validation fails yet the client has no way to control that validated value. The response should be 5XX.

So yeah, it is neat to have validation on dependencies, but the paradigm isn't "righ

[2022-06-15 08:04] Goldziher commented on #138
Fair points

[2022-06-15 16:43] Goldziher commented on #142
Well, the issue is that if self is used inside the method, making it static will break the code. This is why this is in place. But there is a test for it -

[code]

The issue above seems to be you are using a static method, which is still being forwarded `self`. So the bug here is that static methods are not handled correctly by provide. Am I correct?

[2022-06-15 16:44] Goldziher commented on #141
fair enough, also wouldn't affect existing users negatively so go ahead.

[2022-06-15 19:27] Goldziher commented on #130
So, should I close this issue?

[2022-06-15 19:29] Goldziher commented on #138
So what's actionable here?

1. status for dependency validation should be changed to 500.

Anything else?

[2022-06-15 19:30] Goldziher commented on #131
So, I reverted the pin - it didn't resole anything. We have an actual bug here I think, and we need an update to the CSS etc.

[2022-06-15 19:42] Bobronium commented on #130
If you don't consider this an issue, sure.

I'm still positive on implementing this. Just haven't have time to do it yet.

[2022-06-15 19:43] Goldziher commented on #130
If you're going to implement it, I'll keep it open.

[2022-06-15 22:52] peterschutt commented on #131
Hmm, ok. Definitely resolved it locally with `mkdocs build` but I don't know enough about mkdocs and the custom css to know if there was a difference between my local environment and the production one.

[2022-06-15 23:22] peterschutt commented on #138
Here's what I'd like to have resolved:

1. do we want to give developers a way to avoid pydantic validation of their dependency altogether (I've put this as 1. as I want to ensure that I haven't hijacked the primary issue here).
2. status for dependency validation should be changed to 500.
3. order of priority when there is both a client side and dependency validation error, e.g., raise in order o

[2022-06-15 23:51] peterschutt commented on #142
In my case, `Service.new` is a `@classmethod`.

At least in 3.10, assigning an instance method to another class instance doesn't seem to overwrite `self`:

[code]
`staticmethod` doesn't seem to change the behavior so is probably unnecessary and a red herring:

[code]

I think I'll do up a test for each type of callable that could conceivably be passed to `Provide` and go from there. Anything you'd

[2022-06-16 06:10] vrslev opened #143 "pydantic-factories testing examples"
Testing page in docs has a tip that `pydantic-factories` package is bundled with Starlite. The problem is that there’s no example why it is useful. As I can see Starlite uses the package mostly for generating OpenAPI examples. I think we should either don’t mention `pydantic-factories` on testing page or add an example how to use it.

[2022-06-16 08:07] Goldziher commented on #131
Well, maybe Im wrong. I repinned it and am deploying. Lemme know if its resolved -- i am myself color blind and cannot be trusted :)

[2022-06-16 08:52] vrslev opened #144 "Having body causes duplicate log entries"
Take the example and run it with `uvicorn`:
[code]

You will notice that all log entries are duplicated:

[code]

If you change `value` type to string i. e. it would change to be query parameter:
[code]
then duplicate entires disappear:

[code]

[2022-06-16 09:44] Goldziher commented on #144
That's not body, that's a query param of a type that can't be handled. If you change the key from value to data what happens?

The issue here is that the errors are swollen, no?

[2022-06-16 09:57] peterschutt commented on #144
Seems to occur irrespective of handler method, e.g.,

[code]

[2022-06-16 16:30] Goldziher commented on #143
Well, I am all for adding some examples 😉 .

Wanna give it a go?

[2022-06-16 16:31] Goldziher commented on #142
I'd add static methods.

[2022-06-17 02:42] peterschutt commented on #142
I've got https://github.com/starlite-api/starlite/tree/issue-142-provide with a refactor of the `test_provider.py` module and a fix.

So far, the fix is just removing the lines where we maybe convert the callable to a `partial`.

@Goldziher if you can remember some specifics of a case that required that logic I'll add a test for it and solve it, but for now I've got all of those callable types lis

[2022-06-17 04:40] vrslev commented on #143
Sure!

[2022-06-17 05:51] Goldziher commented on #142
Reviewed

[2022-06-17 06:38] mybigman opened #148 "router with path already registered"
Thought I'd have a little play with Starlite as it seems nice.

`https://starlite-api.github.io/starlite/usage/1-routers-and-controllers/#registering-routes`

[code]

[code]

[code]

From what I am reading on the docs this should work? However it fails with

[code]

[2022-06-17 10:04] peterschutt commented on #148
OK, so I roll all those components into a single file as I cannot guess how your project structure is configured, and I don't get the same error.

If you can provide a minimal, reproducible example, I'll have another look.

Here is my test:

[code]

[2022-06-17 10:26] #142 closed

[2022-06-17 10:36] Goldziher opened #151 "Enhancement: Add a CLI"
We should consider adding a CLI that will allow users to quickly scaffold a project with a default folder / file structure, readme, tooling etc.

A good example is the NestJS CLI.

I'd like to discuss this proposal in this issue.

[2022-06-17 10:38] Goldziher commented on #43
Thoughts on this one @peterschutt ?

[2022-06-17 10:38] #103 closed

[2022-06-17 11:12] peterschutt commented on #141
I'm not getting the error now, so perhaps an xy problem. I'll reopen if I come across it again.

[2022-06-17 11:12] #141 closed

[2022-06-17 11:13] peterschutt commented on #151
`poetry new` is the first example that stands out to me. They have [cleo](https://github.com/python-poetry/cleo.git).

[2022-06-17 11:45] peterschutt commented on #43
I don't know...

Given the above example, I'd prefer to have a user model:

[code]

and a create-user model:

[code]
And then only use the `CreateUser` model for post:

[code]
Otherwise I'd need all that boilerplate, e,g,:

[code]
or whatever that would turn out to be, for every method that returns a `User`.

Maybe a more real-world example would help to convince me.

[2022-06-17 12:52] Goldziher commented on #43
Ok. I'm closing this then.

[2022-06-17 12:52] #43 closed

[2022-06-17 13:22] mybigman commented on #148
Using a single file works... but split fails :/

https://github.com/mybigman/test-starlite.git

[2022-06-17 14:21] peterschutt commented on #148
The issue was caused by the import and load of uvicorn inside of `main.py`. I made a PR into your repo with a bit of a refactor that works.

https://github.com/mybigman/test-starlite/pull/1

@Goldziher I don't think this is a bug on our side, but probably another tick in the box for a cli that bootstraps a standard project template with some instructions in the readme.

[2022-06-17 15:33] mybigman commented on #148
@peterschutt thanks for taking the time too look and PR.

I believe it should work the way it is though?

If I make a change to `toml` using the start feature and relative imports it works.

[code]

Then run `pdm run start`

Something funny going on there that I am just not seeing.

[2022-06-17 18:08] vrslev commented on #144
@peterschutt

When I commented out all logging statements in `openapi-schema-pydantic` package it started working fine.

https://github.com/kuimono/openapi-schema-pydantic/search?q=logging

[2022-06-17 18:16] vrslev commented on #151
I think it is a great idea in context of Starlite project.

I really like the one that Vue 3 has: https://vuejs.org/guide/quick-start.html#local. Very powerful yet approachable.

[2022-06-17 20:30] peterschutt commented on #144
Ah OK, good spot @vrslev.

I've just had a look and they use the module level logging handlers like `logging.info()` rather than setting up a library scoped logger.

From logging docs:

By letting it call `basicConfig()`  another handler gets added to root logger and hence the duplicated messages.

So if you configure a handler to the root logger before calling `Starlite()` then this would be avoi

[2022-06-17 21:02] peterschutt commented on #144
I opened https://github.com/kuimono/openapi-schema-pydantic/issues/19

We may as well leave this open as a reminder to track that.

[2022-06-18 06:51] #143 closed

[2022-06-18 08:36] mybigman opened #153 "middleware help"
How do I achieve the same result as per below using starlites `MiddlewareProtocol` ?

The documentation doesn't provide enough information how to go about it, well for me atleast :/

[code]

[code]

[2022-06-18 10:18] mybigman commented on #153
I have come up with this, not sure if its the right way to go about it.

Is one method preferred over the other, if so why?

[code]

[2022-06-18 11:03] peterschutt commented on #148
Hey, so this is what is happening here.

Now, inside `main.py` when it is first invoked, you tell uvicorn to import `app` from `main.py` with the `uvicorn.run("main:app", ...)`. So your command `pdm run python app/main.py` tells uvicorn to import `app` from `main.py` as well. That causes `main.py` to be loaded a 2nd time and at that point, the router you are passing to the `Starlite` constructor h

[2022-06-18 11:03] #148 closed

[2022-06-18 11:09] peterschutt commented on #153
What is the other method you are referring to?

If that works for what you want to do then I'd say roll with it until you hit a problem. When you have a concrete problem, put in an issue.

For general usage advice and discussion, the discord server is a good place to get help, we are all on there too.

[2022-06-18 11:11] vrslev commented on #153
From the docs:

Personally, I’d choose Starlette’s BaseHTTPMiddleware, it looks much cleaner and is higher level.

[2022-06-18 15:17] Goldziher commented on #151
Ok. So, let's talk about structure-

Given that you probably want to install a CLI as as a global executable outside your project, I think it might be a good idea to separate it out into its own package and publish it separately. I know sometimes the CLi is a part of the app, but I think here it's going to be an issue - the CLI should be independent from the starlite version IMO.

We should consid

[2022-06-18 19:02] vrslev opened #154 "204 status code not handled properly"
Exception raises when route returns response with 204 No Content status.
<details>

[code]

</details>

This example fails:

[code]

This one does fail too. Additionally, Starlite resolved 204, but there is some content (200):

[code]

Starlette works fine, so the problem is definitely with Starlite:

[code]

[2022-06-18 19:07] vrslev commented on #151
Is there anything similar to [`npm init`](https://docs.npmjs.com/cli/v8/commands/npm-init#examples) in Python world? Maybe just [`cookiecutter`](https://github.com/cookiecutter/cookiecutter)?

[2022-06-19 03:30] mybigman commented on #153
@vrslev thanks mate, agreed

[2022-06-19 07:27] peterschutt commented on #154
There's not really any resolving afaik, if you don't specify different, the status of the response is dynamically set in `HTTPRouteHandler.__init__()`:

[code]

So you'd need `@delete(status_code=200)`.

As far as the empty response goes, I've added a failing test here: https://github.com/starlite-api/starlite/compare/main...issue-154-204-none-response

Inspecting the response in the test shows th

[2022-06-19 07:47] peterschutt commented on #153
@mybigman should we be updating our docs here?

[2022-06-19 07:49] peterschutt commented on #153
Starlette's  middleware doesn't really operate at a higher level than any other middleware does it? Looks to me like starlite just supports it in line with any other middleware:

[code]

[2022-06-19 08:27] vrslev commented on #154
Maybe 204 status should be resolved based on SignatureModel? If return type annotation is `None`, then set 204?

[2022-06-19 08:30] Goldziher commented on #154
No, these are API semantics we can't enforce.

[2022-06-19 08:30] mybigman commented on #153
@peterschutt  I think it would be a good idea to have a bit more details on how you go about modifying the request and response would greatly help especially using `MiddlewareProtocol`

[2022-06-19 08:54] vrslev commented on #154
What about defaulting to 200? Let the developer decide if 204 should be returned.

[2022-06-19 09:01] peterschutt commented on #154
What if we allow the `Starlite` constructor to receive a mapping of http verbs to response status, and fallback to current behavior if not provided. So you could do:

`Starlite(..., default_response_codes={"DELETE": HTTP_204_NO_CONTENT})`

We return the deleted object from `DELETE` as sometimes it can be useful, so I've wrapped `starlite.delete` locally to override that to be `200` in all cases. H

[2022-06-19 09:02] peterschutt commented on #154
This is really a different issue though, want to open a new one?

[2022-06-19 09:02] #154 closed

[2022-06-19 09:13] peterschutt commented on #153
Yeh, I agree. The existing example demonstrates accessing the incoming request data, but nothing about modifying the response.

So we should include an example of the canonical way to modify a response object using the `MiddlewareProtocol` pattern.

@Goldziher is there a more concise way to add response headers on the fly via middleware than this:

[code]

[2022-06-19 09:26] vrslev commented on #154
It is not really useful for me. The main issue is handling `None` with 204

[2022-06-19 09:27] peterschutt commented on #154
OK well that's already sorted and will be in the next release.

[2022-06-19 09:46] Goldziher commented on #153
Not via middleware. You can use the 'after_request` hook for this, it's perfect for this use case.

[2022-06-19 09:58] peterschutt commented on #153
I'd say _almost_ perfect, and I was going to make the same suggestion. I think the fact that `after_request` is overridden by a definition that is closer to the handler makes the approach less than perfect.

Say we decide to put an `after_request` hook at the app level that injects a header value that must exist for all requests. That means that any time we want to use the before/after hooks for a

[2022-06-19 10:09] Goldziher commented on #153
Sure, you can use middleware as well. I would simply use a higher order function to set after_request handlers.

[2022-06-19 10:34] peterschutt commented on #153
For sure, higher order function is a good shout in that case.

I wonder how common it is that users will want to modify the response object via middleware such as in this case, and weather it is worth thinking about providing a cleaner api to do so. It's not something I do at all.

To start with, I'll include the `send_wrapper()` example from above in the docs and say "here's how you can access th

[2022-06-19 11:15] peterschutt commented on #153
@mybigman I've included your example of accessing the response in the docs - hope that's ok. Thanks for starting the discussion. If you have any thoughts about what a nice api might look like for this sort of thing, feel free to weigh in.

[2022-06-19 11:16] #153 closed

[2022-06-19 12:35] peterschutt commented on #131
Version pinned in `.github/workflows/docs.yml` as well as in `pyproject.toml`.

[2022-06-20 09:24] mybigman opened #159 "passing validation error to frontend"
Similar to previous issue [#102](https://github.com/starlite-api/starlite/issues/102)

It never reaches the "VALIDATION FAILED" as its catching the validation error and returning a JSON response.

How can I pass it through?

[code]

[2022-06-20 10:08] Goldziher commented on #159
This isn't the same issue as #102, the issue there was the json serialization.

Anyhow, validation errors do not reach the view, they bubble upwards.

You can register an exception handler that returns your html.

[2022-06-20 10:11] Goldziher commented on #159
This isn't the same issue as #102, the issue there was the json serialization.

Anyhow, validation errors do not reach the view, they bubble upwards.

You can register an exception handler that returns your html.

Please try that and let us know what's the experience.

We might consider allowing users to register exception handlers per route handler, controller or router, thoughts? @peterschutt

[2022-06-20 10:52] mybigman commented on #159
I did look at that though however thats only going to create a generic APP level exception which is not what I want?

[code]

[2022-06-20 10:56] peterschutt commented on #159
I'm all for as many configs as possible being available to every layer of the application. In this case, if the exception handler could be specified at levels below the app it would allow for greater control over responses, so +1 for that. I think it makes sense whether of not it evolves to become the canonical way to override the 400 response.

[2022-06-20 11:46] Goldziher commented on #159
@mybigman its far from idyll, but you can inspect the url for the request and handle the logic this way. I will make a PR with an update for route handler level exception handling.

[2022-06-21 02:55] #159 closed

[2022-06-21 08:22] mybigman opened #164 "starlette middleware"
Providing I am using it correctly?

[code]

[code]

or

[code]

[code]

[2022-06-21 08:24] Goldziher commented on #164
Can you try:

[code]

[2022-06-21 08:32] mybigman commented on #164
@Goldziher

I just came to post that, thanks:)

[code]

[2022-06-21 08:32] #164 closed

[2022-06-21 08:33] Goldziher commented on #164
Go ahead @mybigman - you can add the example.

[2022-06-21 10:04] peterschutt commented on #123
Closed by #162

[2022-06-21 10:04] #123 closed

[2022-06-21 12:06] Goldziher commented on #45
@vincentsarago -- any update on this?

[2022-06-21 12:20] vincentsarago commented on #45
sorry @Goldziher I haven't worked on this! feel free to close the issue!

[2022-06-21 12:25] #45 closed

[2022-06-22 15:01] Goldziher opened #166 "Enhancement: Add TortoiseORM Plugin"
A plugin is a class the fulfills the starlite `PluginProtocol` interface. You can see the source code for [this here](https://github.com/starlite-api/starlite/blob/main/starlite/plugins/base.py#L10).

It would be good to add a plugin for Tortoise ORM - this task is made easier by the fact that tortoise already supports creating pydantic models from orm models and querysets --> https://tortoise.git

[2022-06-23 11:33] timwedde opened #167 "OpenAPI schema generation includes `status_code` but default exception handler never outputs that attribute"
I was doing some endpoint schema validation for my project and ran into what seems like an inconsistency between the generated OpenAPI schema and reality.

Specifically, `HTTPException` has an (optional) `status_code` attribute which is typically set to the response status code when something exceptional happens.
The fact that this field should always be present in the output is documented in the

[2022-06-23 11:33] Goldziher commented on #167
So, whats your suggestion for a fix?

[2022-06-23 11:40] timwedde commented on #167
Personally I would go with option 2 because:
- The status codes are already tracked and it's documented in all schemas that Starlite has generated up until now, so this would break the "API" less in the sense that the OpenAPI schema just becomes more truthful instead of changing.
- The status code is always given in `HTTPException` (500 by default) so we can simply add the field in the default exc

[2022-06-23 12:07] timwedde commented on #167
Actually, I think I found another (albeit minor) inconsistency:
The `extra` attribute can be `None`/`null`, but the generated schema ends up as requiring at least an empty dict `{}`. This means that if you try to validate the endpoint's conformance against the generated schema, it will fail for all cases where `extra` is not given, as `None` is technically not an allowed value at the moment.

[2022-06-23 12:12] Goldziher commented on #167
Go ahead and handle them together

[2022-06-23 12:29] timwedde commented on #167
There's two options in this case as well:
1. Since `extra` is in fact marked as optional, completely exclude the key from the response dict when it's empty.
2. Coerce an empty `extra` key to an empty dict.

I'd personally go with 1.) as it's more true to what the schema already specifies (an optional key should not exist if it's just empty).

What's your preference here?

[2022-06-23 15:57] Goldziher commented on #167
The extra key is present, there is no option 1. But it can be None, which means it's nullable.

[2022-06-23 16:07] timwedde commented on #167
How would one mark a nullable key in OpenAPI in that case?
We can mark it as one of several types, but I have not yet found a way to denote it as nullable versus "not required" (it's already marked as the latter). If we mark it as not-required and then supply a null value, that is technically not within the schema spec.

[2022-06-23 16:14] Goldziher commented on #167
OpenAPIType.NULL

[2022-06-23 16:30] timwedde commented on #167
Heh, serves me right for looking at that enum and immediately forgetting what it contained, heh.
I've added the updated type declaration to #168, let me know if that's a workable solution.

[2022-06-23 16:37] timwedde commented on #167
Alright, will do this evening.

[2022-06-23 18:57] #167 closed

[2022-06-23 22:53] peterschutt commented on #144
I've PR'd upstream for this so it is out of our hands now.

[2022-06-23 22:53] #144 closed

[2022-06-24 01:50] Bobronium opened #169 "Skip middleware for certain handlers/routers/paths"
Is there a preferred way of enabling a middleware only for a specific set of handlers?

Say, I want `secret` handler to require auth and `health_check` to be accessible without one:
[code]

One way I found is checking for path inside the middleware and return `AuthenticationResult(user=None, auth=None)` if auth is not required, but I find it a bit quirky.

Ideally, I'd do something like this:

[co

[2022-06-24 02:31] peterschutt commented on #169
Can you please show the example of the working solution that you found by checking path in the middleware?

[2022-06-24 03:09] peterschutt commented on #169
Thanks for opening the issue, I think this is a problem that we need to solve. It would be very common for services to have a mix of authn and open routes.

IMO, having an `allow-list` of routes defined in a single location that can bypass authn could be perceived as beneficial, compared to having that logic dispersed throughout the code base.

If we were to go the decorator route, I think i'd pre

[2022-06-24 06:12] mybigman opened #170 "template additional config"
How can this be achieved with the current way the template config is used?

[code]

[2022-06-24 07:08] mybigman commented on #169
I am not sure this approach is right either since your only thinking about a single middleware.

What if I want 3 middlewares on a certain controller or single endpoint.

@Bobronium approach is good start on the `Router`, however it would be good to apply to a single route, group of routes or globally.

I use `laravel framework` quite heavily for work and that approach works quite well. You can re

[2022-06-24 07:08] peterschutt commented on #170
I cannot see an obvious way, nor any mention of setting globals in the docs, so hopefully I haven't missed anything.

The jinja `Environment` is constructed in `starlite.template.jinja.JinjaTemplateEngine`:

[code]
According to [jinja docs](https://jinja.palletsprojects.com/en/3.1.x/api/#jinja2.Environment.globals) that `Environment` object has a `globals` attribute which is a dict for storing tho

[2022-06-24 07:10] peterschutt commented on #169
Three layers of authentication middleware?

[2022-06-24 07:31] mybigman commented on #170
@peterschutt are you saying that you can implement into the code base or it should already work?

I have tried that but errors with `UndefinedError: 'flashed_messages' is undefined` when trying to call it in the template.

[2022-06-24 07:38] peterschutt commented on #170
That is a suggestion of a potential api design to solve the problem you have, it would need to be implemented.

[2022-06-24 07:40] mybigman commented on #169
Sorry, thought whilst we looking at it be a good idea to look at the bigger picture :)

[2022-06-24 07:52] peterschutt commented on #169
Absolutely no problem, and it is a discussion worth having.

At the moment we resolve the middleware stack on app initialization time and the whole stack is run before the route handler is resolved. But perhaps the middlewares could be resolved per handler like we resolve out all the other configs, we resolve the handler first and then get the middleware stack from it, execute the stack and finall

[2022-06-24 09:33] Goldziher commented on #169
My thinking as well. I think this is the way to go - allow middleware definitions per route handler, controller, router or app.

We need to consider some things in general -

1. The more middlewares are added, the slower request processing is, because this is in effect a bunch of chained async calls. We thus need to resolve this stack in an optimal way per route handler and cache the resolved stac

[2022-06-24 09:34] Goldziher commented on #170
+1

[2022-06-24 11:28] Bobronium commented on #169
[code]

While we're here, I think auth middleware example in the docs is incomplete, since it doesn't consider how user would get the token.

One way is having a handler that doesn't require auth, but expects other type of credentials in the body, hence this issue :)

[2022-06-24 11:39] peterschutt commented on #169
Docs contributions are gratefully accepted:)

[2022-06-24 19:09] Goldziher commented on #169
I added a draft PR here -> https://github.com/starlite-api/starlite/pull/173, please checkout the code and add comments (see the description).

[2022-06-25 05:27] vrslev opened #175 "Middleware are not executed on Starlite error"
When route is not found, method is not allowed, or some similar error, then middleware are not executed although and it is unexpected behaviour.

Starlite, second test fails:
[code]

Starlette, tests pass:
[code]

[2022-06-25 05:40] vrslev commented on #175
Because of this problem CORS headers also are applied to response. This leads to problems in requests from browser.

[2022-06-25 06:09] vrslev commented on #175
Starlite handles raised exceptions here:
https://github.com/starlite-api/starlite/blob/935452796cf228b9f19f7cbd70ee45b540da00f7/starlite/app.py#L150-L151

The problem is that it skips middleware stack.
Starlette on other hand manages exception handlers with `ExceptionMiddleware`:
https://github.com/encode/starlette/blob/5b058faa108ebe0e7d8810e84bf88cb37744faf8/starlette/middleware/exceptions.py#L1

[2022-06-25 06:14] vrslev commented on #175
@Goldziher I like the idea of having `ExceptionMiddleware`. Should we move `Starlite.handle_exception` logic to separate middleware and build stack with it on top?

[2022-06-25 06:15] peterschutt commented on #175
This is good you bring this up now, cheers. There is some talk about middleware stack refactoring related to #169 and this will be good to think about at the same time.

Have you seen #173?

[2022-06-25 06:20] Goldziher commented on #175
No - we allow exception handling on multiple layers. This cannot live inside middleware. Also its less elastic to do so. We will need a different solution

[2022-06-25 06:34] vrslev commented on #175
Just looked at #173 — that is a great idea! It won’t affect performance much because middleware stacks are built on initialization, right?

[2022-06-25 06:45] vrslev commented on #175
If we want middleware to run on errors, we can't catch them in middleware.

[2022-06-25 07:04] Goldziher commented on #175
@vrslev please checkout --> https://github.com/starlite-api/starlite/pull/173, I add a fix there.

[2022-06-25 07:19] vrslev commented on #175
Sure. Did you already added a fix or will work on that in the PR? I can't tell because you force-pushed 😅

[2022-06-25 07:59] Goldziher commented on #175
I added a fix, look in app.py

[2022-06-25 08:15] peterschutt commented on #170
@mybigman are you happy enough that you can do what you want to do with the solution in #172?

[2022-06-25 08:21] vrslev commented on #175
I think the fix you suggested breaks abstraction layers. It only covers CORS and wouldn't work with the example I suggested in this issue.
https://github.com/starlite-api/starlite/blob/66684947c43c84c107699ce84799a038f7244442/starlite/app.py#L161-L162

[2022-06-25 08:48] Goldziher commented on #175
Then what do you suggest?

[2022-06-25 08:55] peterschutt opened #176 "`get_exception_handler()` util resolve ordering."
https://github.com/starlite-api/starlite/blob/da79c068c906740a4375d431953f1c74fdea8067/starlite/utils/exception.py#L10-L28

I've registered an exception handler to `500_INTERNAL_SERVER_ERROR` that logs the exception but it is also catching and logging `HTTPException` instances. Even if I register an exception handler to `HTTPException` to try to avoid that, because I also have a handler registered

[2022-06-25 08:57] peterschutt commented on #176
By the way, to work around it is easy enough, just to register the logging handler to `Exception` instead of the `500`, so not massively urgent to fix.

[code]

[2022-06-25 09:23] Goldziher commented on #176
Aight, let's update the ordering

[2022-06-25 09:31] vrslev commented on #175
What about layered `ExceptionMiddleware`? Add it for each layer where exception handlers are accepted

[2022-06-25 09:33] vrslev commented on #175
First, I think we should determine whether errors in middleware should be handled by exception handlers. If it is so, then it is impossible to modify response on internal error.

[2022-06-25 12:10] Goldziher opened #177 "Rust, C or C++ bindings for path resolution"
Starlite currently resolves paths using a tree structure, but in python. This is quite slow. It would be very helpful if we could create custom bindings in a low level and substantially faster language to implement the tree and its required parsing methods.

The data structure that is often used for this purpose is called a "radix prefix tree". This is not necessarily the only option we have - but

[2022-06-25 19:21] Goldziher commented on #175
ok, i left this out of my PR for now, we will deal with it separately once there is a clear plan on how to do this.

[2022-06-25 22:26] Bobronium commented on #177
Some links to the existing code in starlite would be helpful to start.

Also, have you considered/tried compiling starlite/parts of it with mypyc?

[2022-06-25 23:43] peterschutt commented on #177
100% this. I'd love to see what the solution looks like in modern cython (i say modern because the last time I built anything of consequence with cython was before typing was really a thing) and mypyc.

Thinking about this issue on the next meta level up, an overall efficiency analysis of the two main things `Starlite` does is something that I'm keen to do. From my understanding so far, these two

[2022-06-25 23:47] peterschutt commented on #177
Don't get me wrong, I'd also like to see what the solution looks like with py03 and rust too though :laughing:

It would be good for developer docs to have a diagram of that "radix prefix tree" pattern included. I'm glad you mentioned that @Goldziher as the code is a bit hard to follow (not a criticism but just by nature) - is that the algo in `StarliteASGIRouter.__call__()`?

[2022-06-26 05:43] vrslev commented on #175
@Goldziher Do you think exception handlers should handle errors in middleware?

[2022-06-26 05:45] Goldziher commented on #177
I did some trials with cython and mypyc. Mypyc Didn't like async and some other stuff, so it could handle some parts of the codebase and not others. Cython required quite a few changes to the code to get the compiled code to actually work.

I'm not against this, but for money these solutions are a compromise - offering a performance boost, but less so than native code.

As to code snippets, diagra

[2022-06-26 05:47] peterschutt commented on #177
Thanks!

[2022-06-26 05:52] Goldziher commented on #175
I think they should receive the exceptions and handle them no matter the origin. The reason is that exception handlers need to handle the exception -> response logic.

But we still need a solution to this issue-

That's why I suggest to move CORS from a middleware to be a part of the app layer in starlite.

[2022-06-26 06:17] peterschutt commented on #177
Was this trying to cythonize/mypycize the whole lib? Or just targeted stuff?

[2022-06-26 07:17] Goldziher commented on #177
Both.

I had more success with cython, but the performance boost wasn't great. The main issue for compiling the entire lib is pydantic - pydantic has cython, so if you install cython as part of your dependencies it will compile, giving you a speed boost. But any code that uses pydantic cannot be compiled itself.

[2022-06-26 08:02] vrslev commented on #175
It is kinda ugly, but what about some kind of `final_middleware` that run even on exceptions?
By the way, middleware run even on exceptions in Starlette (https://www.starlette.io/middleware/).

[2022-06-26 08:04] vrslev commented on #175
I think we shouldn't make CORS a special middleware that runs even after exception handlers. There're plenty use cases where similar functionality would be required.

[2022-06-26 10:59] Goldziher commented on #175
Thats not precise - in starlette there is an exceptions middleware that captures exceptions from the application and transforms them into responses. You can see this logic here: https://github.com/encode/starlette/blob/master/starlette/applications.py#L78. This though limits our ability to capture exceptions raised in middleware.

We could inject the exception handler resolution logic as the final

[2022-06-26 11:11] vrslev commented on #175
I think loosing exception handling in middleware to make middleware run no matter what (which is expected behaviour from my perspective) is an expedient tradeoff.

[2022-06-26 12:33] Goldziher commented on #177
So, lets start with code. The most updated version is the one in #173, so I will explain the code there below, which will also help by and by with the review of that PR.

There are two files that interest here - `starlite/app,py` and `starlite/asgi.py`. Lets start with whats happening inside the `Starlite` class:

[code]

So, lets start with the `register` method. This method is called in the `ini

[2022-06-26 13:28] mybigman commented on #170
@peterschutt looks like it should do the trick.

I came across this yesterday, does it also cover the ability to do -

[jinja partials](https://github.com/mikeckennedy/jinja_partials)
[code]

[2022-06-26 17:35] Goldziher opened #180 "Enhancement: OpenTelemetry integration"
So, as the title says. We need to consider how to best support OpenTelemetry. We might need to add some hooks to allow for optimal instrumentation. We should also consider creating an OT instrumentationn library, see for example: https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/fastapi/fastapi.html

[2022-06-26 22:32] #130 closed

[2022-06-27 00:19] peterschutt commented on #177
Wow @Goldziher - that's comprehensive! I'll take the time to review when I have some time and if I have any questions I'll ping you in discord.

Cheers.

[2022-06-27 01:02] peterschutt opened #181 "`from starlite import *` broken if `testing` extra not installed"
This is only an issue on main, not in any release.

When I want to try a library out, I'll install it into a fresh env, run python repl and do `from lib import *` and have a play around. If just doing that raised an error it would freak me out a little about the lib.

Possible solution:
- remove `.testing` imports from `starlite.__all__`
- add deprecation warning for top-level `.testing` imports
-

[2022-06-27 01:19] peterschutt opened #182 "Typing: actual type "starlette.testclient.TestClient", expected type "starlite.testing.TestClient""
This _isn't_ related to #174 - I was already ignoring the error before I pulled those changes in.

I cannot see why mypy should complain here:

[code]

Error:

[code]

[2022-06-27 01:36] peterschutt commented on #182
Oh, I know.

Starlette test client mustn't have a generic return type for their `__enter__()` ctx mgr method.

[2022-06-27 01:38] peterschutt commented on #182
Should we override `TestClient.__enter__()` on our side so that we can override the type?

[2022-06-27 02:12] Bobronium commented on #182
Sounds like a plan.

Let's be smarter than starlette, though:

[code]

[2022-06-27 02:12] peterschutt commented on #182
Way ahead of you;)

[2022-06-27 02:14] peterschutt commented on #182
Cleaned up a lot of casts and ignores in our own tests too, which is always nice.

[2022-06-27 02:32] peterschutt commented on #182
Closed in #184

[2022-06-27 04:55] peterschutt commented on #170
Yeh I think that would work easy enough, as you can just work with the `Environment` that is passed back to you.

[code]
Haven't tested though, let me know if it doesn't work for you.

[2022-06-27 04:59] peterschutt opened #185 "Refactor: Move optional dependencies to extras"
Starlite has several potentially optional dependencies: `pydantic-factories` for generating examples in OpenAPI schema, `pyyaml` for `/openapi.yaml` path and—of course—`requests` for testing. If we decide that `requests` is optional, we should consider to make `pydantic-factories` and `pyyaml` not required as well.

_Originally posted by @vrslev in https://github.com/starlite-api/starlite/issues/1

[2022-06-27 05:01] peterschutt commented on #185
We could also add the template engine requirements to the list also - not that we include them already, but might be a good convenience `pip install starlite[jinja2]`

[2022-06-27 06:37] Goldziher commented on #185
Sounds good.

[2022-06-27 06:42] #181 closed

[2022-06-27 07:40] vrslev commented on #185
I’m quite busy right now, sorry

[2022-06-27 07:51] peterschutt commented on #185
No worries @vrslev - I just clicked on your comment in the PR and turned it into an issue so it wouldn't get lost. No need to get involved if you don't want to.

[2022-06-27 10:18] #170 closed

[2022-06-27 10:20] #182 closed

[2022-06-27 10:39] mybigman commented on #170
@peterschutt just tested and it appears all is working.

thanks mate

[2022-06-27 10:42] peterschutt commented on #170
No probs. I'd not come across that lib before, but seems pretty neat. Random fact: it belongs to the guy that does the "Talk Python to Me" podcast.

[2022-06-27 10:58] mybigman commented on #170
yeh likewise... as mentioned only come across the other day and thought the same pretty clever.

[2022-06-27 12:24] Bobronium commented on #185
I can probably work on this too.

[2022-06-27 16:54] Goldziher opened #187 "Enhancement: Support Parameters on All Application Layers"
We could make controllers more useful by allowing users to declare shared parameters on the controller level, making it redundant to declare them per route. This will also enhance the usefulness of composition and inheritence.

Suggested implementation:

[code]

As seen above, the suggestion I put forward is to use a dictionary that maps parameters keys to `Parameter` type values. The `Parameter`

[2022-06-28 01:21] peterschutt commented on #187
I can see an argument for making these another thing that we resolve all the way up to the application level. One might want to have a consistent required param across handlers registered to multiple controllers, for example.

[2022-06-28 02:10] peterschutt commented on #185
The fact that `OpenAPIConfig.create_examples` defaults `False` makes it a good choice for an optional extras. Its not a feature I knew I was missing and I get maximum recursion error on app startup if I turn it on.

`schema/openapi.yaml` works out of the box, so not so sure about `pyyaml`.

Template dependencies would be easy to have there as extras.

Maybe a `2.0` idea would be to have the base d

[2022-06-28 05:27] peterschutt commented on #187
I'm keen to take this one on.

Any thoughts on behaviour if a parameter isn't used in a handler in the scope? Config error?

What if a handler had `**kwargs` defined, should we inject it?

[2022-06-28 07:25] Goldziher commented on #187
Go for it.

You mean if no handler uses the parameter at all?

Maybe make a new error called `UnusedParameterError`?

Currently there is no **kwargs defined, and we shouldnt add it imo. We won't be able to generate OA docs.

On the topic of OA - you'll need to rework some stuff for this to work with the new pattern.

[2022-06-28 09:39] Bobronium opened #188 "Bug: exception representation swallows errors"
From https://github.com/starlite-api/starlite/pull/174#issuecomment-1166689792:

Turns out, It's not pytest, it's actually starlite :)

`StarLiteException` eats exception args, doesn't pass them to `Exception` and doesn't define custom `__str__`
While `__repr__` is defined, that not what python uses to display errors.

My proposal: ditch custom `__repr__` altogether and rely on `Exception.args`.
A

[2022-06-28 09:58] Goldziher commented on #188
Go ahead

[2022-06-28 10:01] Goldziher commented on #187
Good points.

Yes, we cannot validate that a parameter is unused if we need to use it for middlewares. And since middlewares are now also on the handler level, this makes validation either impossible - or it needs to be somehow made optional.

[2022-06-28 10:18] peterschutt commented on #187
Forgetting about the middleware thing for a second, I still like the overall idea of not needing to repeat `Parameter(...)` definitions for every handler - although its a problem I've mostly worked around it in other ways.

[2022-06-28 11:03] Goldziher commented on #187
So middlewares are a problem we need to tackle separately I think. I'll make a proposal.

So what's the design you want to go for?

[2022-06-28 11:06] peterschutt commented on #187
I have stuck some thoughts in the discord dev channel, but the crux is this:

[code]

[2022-06-28 11:54] peterschutt commented on #175
I've built a POC of Exception middleware based on #173.

I think it will help having something to discuss.

https://github.com/starlite-api/starlite/compare/issue-169-add-handler-middleware-support...exception-middleware

[2022-06-28 11:59] peterschutt opened #189 "Feature: Support for middleware parameter specification"
Thinking about ways to make parameter specification and parsing / validation available to the middleware stack.

Perhaps something like:

[code]

Lets discuss:)

[2022-06-28 15:46] Goldziher commented on #177
@vrslev read up my explanation above, it will clarify the code you were looking at

[2022-06-28 15:47] vrslev commented on #177
Thanks!

[2022-06-28 15:58] vrslev opened #191 "Code quality: more functional approach"
I'm excited about functional programming. I think it makes code more clean and self-explanatory, especially when it is split into small functions. Starlite has code that is much better and clean that you can see in other ambitious projects. Still, it has a lot of quite big functions. They are hard to test in isolation and potentially can lead to bugs.
What do you think about taking more of FP appr

[2022-06-28 17:10] Goldziher opened #192 "Add GZIP support"
Starlette offers a gzip middleware, we should support it like we support CORS and AllowedHosts, namely with a config and then set it on the app level.

[2022-06-28 17:15] MrAwesomeRocks commented on #192
Brotli would be a good idea too, there's a middlewhere here: https://github.com/fullonic/brotli-asgi

[2022-06-28 18:06] Goldziher commented on #191
Go ahead. Please go small so I can review PRs granularly. Also, testing is good, but it should be increased if you want to do unit testing.

[2022-06-28 18:12] MrAwesomeRocks commented on #192
That was what I was thinking. The entire middleware is 182 lines: https://github.com/fullonic/brotli-asgi/blob/master/brotli_asgi/__init__.py

[2022-06-28 18:14] Goldziher commented on #177
Go for it.

How drastic will the perf difference be? If it's small, say 10-20 percent, I'd say maintainability is paramount and thus c++ would be better.

Please use the same repository. We will need to create a testing setup for this code as well I guess.

[2022-06-28 19:18] Goldziher commented on #192
Its worth a discussion. @peterschutt thoughts?

[2022-06-28 19:21] Goldziher commented on #138
@peterschutt - can you spin out followup issues out of this, and then close this one?

[2022-06-28 19:23] Goldziher commented on #97
i saw that kludex released a version of the typing as an independent package. would you like to implement this @relsunkaev ?

[2022-06-28 20:50] Goldziher commented on #175
So, as I commented in the PR linked above - this doesn't factor in the way exceptions are handled in the `route`. Namely,
 the code from `starlite/route.py#L147`, which includes the route handler per route. This is only for http routes mind you - although we could consider expanding this to the other routes as well.

[code]

The question really boils down to this - do we need to have middlewares r

[2022-06-28 23:10] peterschutt commented on #175
Yeh, so that branch was never intended to be a PR, I'm just trying to understand the issue and talking about real code just helps to move things out of the abstract.

So, I'll keep it high level for now so we don't get distracted.

Right now, my gut says yes. For starters the docs say:

Further to that, it is a pretty well understood paradigm - I think it is what users will mostly expect when they

[2022-06-28 23:16] peterschutt opened #193 "Enhancement: allow users to skip pydantic validation for dependencies."
This comes out of an issue with generics in #138.

Generics are a tricky space for pydantic to operate within, and there will always be edge cases, or they will take an opinion about resolving generic types that will not be desirable to every case, such as the case in #138.

We are in a shared, but separate space to pydantic on that front. We use pydantic under the hood to resolve/validate these t

[2022-06-28 23:18] peterschutt opened #194 "Bug: status for dependency validation should be changed to 500."
Originally from #138

When a value returned from a provided dependency fails pydantic validation, user gets a 4xx, but it should really be a 5xx.

Ref: https://github.com/starlite-api/starlite/issues/138#issuecomment-1157066885_

[2022-06-28 23:22] peterschutt opened #195 "Discussion: order of priority when there is both a client side and dependency validation error"
On the same request, what should happen if a dependency and a parameter both fail validation?

At the moment the client gets the 4xx from the validation error because we treat dependencies the same as parameters. If #194 changes go through, we'll have to distinguish between the two cases, and give one priority over the other.

Ref: https://github.com/starlite-api/starlite/issues/138#issuecomment-1

[2022-06-28 23:25] peterschutt commented on #192
Two separate issues I think. Supportive of Gzip but I think we should wait until we have sorted out #175.

I think Brotli should be in another issue so we can discuss the forking, etc, that doesn't apply to Gzip.

[2022-06-28 23:26] peterschutt commented on #138
OK, that's done, I'll close this but feel free to reopen @vrslev if you don't think original issue captured in one of the spin-offs.

[2022-06-28 23:26] #138 closed

[2022-06-28 23:35] peterschutt opened #196 "Bug: Recursion error from OpenAPIConfig.create_examples"
I haven't had a chance to debug this at all, as I only turned the feature on to test something unrelated.

This is at the bottom of the traceback:

[code]

This is the top:
[code]

[2022-06-28 23:36] peterschutt commented on #185
OK, I've done that. I'm just picking my battles at the moment and didn't want to create the issue until I'd had a chance to try to figure it out. See #196

[2022-06-28 23:58] Bobronium commented on #177
Could you give some insights on why is chosen C++ over Rust? The later seems like a default modern choice now and I'm surprised to see that it's not.

orjson is written in Rust so is pydantic-core.

[2022-06-29 00:03] peterschutt commented on #177
I think it's just byproduct of the domain knowledge of the people sticking up their hands to have a crack at it.

No bias against rust, nor any requirement that we only make one implementation before we lock something in.

[2022-06-29 01:03] peterschutt commented on #175
Sorry if a bit terse but I stopped mid-workout to get the idea out before I lose it, but just an idea for our conceptual understanding of what middleware is, and how we treat it.

This comes down to an interpretation of middleware, is it after the server, but before any application interaction whatsoever, or can it be executed between routing/validation and handling (i.e is execution subject to cl

[2022-06-29 01:21] peterschutt commented on #175
We could call it `RoutedMiddleware` and have it be the canonical way to wrap the context of a specific handler's execution, not the entire App's execution.

[2022-06-29 01:52] MrAwesomeRocks commented on #175
I just read through this, and while the two different middleware types seem like a good idea, it still leaves a problem: how would you add a middleware that does something like `response.headers["Server"] = "NULL"` on error responses?

Things like the header editor and CORS aren't "advanced" middlewares though; they don't need routing or validation. But they need to run on every request, so they a

[2022-06-29 02:00] peterschutt commented on #175
Explain to me why you couldn't?

[2022-06-29 02:08] peterschutt commented on #175
I'll push back on the complexity. Everyone knows how starlette's middleware works - no-one knows what Basic and Advanced middleware is.

[2022-06-29 02:38] vrslev commented on #191
I’m struggling with big project that should be done first. I added it in my action list and will make first steps in couple of weeks or months (programming is currently just a hobby for me, so I do it in my spare time)

[2022-06-29 02:55] peterschutt commented on #175
Also this could be done via uvicorn: https://stackoverflow.com/a/65263873/6560549

[2022-06-29 02:56] vrslev commented on #175
It makes sense. So, there would be app-wide middleware _and_ other (router, controller, route)?

[2022-06-29 03:01] vrslev commented on #175
“Server” header is just an example. Currently we can’t use https://github.com/bigbag/starlette-request-id or https://github.com/cak/secure. I’m not even sure if Sentry ASGI integration works

[2022-06-29 03:13] peterschutt commented on #175
Sentry works - I use it already, just pass to middleware on the app 👍 there's a typing issue with it though in pycharm but no biggy.

Well I'm just playing the hand that's in-front of me - I probably won't spend any more time on thinking about this for the rest of the day. Feel free to detail the issues with those two handlers and some potential solutions.

[2022-06-29 04:02] peterschutt commented on #175
![image](https://user-images.githubusercontent.com/20659309/176348375-98ed266b-4c83-4293-88c5-20c28a86b895.jpeg)

Sorry about the image :laughing: That's pretty much what I'm thinking. It would be nice if the response could find its way back to the traditional middleware stack after exiting "innerware" stack so it could be inspected/modified but I'd have to have a look to know if possible.. could

[2022-06-29 04:45] Goldziher commented on #175
Couldn't quite get your white boarding.

Anyhow, @peterschutt your idea is basically to have top level Middleware that is executed after exception handlers, and lower level middlewares that are executed before, correct?

The issue I have with this is that it's less intuitive and will be a cause of headaches for both users and maintainers. It would be better to avoid IMO.

The Express Middleware pa

[2022-06-29 04:46] Goldziher commented on #191
Ok. So I will close this issue for now. Reopen if when you want to do the work.

[2022-06-29 04:46] #191 closed

[2022-06-29 05:52] vrslev commented on #175
Would middleware run on exception then?

[2022-06-29 05:52] peterschutt commented on #175
Feel free to ask me to explain anything.

We say this  in the docs:

Yet we get issues like this one and comments like this:

...that say otherwise.

So, I'm trying to demonstrate that we are trying to do two different things and call them the same thing - and make it work. Middleware that is independent of routing (100% compatible with starlette), and middleware that is totally dependent on it (4

[2022-06-29 06:12] Goldziher commented on #175
Why are we incompatible with these middlewares? I don't know that we aren't. Sentry works for sure, why isn't the other one working?

[2022-06-29 06:14] peterschutt commented on #175
Yeh I'm using sentry too, it was just a copy-pasta.

I don't know, and I don't really have the time available to find out - if @vrslev could help explain that'd be good.

But doesn't the mere fact that we swallow exceptions rather than propagate them mean that we aren't 100% compatible with starlette middleware? We support their protocol/interface, but the behavior is different, no?

[2022-06-29 06:21] Goldziher commented on #175
We have a bug for sure. We are nonetheless compatible with their Middleware, which is what we claim. We do not claim to be Starlette, nor are we going to be Starlette.

Look, I'm trying to have a pragmatic and factual discussion, and reach for a good architecture, nothing more and nothing less. All we need are open minds and a capacity for discussion.

[2022-06-29 06:25] peterschutt commented on #175
Not at all, you asked for my opinion and I've given it. I'm trying to conceptualize the problem and all my points and questions are purely aimed toward that. So far, you've not directly addressed any point I've made but have made it clear that you don't agree, and that's fine. Did you see this:

[2022-06-29 06:31] vrslev commented on #175
Sorry, I just assumed Sentry might not be working. I didn’t have a chance to test it yet.

[2022-06-29 06:32] Goldziher commented on #175
Well, I think what you're proposing is viable, but it places some conceptual complexities for the user. From my PoV it's better to abstract complexity into our end. Saying that, it needs to be discussed.

[2022-06-29 06:37] Goldziher commented on #175
You mentioned another Middleware not working?

[2022-06-29 06:45] peterschutt commented on #175
Sure, lets get started with rolling out the solution as you see it. It will help me to understand your proposal better and we can discuss as it evolves.

[2022-06-29 06:51] vrslev commented on #175
Yes. https://github.com/bigbag/starlette-request-id, https://github.com/cak/secure — they both won’t work on exceptions.

[2022-06-29 06:53] Goldziher commented on #175
Ok, but that's the known bug.

[2022-06-29 13:07] Goldziher commented on #175
PR added, please review --> https://github.com/starlite-api/starlite/pull/197

[2022-06-29 20:14] peterschutt commented on #189
Any thoughts on how you'd like this implemented @Goldziher

[2022-06-29 20:22] Goldziher commented on #189
So, there is a problem with defining concrete attributes on protocols - pydantic doesn't play nice with this.

How about adding a container type for Middleware that allows defining stuff like parameters, descriptions etc?

Otherwise we might need to use an abstract class instead of protocol.

[2022-06-29 21:02] peterschutt commented on #189
OK cool, Also there is the nature of a protocol being that it's just an interface, I.e, shouldn't need to extend from the base to fulfil the protocol.

Can you give example of how this looks?

This is intuitive to me, but we shouldn't need to do away with the protocol altogether, we could just  have the base class that implements the protocol that users could extend for their custom middleware tha

[2022-06-30 00:41] Jabbey92 opened #199 "Websockets improvement"
While the Starlette implementation of websockets is well done I think it could use a decent wrapper. Something with some more ... batteries.

My proposal is simple at the moment but I think it would fit very well, Something along the lines of how routing works already. Essentially designed to be used as follows

from starlite import WebSocket, websocket

class Item(BaseModel):
    name: str

[code

[2022-06-30 05:31] vrslev commented on #175
@Goldziher I will do it tonight or tomorrow, thanks!

[2022-06-30 05:58] Goldziher commented on #188
Another thing we need to take care when doing this is to support headers being passed to exception, as is done in `starlette.exceptions.HTTPException`.

@Bobronium will you be taking over this issue?

[2022-06-30 06:15] peterschutt commented on #194
Any advice on process for this one @Goldziher?

[2022-06-30 06:20] Goldziher commented on #194
Basically there is one try/except block that handles this: https://github.com/starlite-api/starlite/blob/main/starlite/signature.py#L56

You can probably add an attribute on the `SignatueModel` that will tell you this info, see the attributes already there - which use a `ClassVar` so pydantic ignores them: https://github.com/starlite-api/starlite/blob/main/starlite/signature.py#L21

[2022-06-30 06:21] peterschutt commented on #196
Here's more context:

[code]

If I comment out `Entity.extra` on the `Entity` model, the error goes away.

[2022-06-30 06:24] peterschutt commented on #194
Yes OK - so perhaps a set of the names of all function parameters that are known dependencies as a classvar on the sig model and inspect that after the validation error to determine if 4xx or 5xx?

[2022-06-30 06:32] Goldziher commented on #194
Thats how i'd approach it

[2022-06-30 06:45] Goldziher commented on #199
Hi @Jabbey92.

First thanks for wanting to contribute.

As to what you are proposing above - I don't quite understand what does data do in `path="/ws_path/{data}"`, is this supposed to be a url parameter?

We already parse and handle parameters (URL, query, header and cookie) for websockets - same as we do for REST http endpoints. See this part of the docs: https://starlite-api.github.io/starlite/

[2022-06-30 06:58] Goldziher commented on #189
So, as a container I'd try to do something like this probably:

[code]

It will wrap the middleware, which is required, and then receive ooptional values for `parameters`, `description`, `tags` and `response_headers`.  Im not 100% sure about description here, but the rest of the values do make sense to me:
basically we will use the parameters to do validation and perhaps also calculate the require

[2022-06-30 07:01] Goldziher commented on #196
I see, ok your recursion error happens because you have a self referncing field - extra, referencing entity, referning extra etc.  This is a known issue with pydantic-factories, I had to work around it in the sqlalchemy stuff.

[2022-06-30 07:06] peterschutt commented on #195
I'm just going to raise client errors first, unless someone weighs in before I finish #194

[2022-06-30 07:14] peterschutt commented on #196
Is it something to be fixed or worked-around internally to Starlite? Or does the fix need to come from upstream?

[2022-06-30 08:51] Bobronium commented on #188
@peterschutt, yep, I'm working on it. Though it may take a couple of days or even weeks, since I'm a bit more busy with life :)

I'm fighting with backwards/cross compatibility with `starlette` at the moment.

[2022-06-30 15:05] peterschutt commented on #195
Closed via #202

[2022-06-30 15:09] Goldziher commented on #175
Ok, we discussed it and for now we will wait to see if this is indeed an issue. CORS will run on these errors - because that happens outside of the middleware stack. We might add a lifecycle hook in the future that allows modifying these in the ASGI router. For now though we will keep behaviour as is.

Thanks for testing!

[2022-06-30 15:16] Goldziher opened #203 "Refactor: Reduce Cognitive Complexity"
Sonar complains about several functions having too high "cognitive complexity", see --> https://sonarcloud.io/project/issues?resolved=false&severities=CRITICAL&id=starlite-api_starlite. It would be nice to refactor these to be both clearer and simpler - probably by splitting them into functions, or refactoring them into classes, using functional composition etc.

This is a good issue for those who

[2022-06-30 22:38] danesolberg opened #204 "Duplicate path parameters should raise exception"
~Just beginning to learn the codebase, but excited to contribute something substantial in the future 😄

Currently, routes with duplicate path parameters can be registered to a handler.  The conflict is resolved by using the value associated to the last occurrence of the duplicated parameters (see [here](https://github.com/starlite-api/starlite/blob/c7057dc59298eb0bcdc9acc325157a2d0a4addd1/starlite

[2022-06-30 22:58] peterschutt commented on #204
Sounds reasonable to me - push away - a test or two would be appreciated also.

[2022-06-30 23:48] #204 closed

[2022-07-01 01:23] Jabbey92 commented on #199
_My sincerest apologies, like I said in discord I was very distracted while writing this and never even referred to my code I had wrote about this a month ago._

Thank you for being understanding and not brushing me aside with such an off the wall issue. Allow me the chance to re-iterate my intentions, and ask some more appropriate quetions hopefully.

I want to start by re-defining my goal with t

[2022-07-01 01:59] peterschutt commented on #199
+1 from me for the `async for` pattern.

Let me know if I'm following correctly (BTW, websockets aren't a space that I work in, so if I'm misunderstanding anything, LMK).

The proposal is that `WebSocket` is generic on send and receive type? We'd validate and parse inbound data inside `__aiter__` using the type specified via the generic class parameter so that iterating over the socket yields inst

[2022-07-01 03:41] Jabbey92 commented on #199
@peterschutt

Thank you for the consideration!

I figure, if not for anything else, documentation purposes.

Also something I considered:

Another option for if multiple types are expected for one endpoint is to overload the functions. While I dont think a decorator style like I suggested earlier would work. But there are other ways to do this in pure python.

[2022-07-01 05:59] Goldziher commented on #199
@Jabbey92, so the issue with what you propose is that our `WebSocket` class already accepts generics - WebSocket[User, Auth]` - same as our `Request` class.

I think the simplest way is to use the `data` keyword for the expected data type, or maybe alternatively add new keywords?

[2022-07-01 07:10] vrslev commented on #175
@Goldziher Then I don’t understand the point of changes in #197. Nor my example nor something like https://github.com/bigbag/starlette-request-id would work as expected 🤔

[2022-07-01 07:33] Goldziher commented on #175
They will work fine on anything that is not a 404/405 raised by the asgi router.

Why would you need to set these headers on these type of errors?

[2022-07-01 16:34] dkress59 commented on #131
For me it's working now – I'll open a PR, please verify on your end @Goldziher

[2022-07-01 17:41] vrslev commented on #175
I want to use [_secure_ package](https://github.com/cak/secure) on all incoming requests, not only when route is found.

[2022-07-01 18:12] Goldziher commented on #175
I dont think these headers specifically are important for these errors, but to each his own. You can set the headers in an exception handler as stated above. Its true that you cannot do this using middleware, but we cannot eat the cake and have it whole.

[2022-07-01 18:12] vrslev commented on #175
Sure there are workarounds. I'm more worried about other users that would be surprised by the current behaviour.

[2022-07-01 18:14] Goldziher commented on #175
Yes its not perfect. But there is no way really to make it perfect - its either we restrict middleware in the way it is restricted in Starlette, add a different layer of middleware that is applied to these errors, apply the app layer middleware to these errors, or simply allow users to manually configure the exceptions as they see fit. None of these solutions is perfect.

[2022-07-01 18:17] vrslev commented on #175
If this certain issue is a "wontfix", I think it should be documented.

[2022-07-01 18:18] Goldziher commented on #175
Fair point. Do you want to contribute this?

[2022-07-01 18:19] vrslev commented on #175
Yes. Is "Middleware" page is the best one where to put this information?

[2022-07-01 18:20] Goldziher commented on #175
sure

[2022-07-01 18:21] vrslev commented on #175
Thanks for your effort to help with this issue and passion for the project, by the way! ❤️

[2022-07-01 18:54] Goldziher commented on #175
Ok, i updated the docs - will be deployde shortly.

[2022-07-01 18:54] #175 closed

[2022-07-01 22:08] Jabbey92 commented on #199
@Goldziher

So you're saying that there would be no way to change this? Why must it accept those generics? Otherwise there would be no real way for function documentation.

Maybe it can be a kwarg in the decorator?

[code]

Would this cause breaking changes?

Excuse me for any misunderstanding, I see this in the code, although I don't see it's use in the documentation.

The code get's a little har

[2022-07-02 00:19] Jabbey92 commented on #199
Just thinking, we could also give `Websocket` the functionality of being iterable.

It would also have 2 new properties: `recieve_type` and `send_type` with default values on initial creation.

Then create a separate class. Say `ParsedWebsocket` that returns a `WebSocket` with those new properties filled in. Thus fulfilling the type hinting within the function declaration. Also with the added bene

[2022-07-02 00:44] peterschutt commented on #199
Do you mean the `User` and `Auth` generics to `WebSocket`?

The generics define the static type of the return values of the `WebSocket.{user,auth}` properties:

[code]

Here's where I'm at with all this. Firstly, no one is arguing that there aren't improvements to be made with to the websockets interface. However, there's lots of ways to skin the cat, and the devil is always in the detail.

First,

[2022-07-02 02:57] peterschutt commented on #199
See:

https://github.com/starlite-api/starlite-websockets-hello-world

There is nothing websockets about it yet, just a pure clone of the other "hello-world" app in the org.

[2022-07-02 04:43] peterschutt commented on #199
https://gist.github.com/whitecoop/157702ab76fb8243720fb318abd85341

[2022-07-02 19:49] Jabbey92 commented on #199
@peterschutt

Absolutely, I've forked it and working on a PR currently.

[2022-07-03 17:46] Goldziher commented on #196
the issue is upstream. its a complex fix to avoid recursion and the behaviour is not really clear - so Ill see if we can work around it locally.

[2022-07-03 21:17] Goldziher opened #210 "Enhancement: WSGI"
Starlette allows mounting WSGI apps in specific routes. I suggest we do something that gives the same capabilities but differently:

1. We install `asgiref`, which we could use for various things as well later (e.g. #97), and which offers utilities for using wsgi inside asgi.
2. We create a new `@wsgi` decorator along the lines of the `@asgi` decorator, which will handle this.

[2022-07-03 21:17] Goldziher commented on #210
@peterschutt you input, as always, is welcome.

[2022-07-04 04:39] Goldziher commented on #210
So, after playing around with this my conclusion is we do not need asgiref for this - furhtermore, asgiref cannot really be used for typing at present. We can implement wsgi simply by using the starlette middleware, which has similarities to asgiref.

[2022-07-04 04:40] Goldziher commented on #97
So I checked this out. It seems that we cannot really use asgiref for typing as is because their typing of scope is too restrictive. We will first need to make some PRs to asgiref to fix this, or we will simply need to create a small version of this package on our end.

[2022-07-04 04:40] Goldziher commented on #131
Fixed! thanks @dkress59

[2022-07-04 04:40] #131 closed

[2022-07-04 07:17] Goldziher commented on #210
ok, im going to close this issue - if we get people who want it in sufficent number, lets revisit.

[2022-07-04 07:17] #210 closed

[2022-07-04 07:18] #192 closed

[2022-07-04 07:18] #169 closed

[2022-07-04 11:21] mybigman opened #241 "Question: How to mount an app instance?"
Is this possible? If not could it be :)

[code]

[2022-07-04 11:36] Goldziher commented on #241
Checkout the `@asgi` decorator

[2022-07-04 13:29] Goldziher commented on #97
The scope

[2022-07-04 13:38] JeromeK13 commented on #151
What about using cookiecutter together with clap?
So you could create a separate repo for the template but still integrate the cli into the "main" repo while using cookiecutter as a base.

[2022-07-04 13:41] Goldziher commented on #151
I'm open to this idea. I have no experience working with these tools tbh.

[2022-07-04 13:44] JeromeK13 commented on #151
Alright I could do a proposal. In general do you care about dependencies in this project?
For example is it a problem for using Clap instead of the default arg-parser?

[2022-07-04 13:45] peterschutt commented on #151
Would it also mean `cookiecutter` was a dependency of the standard install?

[2022-07-04 13:46] Goldziher commented on #151
It will be an `extra` dependency I assume, so it shouldnt be a problem.

[2022-07-05 04:36] peterschutt commented on #241
Feel free to reopen if that doesn't answer your question @mybigman

[2022-07-05 05:31] peterschutt commented on #189
I see how this will give us info about the parameters for documentation, and an avenue to set other docs properties, but what about having access to the parsed/validated values inside the middleware?

This is where I think having a concrete base class in addition to the protocol might be a good idea. For example,

[code]
... so the parameters could be accessed in `__call__()` and we can handle the

[2022-07-05 06:19] Goldziher commented on #189
So, the question is why would we need to access this?

[2022-07-05 08:01] mybigman commented on #241
thanks mate... just haven't had a chance to try it yet.

[2022-07-05 09:57] Goldziher opened #250 "Feature: Extend lifecycle hooks"
We currently support two lifecycle hooks for HTTP handlers, it would be good to extend and systematize these because it can be very useful for users. I would like to open this to discussion.

So questions-
1. at what junctures does it make sense to add a lifecycle hook?
2. what are some of the use case(s) for the suggested hook?
3. are there any particular difficulties in implementing a suggested

[2022-07-05 10:01] Goldziher commented on #250
So here are some suggestions:

1. An `after_response` hook that will fire once the response cycle finishes. The use case for this I can see is to be able to plug some instrumentation, e.g. prometheus, to gather matrics, emit logs etc. I don't see any difficulties implementing it. I also dont really see a reason not to do this, but maybe someone else does?
2. An `after_exception` hook that will fir

[2022-07-05 11:50] mybigman commented on #241
@Goldziher I appear it doesn't give me what I want or I am going about it the wrong way.

What I was hoping for was

[code]
Which gives a 500 error `ASGI callable returned without starting response.`

Can you share an example please.

[2022-07-05 12:00] Goldziher commented on #241
Try to await the `test_app`

[2022-07-06 00:00] mybigman commented on #241
That fixed the error, however the route isn't available (404) and is not visible in the schema either.

Thoughts?

[2022-07-06 00:55] peterschutt commented on #241
[code]

[2022-07-06 01:03] peterschutt commented on #241
FYI created branch in the hello-world repo with the asgi app example from the docs:

https://github.com/starlite-api/starlite-hello-world/tree/asgi-app-handler

[2022-07-06 05:37] mybigman commented on #241
Sorry this is not clear to me?

That sounds interesting...

Using what you demonstrated
[code]
This works when visiting `/test` though adding a second route does not `/apple` or `/test/apple`

BTW the hello-world branch is not there. I assume it was deleted to use the code above as reference?

[2022-07-06 07:16] peterschutt commented on #241
The path that you are sending into the mounted starlite application is subject to routing within that second app. The `404` you received before was because you were trying to route path `/test` in the app that only had a handler registered to `/`. My example was just a demonstration of that: by changing the path in `scope` to `/` it worked because that is the path that the handler was registered t

[2022-07-06 07:42] Goldziher opened #253 "Refactor: Consistent Type Checking Blocks"
A lot of the files do not use a type checking block, and thus imports only for typing are imported at runtime - increasing memory usage unnecessarily. The task would be to a flake8 type checking plugin (for example [this one](https://github.com/snok/flake8-type-checking)) to the `.pre-commit-config.yaml` file, run `pre-commit run --allf-files`, and fix all reported issues.

[2022-07-06 07:51] Goldziher commented on #132
@peterschutt - can you do a write down of what required? lets see if other people would like to chip in on this one.

[2022-07-06 07:53] Goldziher commented on #166
So, any update on this @laukhin ? if you are not working on this, someone else might like to give it a go.

[2022-07-06 07:55] Goldziher commented on #97
Ok @relsunkaev - im closing this issue. Feel free to reopen if and when asgief is updated and you have capacity to do the job .

[2022-07-06 08:03] Goldziher commented on #189
But why would we need a base class for this? We can simply use a wrapper as I suggested and use the existing stuff. The base class is not required for this. I dont understand what using a base class gives us here.

[2022-07-06 09:39] Goldziher commented on #189
I see what you mean now. You want some way to extend typing info regarding parameters to be useful for Middleware. I'm not sure how viable this is tbh. We need to try it out and run some tests etc.

[2022-07-06 10:05] 185504a9 commented on #132
+1 for mkdocsstrings. i'm using it on a few projects and it works well, especially when following google's docstring style. pairing it with with something like [interrogate](https://interrogate.readthedocs.io/en/latest/index.html) can also be a plus

[2022-07-06 10:10] peterschutt commented on #132
Yep I remember the logo!

[2022-07-06 11:41] josepdaniel opened #255 "Query parameter arrays with 1 element aren't parsed as arrays"
I've been reading through the docs and so far I'm loving how domain modelling is built in with pydantic! Experimenting with query params I noticed that query parameter arrays with 1 element end up with type `T` rather than `List[T]`.  See the example below:

[code]

Running
- `curl "localhost:8000/test?myArray=1"` gives a 400 with `value is not a valid list`.
- `curl "localhost:8000/test?myArray=1

[2022-07-06 12:11] mybigman commented on #241
Basically the same as what fastapi does with [sub-application](https://fastapi.tiangolo.com/advanced/sub-applications/?h=mount#sub-application)

Its almost like 2 apps in one, each with there own schema, middlewares etc

Make sense?

[2022-07-06 12:17] wassafshahzad commented on #255
Is this open to pick up ?

[2022-07-06 12:29] Goldziher commented on #255
lets let @josepdaniel respond first. If he doesn't respond within the next few hours, go ahead.

Also - there wouldn't need to be much adjustment, just a tuning of the parsing logic, which now converts from a list to a single element if the length is one.

[2022-07-06 12:56] Goldziher commented on #255
Take your time

[2022-07-06 13:03] wassafshahzad commented on #250
@Goldziher We could take a look at Django signals, There are a few good examples which could be useful such as `pre_save` and `post_save`

[2022-07-06 13:05] Goldziher commented on #250
But Django has a builtin ORM. We don't. Do you know Fastify? We can take a queue from what they got.

[2022-07-06 13:27] wassafshahzad commented on #250
I can look into it

[2022-07-06 16:57] nramos0 commented on #177
I'll give writing the bindings in Rust a shot.

[2022-07-06 17:21] odiseo0 commented on #189
I like the approach of the `MiddlewareProtocol`

[2022-07-06 22:27] peterschutt commented on #241
Yes I get that, but what are you trying to achieve with the pattern? Are you solving a specific problem in trying to do this, or just trying to see if it can be done?

[2022-07-06 22:34] peterschutt commented on #132
OK I've been looking for a reason to prefer a docstring style - so if there's benefit to preferring google style for this do you mind if we make that a requirement for new contribs going forward @Goldziher?

[2022-07-06 23:51] Goldziher commented on #132
Not at all

[2022-07-07 00:16] mybigman commented on #241
I am not trying to solve a specific problem as such its just how I visualize it when looking at the code, and yes the same can be achieved with a single instance.

I can have the base app instance with its own set of configs/routes/middleware etc and so can the subapp but also inherits from the base app middleware.

Anyway feel free to close.

[2022-07-07 00:16] Goldziher commented on #177
Pretty much

[2022-07-07 00:21] peterschutt commented on #241
OK, I'll  close for now, perhaps others will request the same in the future and we can revisit.

[2022-07-07 01:29] peterschutt commented on #132
The note doesn't render in the screenshot however it says:

I figure that it will be better to have the api docs included in `main`, yet incomplete, so that we don't have to constantly rebase and resolve conflicts as we would if we chose to keep all this isolated. Hence the note.

[2022-07-07 01:34] peterschutt commented on #132
TODO:
- [ ] settle on the configuration
- [ ] set some baselines for doc string style in `CONTRIBUTING.md`, e.g., references to other public api members should be cross-referenced, e.g., ```[`Object 1`][full.path.object1]```
- [ ] detail all classes/functions that should be included in the public api docs
- [ ] detail members of each class that should be included in the public api for each class i

[2022-07-07 06:21] 185504a9 commented on #132
for full transparency and seeing that this is going pretty fast, i feel like i should mention that the the reason i said that it works best with google's style is bcuz i simply couldn't get it to work with other styles at the time, which was ~4 months ago; i don't know if that was my incompetence or a bug that is resolved now

about the layout choice, i think having multiple files, one for each cl

[2022-07-07 06:23] peterschutt commented on #132
I see that google style is the default for the framework, so that's good enough for me. If we run into any issues we can try some others.

Agree.

[2022-07-08 10:14] wassafshahzad commented on #250
@Goldziher sorry for the late reply, I looked into fastify lifecyclehooks and `preSerialization` looks like a good hook to add in addition to `after_response` and `after_exception`

This PR will take some time since I am new to this repo and library in general

[2022-07-08 11:25] Goldziher commented on #250
No problem. I might do this depending on time available.

[2022-07-08 19:09] Bobronium commented on #188
Ok, so I've been working on this for couple of days, but struggling to continue.

If anyone wants to pick up on this, please let me know.

I'm still committed to do this, but don't want to stop anyone who's able to do it quicker than me. If no one will pick this up, there's a great chance I will do it some time later.

[2022-07-08 22:20] Goldziher commented on #188
Ok, thanks for your efforts @Bobronium

[2022-07-09 00:40] Dr-Emann commented on #177
I had a go at trying to extract out such an interface in python first: https://github.com/Dr-Emann/starlite/blob/refactor_route_map/starlite/route_map.py

Unfortunately, I did find that I needed access to a `Starlite` instance for `.static_paths` and `.build_route_middleware_stack()` when adding routes, I added it as a param to `__init__` in my code.

Is there an existing way to benchmark the rout

[2022-07-09 03:45] Goldziher commented on #177
That's great!

So there is no test setup for this at present I'm afraid. And yes, testing compiled regexes is a good idea .

[2022-07-09 04:30] #253 closed

[2022-07-09 14:39] nramos0 commented on #177
I've ported the logic for the route map to a Rust extension very directly using the same trie method, but with a Rust struct containing `HashMap`s and `HashSet`s to represent each of the attributes in the original Python node. The code is available at my fork of Starlite [here](https://github.com/nramos0/starlite/tree/main/starlite/extensions/rust).

The code passes all `pytest` tests, but I haven

[2022-07-09 15:39] Goldziher commented on #177
First off - many thanks.

It seems there are now two possible implementations in place.

What I suggest is that you add a PR with your changes.

We will review it, and get it merged into a special branch in Starlite other than main. This will our baseline for the rust bindings and we can then then work on benchmarking.

We need build scripts and unit tests as well.

What do you guys think? @Dr-Ema

[2022-07-11 21:59] MrAwesomeRocks commented on #177
Here's my implementation (in C): https://github.com/MrAwesomeRocks/starlite/blob/NinoMaruszewski/issue-177-c-bindings/starlite/routing/.

The pure-python part (`route_map.py`) is done, the C implementation is still WIP.

[2022-07-12 06:03] Goldziher commented on #177
Thanks @MrAwesomeRocks. We will be going with Rust though, and work on the open PR as a basis. It's the best course of action for two reasons- 1. That implementation has a complete draft, and 2. Rust is easier to maintain for us in the long run and is as such future proofing.

You're welcome to chime there if course.

[2022-07-12 23:56] peterschutt opened #275 "Hypothesis test case failure in CI"
[code]

[2022-07-13 00:59] Goldziher commented on #275
Debugging hypothesis failures is a bitch. KY method- temporarily set a try ... except block in the test and catch the assertion error. The log all the info you need to understand what is actually failing.

[2022-07-13 11:14] Goldziher commented on #275
Great debug!

[2022-07-13 12:42] Goldziher commented on #187
Released in v1.6.0

[2022-07-13 12:42] #187 closed

[2022-07-13 14:01] cofin commented on #275
I agree.  Awesome work!

[2022-07-13 15:00] danesolberg commented on #275
TLDR - It looks to me like the path `/A/{a:int}` isn't actually in the route-map when the test fails, but rather the logic to test for presence of a path in the route-map is wrong.

--

Thanks for working on this! My intention was indeed to have the route-map fill up as each path is added - I believe this helps cover more edge cases around paths that might result in ambiguity or conflicts in path

[2022-07-13 22:18] peterschutt commented on #275
OK cheers @danesolberg will leave it with you.

[2022-07-14 06:20] mybigman opened #278 "redirect to use or extend redirect response"
Currently Redirect does not return a response so its not usable like Starlettes `RedirectResponse`.

Is there another approach or just use Starlettes?

[code]

[2022-07-14 06:29] Goldziher commented on #278
You can use the `after_request` hook to modify the response Starlite creates.

[2022-07-14 07:14] mybigman commented on #278
Yes I know that, however I am doing stuff in the handler first before passing values into the cookie.

[2022-07-14 08:20] Goldziher commented on #278
So what's the problem exactly? You can do what you do and return a redirect response as is. What's the issue with this setup?

[2022-07-14 10:32] mybigman commented on #278
The is no issue per say. Just a nice to have for consistency.

[code]

I guess I am use to `fastapi` where mostly everything comes from the same framework rather then having to remember this comes from the underlying framework.

Sorry if it wasn't clear feel free to close.

[2022-07-14 11:02] Goldziher commented on #278
I see, you basically want re-exports. I'd suggest you switch to an IDE that handles this for you.

[2022-07-15 05:58] #250 closed

[2022-07-15 09:11] peterschutt commented on #275
Closed in #277

[2022-07-16 18:35] #188 closed

[2022-07-16 18:36] Goldziher commented on #180
@cofin do you want to take this one?

[2022-07-16 18:43] cofin commented on #180
Yep.  I'll take a look at it over the weekend.

[2022-07-18 13:55] peterschutt opened #284 "Lifecycle hooks don't support methods"
The docs do use the word `function` explicitly for `before_request` and `after_request` so based on that this probably isn't a bug, but bringing it up for sake of discussion.

[code]
Hitting the route returns `{"detail":"TypeError(\"Timer.start() missing 1 required positional argument: '_'\")"}`. Which is because we explicitly unbind any instance handed to those parameters.

The example could be s

[2022-07-18 15:21] Goldziher commented on #284
i agree that we should support methods, there is really no reason not to do this. You wanna do this?

[2022-07-18 18:48] Harry-Lees opened #287 "Partial doesn't work with inherited fields"
[code]

In the above example, `Partial[Child]` only accepts the field `bar: Optional[int]` and ignores all fields from the superclass. I couldn't find this behaviour documented anywhere so I assume this isn't intended?

[code]

This behaviour can also be seen above

[2022-07-18 19:11] Harry-Lees commented on #287
I believe the following implementation would work:

[code]

This implementation will traverse the class' mro and grab all annotations from parent classes until `BaseModel` is reached.

This does, however, change the runtime behaviour of `Partial` since even though the linter complains, you can currently pass a non BaseModel class into Partial:

[code]

Whereas, after this change the same code woul

[2022-07-18 19:14] Goldziher commented on #287
Great! Would you like to add a PR?

[2022-07-18 20:01] peterschutt commented on #284
Yep I'll do it in #280

[2022-07-19 01:01] peterschutt opened #289 "Enhancement: Eager eval of async vs. sync guards"
In `LifecycleHook` we eagerly evaluate whether a callable is async or sync, so that we don't need to do that for every call to the handler around every request.

Guards would probably benefit from the same - currently we discriminate for every call:

https://github.com/starlite-api/starlite/blob/a2c8a86d42fb347133a5c0c278ae9bc950c75cb7/starlite/handlers/base.py#L220-L228

If we itroduce a `Guard`

[2022-07-19 01:06] Goldziher commented on #289
Sure

[2022-07-19 11:25] #255 closed

[2022-07-19 11:31] Goldziher opened #291 "Enhancement: add support for Picologging"
Picologging is a new library that looks very promising, it would be great to extend support for it: https://github.com/microsoft/picologging.

Ideally we would have a logging config for Picologging like we have for the standard lib.

Of course, Picologging should be an optional dependency or a dev dependency only that throws an `MissingDependencyException` if not present (see other occurances of `

[2022-07-19 17:52] MrAwesomeRocks commented on #291
Probably would be a good idea to combine it with [Structlog](https://www.structlog.org/en/stable/).

Here's how I did Stdlib + Structlog (with some SQLAlchemy stuff - just ignore), we can just replace stdlib with picologging and everything should work: https://gist.github.com/MrAwesomeRocks/42645651849bb36b84429d219989dbcb

[2022-07-20 02:17] peterschutt commented on #241
Reopened per discussion in discord.

[2022-07-20 04:02] Goldziher commented on #241
Well, bring the context in 😉

[2022-07-20 04:11] peterschutt commented on #241
I'll give GilFriedEgg a chance to move his discussion over here - but sure, if I'm looking for something to do a bit later and there's been no movement, then I'll spend some time on it.

[2022-07-20 07:23] peterschutt commented on #241
OK so this came up again [here](https://discord.com/channels/919193495116337154/919193495690936353/998688055475048488)

Relevant quote:

I asked:

I commented:

E.g., in the example app, the core stuff would be a shared library and the app itself would be configured as a set of micro-services drawing from the shared lib of resources and all pulled together into a master app at the top level

My co

[2022-07-20 08:12] peterschutt commented on #241
From discord (GilFriedEgg):

If at all helpful, here are the relevant equivalencies in starlette.

PR: https://github.com/encode/starlette/pull/363

Per Starlette docs, routing to subdomains can be achieved like this:

[code]

[2022-07-20 08:58] devtud opened #294 "Make default exception handler response creation logic available from outside ExceptionHandlingMiddleware`"
As far as I can see, Starlite does not log the exceptions, the only thing I see is:

[code]

I would like that Starlite prints out the exceptions behind and their trace.

Thanks.

[2022-07-20 09:01] peterschutt commented on #294
You can register handlers to exception types and http status codes, this is how I approach it.

You can see in the example app, this module: https://github.com/starlite-api/starlite-pg-redis-docker/blob/main/app/core/exceptions.py

And how that is registered to the application: https://github.com/starlite-api/starlite-pg-redis-docker/blob/78094bc4ea82839ba8703a41381da1e60f0b1d4d/app/main.py#L14

[2022-07-20 09:13] devtud commented on #294
Thanks. I was thinking at something like that but instantiating a `ExceptionHandlerMiddleware` to take its default exc handler seemed a poor choice initially.

[2022-07-20 09:17] peterschutt commented on #294
Yeh, that `default_http_method_handler()` method used to exist on the `Starlite` class until a recent release so it was a bit cleaner.. you don't need to do that, but I just wanted to get at the pre-existing response generation logic rather than roll my own.. we should probably just split that out into a utility func so that it can be accessed directly.

[2022-07-20 12:58] mybigman commented on #241
maybe some traction :)

[2022-07-20 18:45] cofin opened #296 "Enhancement: CSRF Middleware"
Implement a middleware to provide CSRF validation.  No additional libraries should be required since everything we'd need is built into Starlette.

[2022-07-21 10:38] peterschutt commented on #241
That example isn't really doing anything more than `Router` already does, right?

I'd say this is the more relevant example from starlette docs:

[code]

[2022-07-21 10:47] peterschutt commented on #241
So what should happen when an app is mounted? Should middleware, exception handlers etc that are registered on the main application also apply to a mounted application? Would we just modify the mounted app in place?

E.g., what should happen here:
[code]
What are the exception handlers on `app_1` now?

[2022-07-21 11:33] #166 closed

[2022-07-21 12:00] Goldziher commented on #241
Well, starlite is an instance of the statlite router. We can make this work. But I really don't understand why not use routers for this purpose.

[2022-07-21 13:00] Goldziher commented on #241
Ok, so for `Host` -- the Starlette code looks like this:

[code]

Note that hos is a header in this case. So what we are talking about here is actually routing based on the "host" header, rather than handling different domain routing which will be done by a webserver etc.

My position is this--

For "Mount" we use `@asgi` or ther Router class. I do not understand the point of mounting different st

[2022-07-21 21:59] peterschutt commented on #241
From the perspective of separation of concerns, I agree that this adds nothing on top of `Router`.

What about docs? I wouldn't mind being able to have separate openapi schemas for different routers, so could we look at supporting adding openapi config at the router layer? As you say, `Starlite` is router, so that should mean we can make the move without having to affect the interface, but then we

[2022-07-21 23:31] #294 closed

[2022-07-21 23:33] peterschutt commented on #294
@devtud exception response utility now available and example code in the docs.

Thanks for opening the issue.

[2022-07-21 23:35] peterschutt commented on #294
@all-contributors please add @devtud for bug

[2022-07-22 11:42] LonelyVikingMichael opened #300 "Enhancement: Add OpenAPI 3.0.3 support"
This would enable support for interactive Swagger documentation.

The downside is that this will become redundant once Swagger UI adopts OpenAPI 3.1.0.

[2022-07-22 14:27] timwedde commented on #300
As far as I have experienced, the only thing standing between us supporting Swagger in Starlite is that Starlite (correctly) marks the schema as 3.1. SwaggerUI explicitly blocks this because they want to fully support the JSON schema in 3.1 first before allowing this, but if you have a 3.1 YAML schema, it already works perfectly fine with the JS bundle you can get right now.

I've implemented a co

[2022-07-22 16:36] Goldziher opened #301 "Enhancement: OpenAPI configs update"
We currently do not support customization of -

1. favicon
2. css
3. js-package to use (e.g. specific version of redoc)

If a user wants to achieve this- he or she needs to subclass our `starlite.openapi.OpenAPIController` class and override the `redoc` method with modification. This is by design. Yet - it would be good to extend the configuration object to support setting these values.

Additiona

[2022-07-22 16:41] Goldziher commented on #300
@LonelyVikingMichael can you test what @timwedde posted above? It would certainly save a huge amount of work if its possible to patch like this in a satisfactory way.

[2022-07-22 17:12] timwedde commented on #300
Just looked into this a bit more so here's a working version that does not require vendoring a patched SwaggerUI bundle:
[code]

You can see that I simply "trick" Swagger into believing this is an OpenAPI 3.0 spec by overriding the version specifier. With this trick, SwaggerUI works as expected, as far as I have been able to validate, and you can use the regular CDN bundles without any tweaks.

[2022-07-22 17:17] Goldziher commented on #300
Do you want to add a PR extending `starlite.openapi.OpenAPIControllers`? I'd suggest to simply add a `swagger_ui` method to it, keeping it as simple as possible (no extra code we don't support for now). We can the. Test this branch using the example project.

[2022-07-22 17:18] timwedde commented on #300
Can do, I might get to it this evening already.

[2022-07-22 18:22] Goldziher commented on #300
Cheers @timwedde - im testing your PR

[2022-07-22 19:02] Goldziher commented on #300
I verified this works @timwedde -- please see https://github.com/starlite-api/starlite/pull/303

[2022-07-23 11:18] Goldziher commented on #301
The controller was enhanced in 1.7.1 to support the above. This is therefore done.

[2022-07-23 11:18] #301 closed

[2022-07-23 11:19] Goldziher commented on #300
Swagger-UI support has been released in v1.7.1, and the docs have been accordingly updated.

[2022-07-23 11:19] #300 closed

[2022-07-23 17:04] #287 closed

[2022-07-24 12:47] vrslev opened #308 "Bug: Sentry middleware doesn't catch errors"
- Set `SENTRY_DSN` environment variable
- Install `sentry_dsk`
- Run Starlite app:

[code]

Sentry didn't catch the Exception.

[2022-07-24 17:42] Goldziher commented on #308
testing this. next time please add a test PR so we can easily identify the issue.

[2022-07-24 17:51] Goldziher commented on #308
verified - the exception is caught before the middleware is invoked. Lets see if there is a solution for this.

[2022-07-24 17:57] Goldziher commented on #308
Ok, so I looked into this. IMO there is no issue. Look at this code from the middleware:

[code]

And then where it might be invoked:

[code]

Basically an exception is captured only when its not handled, but it is a handled exception. The only kind of exception you might get here is from a middleware inside the middleware stack before this middleware, which might be unhandled. Sentry should still

[2022-07-25 01:30] peterschutt commented on #308
Knowing that Starlite wraps the route handlers in their own exception handling which doesn't let exceptions propagate back through the middleware stack, then yeh this is expected.

However, I'm pretty sure most would expect that an internal error such as this would be ingested by sentry, especially beginners.

I don't experience the issue as due to the logging exception handler pattern:

[code]
..

[2022-07-25 05:54] Goldziher commented on #308
So what's your suggestion for resolving this?

[2022-07-25 07:17] vrslev commented on #308
I agree with @peterschutt. For Starlite perspective, this behavior is expected, however users (for sure) expect that Sentry will catch server errors.

[2022-07-25 08:54] peterschutt commented on #308
`from sentry_sdk.integrations.starlite import StarliteIntegration`?

For context, specific starlette and fastapi integrations were merged 5 days ago (https://github.com/getsentry/sentry-python/pull/1441 and https://github.com/getsentry/sentry-python/pull/1495)

[2022-07-25 09:03] peterschutt commented on #308
https://github.com/getsentry/sentry-python/blob/master/CONTRIBUTING.md#adding-a-new-integration-checklist

[2022-07-25 10:38] Harry-Lees opened #309 "Enhancement: Extend `Partial` to accept other class types"
Currently, [Partial](https://starlite-api.github.io/starlite/usage/11-data-transfer-objects/#partial-dtos) can be used to create Partial instances of Pydantic classes e.g.

[code]

It would be helpful for Partial to also support dataclasses and ORM classes e.g. SQLAlchemy, Tortoise, etc.

[2022-07-25 11:04] Goldziher commented on #309
Dataclasses for sure. Supporting plugins is going to be harder to do.

[2022-07-25 12:12] Harry-Lees commented on #309
I believe I have an acceptable implementation for dataclasses at the moment, the current implementation uses `dataclasses.fields` and `dataclasses.make_dataclass` to copy across fields. This includes some of the more complex behaviour:

[code]

would be equivalent to the following class definition

[code]

obviously, we lose some information with the methods, but I believe the same thing happens w

[2022-07-25 12:13] Harry-Lees commented on #309
I believe I have an acceptable implementation for dataclasses at the moment, the current implementation uses `dataclasses.fields` and `dataclasses.make_dataclass` to copy across fields. This includes some of the more complex behaviour:

[code]

would be equivalent to the following class definition

[code]

obviously, we lose some information with the methods, but I believe the same thing happens w

[2022-07-25 12:15] Goldziher commented on #309
I think we should aim for a class identical to the base with modification of types to Optional

[2022-07-29 17:14] lewoudar opened #316 "Enhancement: Extended documentation for multiple responses"
Hi folks,
I just discovered this framework today, it seems really promising. But I already have one question after reading the docs.
It seems like it is not possible to document alternative responses for a route path (or may be I read too fast), i.e. something like [this](https://fastapi.tiangolo.com/advanced/additional-responses/) in FastAPI.

[2022-07-29 17:54] Goldziher commented on #316
You can just type the return value as a union type and it will infer the responses for you.

[2022-07-29 18:03] lewoudar commented on #316
Ok I see, but the issue here is that you can't customize the message, description, etc...

[2022-07-29 18:08] Goldziher commented on #316
Per response content body content? Not at present.

To be clear - we are talking here bout customizing the description of elements inside whats called `oneOf` In OpenAPI, correct?

[2022-07-29 18:15] lewoudar commented on #316
Yes!

[2022-07-29 18:21] Goldziher commented on #316
Ok. I'll Label this as an enhancement request then. You're welcome to contribute a PR to handle this, or someone else will get to it 😀

[2022-07-29 18:33] lewoudar commented on #316
Unfortunetaly I don't have too much time now to dig in the code 😢
You probably want to affect it to another person

[2022-07-29 18:52] Goldziher commented on #316
No worries

[2022-08-02 05:24] seladb commented on #296
@cofin @Goldziher I'm trying to tackle this issue. We can use [Starlette's 3rd-party `CSRFMiddleware`](https://github.com/frankie567/starlette-csrf) and write a simple wrapper around it or write our own. What would you prefer?

[2022-08-02 05:26] Goldziher commented on #296
Hi, and thanks. Please no third party dependencies unless they are very strongly maintained, which isn't the case here.

[2022-08-02 05:29] seladb commented on #296
Sounds good! In that case we can write our own implementation which should be somewhat similar to [`CSRFMiddleware`](https://github.com/frankie567/starlette-csrf)

[2022-08-02 07:08] seladb commented on #296
@Goldziher you can assign this issue to me, it might take me a few days because I'm still new to starlite but I think I can get it done

[2022-08-02 08:16] Goldziher commented on #296
Done. You're welcome to join our discord where we can chat 😉

[2022-08-02 15:34] cofin commented on #296
Thanks, @seladb.  Let us know how we can help!

[2022-08-02 16:19] cofin commented on #291
All of the test cases currently pass, but I wanted to do some additional checks.

Picologging doesn't have a `dictConfig`, so I had to use the existing logging dictConfig.  I'll leave it as a draft until we've done some more testing, and I'll take a look at Structlog.

[2022-08-02 17:46] Goldziher opened #330 "Enhancement: Contrib"
It might be useful to add a `starlite.contrib` package, with some base implementations that users might extend. For example, a `starlite.contrib.authentication.jwt` might be a package that includes an optional JWT authentication backend, as [given in the docs as an example](https://starlite-api.github.io/starlite/usage/8-authentication/?h=jwt#example-create-a-jwt-authentication-middleware).

There

[2022-08-02 18:10] cofin commented on #330
I'd like to see something like this.  It gives a standard location to put any extensions and it gives a clear indication in the module name that it's for "extra" functionality.

[2022-08-02 19:17] Tobi-De commented on #330
I agree with @cofin, it's a good idea, but if one of the main goals of startlite is to be as light as possible, then over time yes it might become bloat. Maybe a separate package for that is more appropriate.

[2022-08-03 19:54] ubernostrum opened #333 "Pydantic 1.9.1 deepcopy breaks Redis caching, possibly other things"
I'm open to the possibility that this should be treated as an issue in Pydantic because it's a breaking change there, and https://github.com/samuelcolvin/pydantic/issues/4184 appears to be a variation of this.

I have a Starlite application which configures its caching as follows (excerpt from my actual `app.py`):

[code]

`config.settings` in this case is a `pydantic.BaseSettings` instance which

[2022-08-03 20:14] Goldziher commented on #333
Ok, thanks for the analysis. Would you like to submit a PR?

[2022-08-03 20:29] ubernostrum commented on #333
If you'd be OK with passing `"copy_on_model_validation": False` as the workaround, I can put together a PR for it in the next couple days. The tricky part will be the testing -- do you have a preference for a non-pickle-able object to pass to `Starlite` to verify the fix?

[2022-08-03 22:46] Goldziher commented on #333
Absolutely

[2022-08-03 22:54] peterschutt commented on #333
Here's a repro for the pydantic side:

[code]

Results in:

[code]

I created that as I found this issue: https://github.com/samuelcolvin/pydantic/issues/3284 and wanted a quick test.. and as that issue suggests `@pydantic.validate_arguments(config={"copy_on_model_validation": False})` has no effect.

Setting it on the `Config` object on `Container` does fix it.

[2022-08-03 23:22] ubernostrum commented on #333
Well, if passing it to `validate_arguments` doesn't actually work, then I guess I won't try that.

(though when I have some time I'll verify it doesn't work before giving up on that approach)

[2022-08-04 16:17] Goldziher commented on #333
So whats the solution? we strip validate arguments or we pin to 1.9? Or is there an alternative?

[2022-08-04 16:20] #241 closed

[2022-08-04 19:05] ubernostrum commented on #333
As a user, I'm pinning to Pydantic 1.9.0 until they decide what they're going to do about it. I'm not sure, and I don't presume to tell you, what the best choice is for Starlite -- both pinning and remove `validate_arguments` seem like they have downsides.

[2022-08-04 19:47] peterschutt commented on #333
We should probably set `copy_on_model_validation = False` on `CacheConfig.Config` to address this specific case, and see if any other issues arise. It's not as if `1.9.1` is a new release, so there's unlikely to be many more similar issues in my opinion.

[2022-08-04 21:28] MrAwesomeRocks commented on #291
Already opened an issue: microsoft/picologging#53

[2022-08-04 21:51] peterschutt opened #335 "Documentation: reference example project"
We should provide a link to the example project(s) from the docs and readme to make it more apparent to users that they exist.

[2022-08-05 07:44] #333 closed

[2022-08-05 22:47] ubernostrum commented on #333
I just did a rebuild of my app using Pydantic 1.9.1 and Starlite 1.8.1, and does indeed seem to work. Thanks for the quick fix.

[2022-08-06 06:10] Goldziher commented on #308
Ok, this is not a "bug" par se. Its incompatibility. The solution is to create a sentry integration - not in this repository. As such I created an issue in the Sentry repository, and am closing this one. See: https://github.com/getsentry/sentry-python/issues/1549

[2022-08-06 06:10] #308 closed

[2022-08-06 06:23] #196 closed

[2022-08-06 06:24] #330 closed

[2022-08-06 11:44] Goldziher opened #338 "Proposal: allow for route handlers to return tuples to handle response headers and cookies."
So as I see it the current API is somewhat constricted, as also pointed out in #278. Namely, if the user wants to set response header, cookies or background tasks the only option really is to use an instance of `starlite.responses.Response` or `starlette.responses.Response`. For example, lets say a user returns the following json response:

[code]

If the user wants to set a specific header on thi

[2022-08-06 12:03] Goldziher commented on #278
See #338 I opened above

[2022-08-07 05:50] peterschutt commented on #338
Seems a reasonable idea to me - a bit like flask responses.

[2022-08-07 14:43] cofin commented on #291
Thanks for opening that. I'm watching the issue and we'll update this integration as soon as it's available.  I'll release the integration in its current form later today so that we can begin to use it now.

[2022-08-07 15:31] #291 closed

[2022-08-07 15:45] cofin commented on #338
This makes sense to me as well.

[2022-08-08 11:17] peterschutt opened #341 "Documentation: Reference docs WIP tracking issue"
This issue is for tracking work still to be completed for rollout of the reference api docs.

[2022-08-08 11:53] #132 closed

[2022-08-09 06:07] Goldziher opened #342 "OpenAPI: update usage of tags."
See the related issue in [pydantic-openapi-schema](https://github.com/starlite-api/pydantic-openapi-schema/issues/3) - usage of tags is currently wrong, so we need to update that library, and then our usage.

I also suggest we make tags layered like other elements.

[2022-08-09 06:13] peterschutt commented on #341
The following reference doc pages are incomplete (relative to `docs/reference/`):

- [ ] `app.md` - include `DEFAULT_CACHE_CONFIG` and cross-ref in `Starlite.__init__` args
- [ ] `cache.md`
    - [ ] `CacheBackendProtocol` - add abstract methods
- [ ] `config.md` - fix ordering so same as module
- [ ] `connection.md`
    - [ ] `Request` - docstrings for properties, include properties and `json()`

[2022-08-09 06:37] Goldziher commented on #341
well two of these are done 😉

[2022-08-09 06:51] #338 closed

[2022-08-09 09:51] peterschutt commented on #341
Other things TODO:

- [ ] update the contributing docs with instructions for reference docs as part of contributions
- [ ] change instructions in `CONTRIBUTING.md` for serving docs locally - the docker approach won't work unless we run our own container with the extra dependencies, or find one to use. `mkdocs serve` has been working fine for me.
- [ ] remove the WIP admonition once complete
- [ ]

[2022-08-09 10:06] peterschutt opened #343 "Documentation: Self-contained examples in docs"
Objective is to ensure that the examples in the docs do not become stale as the library evolves.

Leveraging `pymdownx.snippets` mkdocs markdown extension allows us to move the examples into their own modules that can be tested alongside the rest of the test suite.

Plan:
- [x] create `examples/` directory
- [x] create `tests/examples/`
- [x] audit and create TODO list of each self contained examp

[2022-08-09 11:35] Goldziher commented on #296
done

[2022-08-09 11:35] #296 closed

[2022-08-10 09:15] Goldziher commented on #185
I dont think this issue is required. `pydantic-factories` is not an extra dependency since we use it in code in several places, and `pyyaml` shouldnt be an optional dep as well. Im closing this for now.

[2022-08-10 09:15] #185 closed

[2022-08-10 15:33] Goldziher opened #350 "Enhancement: Instrumentation hooks"
The suggestion here is to add several new hooks, primarly meant for instrumentation and any use case that needs access to some internals.

Hooks:

* `after_startup`: fires after the ASGI lifecycle startup finishes and calls whatever handler (sync or async) is defined by passing to it the Starlite app instance. The application will block connections until the hook returns / ends.
* `after_shutdown`

[2022-08-11 01:47] Goldziher commented on #342
So more info. The OpenAPI 3.1 specs define tags as a json array of "tag" objects. See respectively- https://spec.openapis.org/oas/latest.html#schema-object and
https://spec.openapis.org/oas/latest.html#tag-object.

The library we forked and released as `pydantic-openapi-schema` does define a `Tag` class correctly but it doesn't use it in the `Schema` class and any other place it might be required

[2022-08-11 10:22] infohash opened #354 "Application doesn't fallback to index.html when the file is not specified"
[code]

## Structure

[code]

Path set in `StaticFilesConfig`: http://127.0.0.1:8000/home

## From Documentation

[Static Files](https://starlite-api.github.io/starlite/usage/0-the-starlite-app/3-static-files/)

## Observed Behaviour

When I don't specify the file, it doesn't fallback to `index.html`. It is falling back to `404.html`.

## Expected Behaviour

Visiting http://127.0.0.1:8000/home sho

[2022-08-11 14:35] Goldziher commented on #354
ok, this is a starlette bug. For now append index.html to the path - either its solved in Starlette or we resolve it here.

See: https://github.com/encode/starlette/discussions/1806

[2022-08-11 14:41] infohash commented on #354
Let's wait for the fix in upstream.

[2022-08-11 21:27] cofin commented on #354
These changes look good to me.

[2022-08-12 00:15] mobiusxs opened #356 "Enhancement: Easily configure which UI is served at the root of the OpenAPI Controller"
The OpenAPI Controller doesn't have a built-in way to select which UI will be served at the root path and defaults to Redoc.

https://github.com/starlite-api/starlite/blob/main/starlite/openapi/controller.py#L140

I want the root URL of my APIs to serve the Swagger UI. To accomplish this, I must subclass the controller and rewrite the `swagger_ui`, `redoc`, and `stoplight_elements` methods, which

[2022-08-12 05:03] Goldziher commented on #356
This is a good proposal. Go ahead and implement it.

[2022-08-12 05:06] Goldziher commented on #354
v1.10.1 is being released now. Please test the fix @infohash

[2022-08-12 05:06] #354 closed

[2022-08-12 08:57] seladb commented on #342
Thanks @Goldziher for the info!

I'm not sure how `Tag` relates to `Schema`. The `Tag` objects are defined in OA root, and then each operation can refer to one or more tags. This reference is done through a string.

Here is an example:
[code]

Here is how the reference is done in [`pydantic-openapi-schema`](https://github.com/starlite-api/pydantic-openapi-schema):
https://github.com/starlite-api/p

[2022-08-12 09:35] Goldziher commented on #342
Actually, I was totally wrong it seems. I misunderstood the spec. Closing this one. Sorry for wasting your time @seladb

[2022-08-12 09:35] #342 closed

[2022-08-12 12:54] lewoudar commented on #350
Hello, honestly I'm not sure to see the importance of `after_startup`, `after_shutdown` and the `before` counterparts. It is over engineering for me since we already have callbacks for startup and shutdown. For the two others I have no opinion.

[2022-08-12 15:55] Goldziher commented on #356
I suggest you make a PR with the solution you think is best- it will be easier to understand seeing the code.

[2022-08-12 20:01] infohash opened #359 "Bug: Validation fails when dataclass model uses slots"
`slots` is added in `dataclass` in python 3.10.

[code]

## Request
[code]

## Observed Response
[code]

## Expected Response
[code]

## What's working
Pydantic model is working.

[code]

[2022-08-13 06:50] Goldziher opened #361 "Bug: Stream failing validation"
The typing on stream fails validation for iterator instances and does not include generators.

[2022-08-13 07:52] xiang12383 opened #363 "Bug: Multi-Part Form Data raising when constructing OpenAPI schema"
**code：**

[code]

**Error message**
[code]

[2022-08-13 08:32] Goldziher commented on #363
Please give a valid code example so it can he reproduced

[2022-08-13 13:50] Goldziher commented on #359
After testing this out - the issue is 100% in pydantic. I updated an issue there that is now linked above.

Closing this one since we cant (read shouldnt) do anything about it in Starlite.

[2022-08-13 13:50] #359 closed

[2022-08-13 14:58] #356 closed

[2022-08-13 17:44] cofin commented on #180
Un-assigning for now until we dial in the instrumentation enhancements we've been discussing.

[2022-08-13 18:22] cofin commented on #350
I like the idea of all of these hooks.

On another project, I could have really benefited from a before/after shutdown hook.   If we get to this level of granularity, I think we have quite a bit of control on how/what to implement with the OpenTelemetry integrations.

At the moment, I can't think of anything I'd add to the list above, but will update accordingly if something comes to mind.

[2022-08-13 18:53] Goldziher commented on #361
issue fixed in v1.11.0. please confirm

[2022-08-13 18:53] #361 closed

[2022-08-13 18:53] Goldziher commented on #363
issue fixed in v1.11.0. please confirm

[2022-08-13 18:53] #363 closed

[2022-08-14 04:36] peterschutt opened #367 "Bug: 1.11 breaks hello world"
[code]

[code]

I think it is any route that returns a collection as the current app I'm working on runs if I remove any routes returning collections such as:

[code]

[2022-08-14 04:41] peterschutt commented on #367
[code]

[2022-08-14 05:08] peterschutt commented on #367
[code]

I guess the reason that this wasn't picked up in tests is because we always use the generic collection types imported from `typing` in our tests for backwards compatibility. We probably need to add some tests that only run on 3.9+ that use the generic builtin types.

[2022-08-14 09:14] #367 closed

[2022-08-14 21:34] waweber opened #371 "Enhancement: Add 'path' type to path parameters"
Starlette's route path parameters include a `path` type that matches any further path components. Example: `Route('/uploaded/{rest_of_path:path}', uploaded)` would match `/uploaded/some-dir/some-file.txt` with `rest_of_path` set to `some-dir/some-file.txt`.

A couple cases where this might be useful:

- A file upload service where uploaded files are exposed as a virtual directory tree
- A blog whe

[2022-08-15 07:01] Goldziher commented on #371
Not at present. I'm not sure how simple this is with our routing system.

[2022-08-15 17:31] waweber commented on #371
I looked through the routing code and it should be relatively simple to add this. However, I did discover a couple bugs I will create a separate issue for.

[2022-08-15 17:38] waweber opened #372 "Infrastructure: Issue Templates"
It would be useful to set up issue templates for specific kinds of issues, e.g. bugs, feature requests, questions, etc. so contributors can automatically categorize and label issues.

[2022-08-15 18:14] waweber opened #373 "Bug: Certain routes break the route_map structure"
I found a few ways to specify routes that result in a `route_map` which doesn't work as expected. Here's an example script:

[code]

The bug from example 1 starts at the regex used to parse route parameters (https://github.com/starlite-api/starlite/blob/main/starlite/routes/base.py#L21). `re.findall` will match "{user:str}" and return "user:str" without the brackets as the match because the patter

[2022-08-15 18:21] Goldziher commented on #371
Great, if you are confident, a PR is welcome 😉

[2022-08-15 18:29] Goldziher commented on #373
Hiya,

Well TBH Im aware that `_components` and `*` will break. I believe that these are not possible edge cases in user land, but rather require that the user intentionally tries to break stuff. In this case we do not need to cater to the user. This is why this is not guard against. We could though add validation specifically against using these in the `_validate_path_parameters` method on the `B

[2022-08-15 18:31] Goldziher commented on #372
Since this is a repeated request i will handle it.

[2022-08-15 18:39] Goldziher commented on #372
done. Feel free to suggest improvements using the github interface for this (look under repository insights)

[2022-08-15 18:39] #372 closed

[2022-08-16 21:15] infohash opened #375 "Question: How do I return a redirect from middleware on some condition?"
[code]

[2022-08-17 07:32] #373 closed

[2022-08-17 07:39] Goldziher commented on #375
Like this:

[code]

Notes:

* dont return from `__call__`.
* a response is an ASGI app, meaning its an async function that receives `scope`, `receive` and `send` - siimilar to the middleware itself.

[2022-08-17 17:27] infohash commented on #375
I'm seeing multiple redirect requests which are failing the redirect.

[code]

In Microsoft Edge and Firefox:

[code]

[2022-08-17 17:50] #375 closed

[2022-08-17 23:50] peterschutt commented on #341
This is wrong:
https://github.com/starlite-api/starlite/blob/db1eab98c50c1ed9fa176e7e06c3b34ddee68197/starlite/app.py#L123-L125

[2022-08-18 00:03] peterschutt commented on #341
Documented in wrong location:

https://github.com/starlite-api/starlite/blob/db1eab98c50c1ed9fa176e7e06c3b34ddee68197/docs/reference/enums.md?plain=1#L15-L19

It's defined in `config.py`

[2022-08-20 10:53] Goldziher commented on #189
I think we can close this - layered parameters do the trick for us.

[2022-08-20 10:53] #189 closed

[2022-08-20 11:29] #193 closed

[2022-08-20 16:26] Goldziher opened #385 "Bug: SimpleCacheBackend is not thread safe"
## Issue

The `SimpleCacheBackend` class is too naive and cannot work properly in a threaded environment.

## Solutioin

Update the cache backend to handle threading.

[2022-08-20 22:34] chicken-teriyaki-cup-rice commented on #335
Is this what you had in mind? Apologies, I'm new to all this.

[2022-08-20 22:51] peterschutt commented on #335
Hey @chicken-teriyaki-cup-rice - love your profile name by the way! You're making me hungry :laughing:

Thanks for this! I've assigned this issue to you but no pressure, remove yourself anytime if you like.

I have a some suggestions:

1. follow the guidelines `CONTRIBUTING.md` to get pre-commit configured to run locally, that way you'll pick up any failures before CI does. In this case, your cont

[2022-08-21 03:22] Goldziher commented on #335
Oops. @chicken-teriyaki-cup-rice, I merged your PR before seeing this thread. Can you do another PR to follow up with what @peterschutt wrote above?

[2022-08-21 03:22] #289 closed

[2022-08-21 04:06] peterschutt opened #390 "Bug: 1.12 makes brotli non-optional"
**Describe the bug**
hello-world app won't start on `1.12`

**To Reproduce**
Try to run an app without brotli extras

**Additional context**
[code]

[2022-08-21 04:17] peterschutt commented on #390
From 53d3a24d709941afce906fe2333459076f312fde - where the `BrotliMode` enum was moved from `enums.py` into `starlite.middleware.compression.brotli`, and then accessed from within `starlite.config.compression` causing the execution path through the brotli missing dependency check.

[2022-08-21 09:12] Goldziher commented on #390
Can't we simply eliminate the enum completely?

[2022-08-21 09:56] peterschutt commented on #390
Yep, I put a PR through that just moves the enums into compression config - I think they are more related to the config than the middleware implementation anyway, but I'm not fussed whether we roll with the enums, or just use a `Literal`.

[2022-08-21 12:20] peterschutt opened #393 "Enhancement: add GH action to test examples/hello_world.py on minimal install"
We need to have the full set of extras available to run the test suite, but this can hide bugs for apps running without a subset of extras, or the minimal set of dependencies.

The task is to add a step to our GH actions workflow that installs starlite with no extras and ensures that the example in `examples/hello_world.py` runs without error.

[2022-08-21 12:45] peterschutt commented on #390
closed in #391

[2022-08-21 12:45] #390 closed

[2022-08-21 12:46] peterschutt commented on #385
closed in #386

[2022-08-21 12:46] #385 closed

[2022-08-22 00:57] peterschutt commented on #350
How about before/after request hooks that are guaranteed to be called, configured at the app level and separate from handler resolution.

Use-case is this:

[code]
I'd like to know that always runs irrespective of whether a user defines a hook for a particular route without them having to know that they need to manage that themselves.

[2022-08-22 08:06] Goldziher commented on #350
`on_connection_start` and `on_connection_close`?

[2022-08-22 09:53] peterschutt commented on #350
The important thing for the db transaction is getting the response as late as possible but before it is actually awaited, so the commit has the chance to error before the response is sent. Does that align with `on_connection_close` do you think?

We haven't used `before_response`, yet but it would be confusing to have `after_response` resolved down to the handler as it is, and `before_response` on

[2022-08-22 16:38] Goldziher opened #394 "Update: pydantic 1.10 comp."
**What's the feature you'd like to ask for.**
A clear and concise description of what this feature does, improves and / or solves. Include code snippets or examples if applicable.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-08-22 17:02] Goldziher opened #395 "Enhancement: Route handler name"
The idea is to add an optional 'name' kwarg to route handler decorators. This can then be used by exposing some helpers on the app level. For example, by offering a function equivalent to the Django `reverse` function, which returns the path for a named handler.

[2022-08-22 17:11] cofin opened #396 "Bug: OpenAPI Schema Should Generate FileUpload Form in Swagger Docs."
**Describe the bug**
The bug may be broader than this, but it was first noticed when testing multi-part file uploads with the integrated swagger docs.
**To Reproduce**
Given a route that looks like this:
[code]

The OpenAPI specs are not generating the `schema` section of the multipart-form-data section.  Here is the generated OpenAPI doc:

[code]

**Additional context**
Here is what is generated

[2022-08-23 02:21] cofin opened #397 "Enhancement: Integrate Authentication with Swagger Docs"
Enable OpenAPI generated Swagger docs should be aware of API authentication mechanism to allow for easy testing from the web browser.

Here is a sample from a FastAPI project that shows the desired functionality:
<img width="751" alt="Screen Shot 2022-08-22 at 9 16 00 PM" src="https://user-images.githubusercontent.com/204685/186054390-efc6f888-f3a3-4375-be0d-15e31a9b1f9a.png">
<img width="677" alt

[2022-08-23 08:48] Goldziher opened #398 "Enhancement: Extend Plugin Protocol"
The idea is to extend the plugin protocol to include support for hooks, middleware etc.

[2022-08-23 15:10] toudi commented on #397
I stumbled upon this issue because I tried to generate openapi specs and realized that something wasn't right. Anyhow, I was able to move just one step further with this piece of code:

[code]

however I still do not understand how am I supposed to decorate particular views with `security` attribute. the openAPI docs specify this:

(via https://swagger.io/docs/specification/authentication/ )

[cod

[2022-08-23 16:03] Goldziher commented on #397
Yup, this is not implemented. It should be - so if you feel like adding a PR it would be welcome, otherwise it will be added in the nearish future.

[2022-08-23 16:51] Goldziher commented on #371
@waweber do you intend to add this?

[2022-08-23 16:52] #398 closed

[2022-08-23 19:57] toudi commented on #397
wow I got it to work :D I'll submit a PR, at least it will be something to expand on :)

[2022-08-24 17:08] Goldziher commented on #394
handled by @samuelcolvin. Cheers!

[2022-08-24 17:08] #394 closed

[2022-08-25 12:02] #341 closed

[2022-08-25 15:49] Goldziher opened #406 "Refactor: Update Tests"
This is a "standing" refactor ticket. Contributors are welcome to add PRs addressing it, and it is as such a good place to start contributing to the project. PRs addressing any of the following are welcome:

1. write new tests to cover functionality - either or both unit tests and integration tests. To see code that is missing coverage, see: https://sonarcloud.io/component_measures?id=starlite-api

[2022-08-25 17:07] cofin commented on #396
Should I close this or wait until the next release is made?

[2022-08-25 17:17] Goldziher commented on #396
lets close it

[2022-08-25 17:17] #396 closed

[2022-08-25 18:14] #395 closed

[2022-08-26 09:21] Goldziher opened #411 "Enhancement: Logging Middleware"
We've decided to include an optional logging middleware. The middleware should log incoming requests and out-going responses. It needs to be configurable:

1. The user should be able to dictate the values that are being logged and the logging ourput structure.
2. The middleware should support obfuscating data and excluding logging for specifc paths.
3. The middleware must use the logging config as

[2022-08-26 12:29] infohash opened #412 "Enhancement: A Better Session Cookie Management"
We need a more optimal approach on managing session cookies. The problem with `starlette.middleware.session.SessionMiddleware` is that it does not create multiple cookies if there is a large session data to store that cannot be fit into one `Set-Cookie` HTTP response header. The max-size limit per cookie allowed by the browsers is `4096 bytes` beyond which browsers silently ignores the `Set-Cookie

[2022-08-26 12:34] Goldziher commented on #412
Sounds good to me.

Im for having our own session middleware - i would like to add optional persistence as well. To allow for session based autorization (see the builtin django auth as an example).

[2022-08-26 12:47] peterschutt commented on #412
Agree with note #1 - if producing multiple cookies isn't an issue then the encoding isn't a problem unless reducing the size has better performance characteristics.

This issue is an interesting related read: https://github.com/oauth2-proxy/oauth2-proxy/issues/482 - it tails off into very k8s specific session storage ideas but in the end they mention that they LZ4 compress their sessions so that f

[2022-08-26 15:35] cofin opened #414 "Enhancement: Support dictConfig in picologging"
`picologging` will implement a `dictConfig` with the following PR: https://github.com/microsoft/picologging/issues/53

We should enhance our integration to call this method once it's officially released.

[2022-08-26 15:38] cofin opened #415 "Enhancement: Rich and StructLog integration"
Create a documented example and/or integration to allow for `rich` traceback handling and logging handler.

Here's an example using the LoggingHandler

https://rich.readthedocs.io/en/latest/logging.html

[2022-08-26 16:39] #335 closed

[2022-08-26 17:14] Goldziher opened #416 "Infrastructure: Profiling Setup"
The problem we need to address is how to profile Starlite to identify bottlenecks. We previously used benchmarking of functions, and benchmarking of request/response cycles, but these are not particularly efficent.

It would be therefore great to have some way to  profile the code base.

One idea for example is to create a script that launches our example project, seeds the db and in a subshell fi

[2022-08-27 08:28] Goldziher opened #418 "Enhancement: Allow disabling openapi documentation sites and schema download endpoints via config"
Currently the OpenAPIController always exposes `redoc`, `swagger-ui` and `stoplight elements` static sites, and a `yaml` + `json` schema download endpoints. This though might not be desirable.

Tasks:

1. add a new method on the controller called `render_404_not_found` or something such like, which renders a simple 404 page.
2. add a configuration option to the `OpenAPIConfig` class that determine

[2022-08-27 17:07] Goldziher opened #420 "Bug: Documentation Site doesn't work properly in mobile."
The Doc site isn't working well in mobile. You need to press the back arrow to find the menu to see usage and reference.

[2022-08-27 21:20] john-ingles commented on #415
Like this?

`import logging
from starlite.logging import LoggingConfig

config = LoggingConfig(
    handlers={
        "console": {
            "class": "logging.StreamHandler",
            "level": "DEBUG",
            "formatter": "standard",
        },
        "rich": {
            "class": "rich.logging.RichHandler",
            "level": "DEBUG",
            "formatter": "standard",
        },

[2022-08-27 21:29] john-ingles commented on #415
Maybe add
```"rich_tracebacks": True```
to the rich handler in handlers would be enough?

[2022-08-27 21:50] john-ingles commented on #415
I got tracebacks to work by setting rich_tracebacks to True and the level to Error.

No the question is, should this be an integration or should we just use the code above in a documented example?
Any thoughts @Goldziher?

One reason why I think it won't work as an integration is that I don't think Rich works well with the queuehandler and queuelistener (at least I got thread errors when I tried a

[2022-08-28 02:51] Goldziher commented on #415
@cofin can you review this pls?

[2022-08-28 03:19] cofin commented on #415
I think a simple documented example would be great.

FWIW, here is something I've used with FastAPI and recently adapter for Starlite.  It's been working for me in my limited testing, but i haven't done any testing with multiprocessing (or threads).

Maybe we could add some notes on when this configuration might be a problem?

[code]

And I used this for `LoggingConfig.handlers`:
[code]

[2022-08-28 07:18] Goldziher opened #421 "Documentation: Improve Documentation"
This is a "standing" refactor ticket. Contributors are welcome to add PRs addressing it, and it is as such a good place to start contributing to the project. PRs addressing any of the following are welcome:

1. Edit and improve the documentation language.
2. Add / improve examples.
3. Write and improve references (using docstrings in code and linking to the references section)
4. Improve the mkdoc

[2022-08-28 10:28] FaiazanSafi opened #422 "About Project"
Ask your question...

[2022-08-28 10:31] FaiazanSafi commented on #422
good afternoon sir! can i know about your project i am a beginner

[2022-08-28 10:35] peterschutt commented on #422
Hi @FaiazanSafi - feel free to jump into [discord](https://discord.gg/X3FJqy8d2j) for general discussion about the library.

[2022-08-28 10:35] #422 closed

[2022-08-28 13:05] ingjavierpinilla commented on #418
Writing a method that returns an html string would make the tests green even if the endpoint is not authorized because you would still have a HTTP 200 code.

Any idea how this could be solved?
I thought about using the class ExceptionResponseContent but as far as I understood, it doesn't allow you to render html.

[2022-08-28 13:33] Goldziher commented on #418
You can return the following:

[code]

[2022-08-28 14:37] ingjavierpinilla commented on #418
Thanks for your answer.

Not completely, the to_response function treats the response as flat data and tries to construct a new response using a response object as the content parameter.

Or am I missing something?
Is there any way to avoid this behavior and return the response directly?

Maybe it is an issue we want to address before this (418) one?

[2022-08-28 14:43] Goldziher commented on #418
are you sure you are on an updated version of `starlite`? Look here `tests/handlers/http/test_to_response.py` - this is working as expected.

[2022-08-28 15:26] cofin opened #424 "Abstract Authentication Middleware should respect `error_handlers` defined at the app/router level?"
Should the `AbstractAuthenticationMiddleware` use the `exception_handlers`?

Given the example below, the `exeption_formatter` is not called for `NotAuthorized` exception, and you have to override the `error_response` method to return the custom exception format.

[code]

[2022-08-28 15:41] Swannbm commented on #411
I am starting something.

[2022-08-28 17:04] Goldziher commented on #424
I think this is a valid point - so we should update it. As to how to do this, lets look at the `AbstractAuthenticationMiddleware`:

[code]

There is a method called `create_error_response` method in it, which is obviously a good place to handle this. We will need to modify this to pass in the `scope` value - or use some other solution that relies on this, because `scope["app"]` is always the Starl

[2022-08-28 17:35] Swannbm commented on #411
Here some thinking about how to do it:

I will make a first PR with this capabilities (so very simple). I'll add two debug log, one on incoming request and the other on outgoing response. I am thinking using INFO level.

I will name the logger classicaly using __name__.

Are you speaking of choosing if he logs both (incoming / outgoing) or only one of them or even none of them.

Another idea could

[2022-08-28 19:17] RSPersonal commented on #418
Hi can i pick this up?

[2022-08-28 19:28] ingjavierpinilla commented on #418
Sure

[2022-08-28 19:31] ingjavierpinilla commented on #418
Sure @RSPersonal

[2022-08-28 22:31] peterschutt commented on #424
Should we just let these exceptions propagate to get handled by `ExceptionHandlerMiddleware`?

[2022-08-29 05:48] RSPersonal commented on #418
So bear with me, its my first issue on a open source project. I also seem to run into the same issue as @ingjavierpinilla.

I wrote this method in the controller.

` @staticmethod
    def render_404_not_found(self):
        html_response = f"""
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <title>404</title>
                {self.favicon}

[2022-08-29 05:56] peterschutt commented on #418
Hey @RSPersonal - thanks for looking at this.

How about raising [NotFoundException`](https://starlite-api.github.io/starlite/reference/exceptions/#starlite.exceptions.NotFoundException) and register a handler for that on the [controller](https://starlite-api.github.io/starlite/reference/controller/#starlite.controller.Controller.exception_handlers) that returns the html response?

[2022-08-29 07:56] RSPersonal commented on #418
alright, will look at it after work and update you

[2022-08-29 08:46] Goldziher commented on #418
It would be beneficial to have a PR with your existing code. I'd like to understand what is going on there, because it should be working.

[2022-08-29 09:06] peterschutt commented on #418
![image](https://user-images.githubusercontent.com/20659309/187165028-cdf2df7f-0925-42bd-9f6e-a29758dfc8db.png)

Looks like the route is returning `None`

[2022-08-29 09:12] Goldziher commented on #418
Well then

[2022-08-29 09:16] ingjavierpinilla commented on #418
Hi,
this works but wouldn't PermissionDeniedException be a better response?

[2022-08-29 09:34] peterschutt commented on #418
I think 404 is the correct response - it should be as if the route doesn't exist.

Instead of the exception handler approach, it might be better to register a [`before_request`](https://starlite-api.github.io/starlite/reference/controller/#starlite.controller.Controller.before_request) hook on the controller that would intercept the request before it reaches the handler, inspect the request path t

[2022-08-29 09:35] Goldziher commented on #418
But we want to make the 404 template customizable

[2022-08-29 09:55] ingjavierpinilla commented on #418
I thought about that too, but I didn't see an easy and clean way to check the path.

You propose using a before_request hook -> raise a NotFoundException -> use an exception_handler to catch the exception?

[2022-08-29 09:55] peterschutt commented on #418
Sorry, missed that spec - disregard the above as I agree in that case the method approach is the way to go.

Perhaps we should be returning response objects from the routes instead of `str` then:

[code]

[2022-08-29 09:56] Goldziher commented on #418
What would be the advantage?

[2022-08-29 09:57] peterschutt commented on #418
You wouldn't need the exception handler when using the `before_request` approach, you'd just return the 404 response object directly from the hook. But see @Goldziher's comment above - that approach wouldn't allow the 404 template to be easily customized.

[2022-08-29 09:59] peterschutt commented on #418
Just consistency - otherwise the route handlers would have to return a string for the 200 response, or a `Response` object in the case of the 404 to override the status code.. not that big a deal.

[2022-08-29 10:01] Goldziher commented on #418
Fair point . Can you show @RSPersonal how this would look?

[2022-08-29 10:02] peterschutt commented on #418
Don't forget that the `Request` object extends [`starlette.Request`](https://www.starlette.io/requests/) - so you have `request.url.path` for example. We need to work out how best to get those starlette attributes to show in our ref. docs.

[2022-08-29 10:09] peterschutt commented on #418
@RSPersonal @ingjavierpinilla it is a suggestion to change the handler return types to [return Response objects](https://starlite-api.github.io/starlite/usage/5-responses/3-returning-responses/). Check out that part of the docs, see if you agree or not, and lets start talking with a PR.

[2022-08-29 10:18] peterschutt opened #427 "Documentation: Inherited members"
We extend `Starlette` types for many of our public api types, e.g., `Request`. This task is to work out the best way to have members of those super classes show in our reference docs.

Mkdocstrings has an `inherited_members` config, but at this point [it doesn't work](https://github.com/mkdocstrings/mkdocstrings/issues/459).

This is compounded by the fact that `starlette` doesn't have reference d

[2022-08-29 10:58] peterschutt opened #428 "Dependency: Brotli missing from test dependencies"
All `full` extras dependencies are available in dev-deps, except for `brotli`.

To reproduce:

[code]

This should mean we don't need to require `poetry install -extras full` in `CONTRIBUTING.md` and `ci.yaml`

[2022-08-29 12:07] #428 closed

[2022-08-29 12:16] ingjavierpinilla commented on #418
Sounds good to me, should we implement this change in the return types and the matter of this issue in the same PR or should we keep these two implementations in separate PRs?

[2022-08-29 12:45] RSPersonal commented on #418
@ingjavierpinilla which part would you like to pickup ?

[2022-08-29 12:48] peterschutt commented on #418
Fine to roll them together :+1:

[2022-08-29 16:04] cofin commented on #397
closed by #400

[2022-08-29 16:04] #397 closed

[2022-08-29 17:39] #424 closed

[2022-08-29 17:56] #371 closed

[2022-08-29 19:24] Goldziher commented on #316
@seladb any progress?

[2022-08-29 21:23] omertalmi5 commented on #420
I would like to solve that issue.
Can you explain the expected behavior by you?
It looks well for me, the menu keeps its state.
Attaching reproducing from my mobile.

https://user-images.githubusercontent.com/43521606/187301451-3bd62049-ab5d-4b5e-b8bf-47a286ad73ce.mp4

[2022-08-30 01:20] peterschutt commented on #393
Reverted in 33d9c65ec73ba622ba9329cb0f0713fece905213

[2022-08-30 01:45] seladb commented on #316
Unfortunately I didn't have time to get to it yet, but it seems like a good issue to work on 🙂
If someone else wants to take it I can un-assign myself, otherwise would it be ok to give me a few more weeks?

[2022-08-30 05:20] Goldziher commented on #316
Sure, take your time.

[2022-08-30 05:21] Goldziher commented on #420
Broker tov Omer,

To be honest I resolved this issue a few hours before you write this, and forgot to close the issue.