[2022-08-30 05:21] #420 closed

[2022-08-31 13:56] cofin commented on #350
One thing I'll add re: the database commit.  If you look at something like Cloud Run, by default it only allocates CPU when the container is processing a request.  So, in this model, you can have the CPU throttled to 0 before the database gets the commit.

[2022-08-31 13:59] cofin commented on #415
Added structlog integration to the task

[2022-08-31 18:02] #350 closed

[2022-09-01 06:02] alphanoobie commented on #420
Hello! I was trying to work on this issue but was not able to find a fix for it.
It would be a great help if you could tell me a gist of how you solved it @Goldziher

[2022-09-01 06:05] peterschutt commented on #418
closed in #430

[2022-09-01 06:05] #418 closed

[2022-09-01 06:06] grillazz commented on #415
hi, i tested below setup which giving nice traceback:

[code]

[2022-09-01 06:19] ingjavierpinilla commented on #414
The [PR](https://github.com/microsoft/picologging/pull/61) is closed.

[2022-09-01 18:21] Goldziher opened #443 "Bug: cannot use custom typed state"
Pydantic validation fails for custom typed state:

[code]

This will raise a validation error.

[2022-09-01 18:59] Goldziher opened #446 "Documentation: Add Recipes section to Docs"
This is a suggetion- we could add a `cache` reserved kwarg, which will cause starlite to inject the cache backend to route handlers:

[code]

This is merely an ergonomics improvement, because users can access the cache already by going the somewhat longer route of doing this:

[code]

<a href="https://polar.sh/litestar-org/litestar/issues/446">
<picture>
  <source media="(prefers-color-scheme: dar

[2022-09-01 19:07] #443 closed

[2022-09-01 22:33] #414 closed

[2022-09-02 11:08] peterschutt commented on #446
Given that it is pretty easy for a user to write a small convenience dependency to do the same, e.g.,:

[code]

Add to that it would be breaking for anyone already using `cache` as a parameter name in a signature and I'm not sure it is worth the churn.

Maybe something we could consider is curating a collection of dependencies that users could use if they want - basically would save them the hassl

[2022-09-02 11:11] Goldziher commented on #446
That's a very good idea

[2022-09-02 11:24] peterschutt commented on #446
Idea purely inspired by this issue, so I don't really have any thoughts beyond that, but I'm sure there would be a few different things that can be accessed through the request via a couple of hops like the cache..

What about a structured log instance that is pre-bound to some app/request context?

We could always start with recipes in the docs to see if there's enough interest to warrant the wor

[2022-09-02 11:38] Goldziher commented on #446
Ok. But we still need to inventory what we want to add - even as recipes

[2022-09-02 11:38] peterschutt commented on #446
Shall we make a new issue, or hijack this one?

[2022-09-02 12:37] Goldziher commented on #446
Hijack

[2022-09-02 23:42] Axelancerr opened #451 "Type error with pyright (strict mode) for on_startup's/on_shutdown's state parameter"
The following code is a mock-up of the typing for the `on_startup` and `on_shutdown` handler params of the starlite app;

[code]

This produces an [error](https://mystb.in/BahamasAttendTulsa) with pyright on strict mode because the `List` type is invariant (i'm not actually entirely sure how invariance/contravariance/covariance works at all)

A fix that seems to satisfy pyrights strict checker is

[2022-09-03 06:36] Goldziher commented on #451
Hi @Axelancerr,

The `invariant` in this context means that `List` accepts only instances of list and of it's subtypes. Changing this to `Sequence` would allow you to use any sequence type, e.g. tuples.

This is not a bug IMO, rather a difference if opinion regarding typing.

Let me play with pyright and see how it works with us first.

May I ask, why not mypy?

[2022-09-03 08:35] Goldziher commented on #451
Ok, I got pyright installed (which was not so simple TBH) and ran it against our projects. See #452.

I would like to ask that you branch from the PR I added, and add a test case the reproduces your issue. How? Add a test file with a mock config like you use, it should pass the pytest. But still it should show the typing issue you are discussing.

Please read CONTRIBUTING.md for instructions on ho

[2022-09-03 10:43] Axelancerr commented on #451
Heya,

Ah i see, that might not be ideal then.

The [discord.py](https://github.com/Rapptz/discord.py) project uses pyright and having insight to the development of that library has shown me that pyright is nicer than mypy to work with in a lot of ways (imo). It supports more features (such as recursive types) and is generally fast to fix bugs and add new typing features.

As for the test case, I

[2022-09-03 12:16] Goldziher commented on #446
@peterschutt so what should we include?

[2022-09-03 12:17] Goldziher commented on #180
@cofin - are u doing this?

[2022-09-03 13:04] cofin commented on #180
I had planned to, but I don't have the bandwidth currently. I can try to pick it back up soon or hand off.

[2022-09-03 14:35] Goldziher commented on #180
It would be good if you could do this when you have bandwidth. We need this - and I too am somewhat busy 😉

[2022-09-03 15:22] cofin commented on #180
Understood. I need it soon as well, so I'll make some time for it. I'll ping you on discord when I'm getting started.

[2022-09-03 16:47] abdulhaq-e commented on #446
Hello, thanks for the awesome framework.

If you're looking for ideas for recipes, I'm right now looking at overriding dependencies when writing tests. I'm trying it now, I can contribute to that if you all decided it's a good recipe.

[2022-09-03 16:48] Goldziher commented on #446
You're welcome 😉

Sure, we are keen on PRs

[2022-09-03 19:37] #412 closed

[2022-09-03 19:37] #393 closed

[2022-09-04 11:36] infohash opened #455 "Enhancement: Path Resolver For Route Handler Methods On A Controller"
**What's the feature you'd like to ask for.**
With `Starlite.route_handler_method_view`, you can resolve paths of route handler instance. So for example, if a decorator receives a route handler instance, it can resolve its path with this dictionary. But it raises `KeyError` when the route handler methods are desfined on a controller.

This is because `Starlite.Controllers.get_route_handlers` creat

[2022-09-04 16:56] cofin opened #458 "Enhancement: Add more types to the default `Response` serializer."
It looks like most of the project templates we have floating around implement a custom serializer for Responses.  We should consider enhancing the built in to reduce the need for this.

For instance, here is the current `Response.serializer`:
[code]

and here is one that's used on another project:
[code]

Thoughts?

[2022-09-04 16:56] Goldziher commented on #455
Ok, @infohash - I dont see any down side to adding a PR for this so feel free to do so.

[2022-09-04 16:59] infohash commented on #455
I tested the code without creating copy. It works fine but there must be a design reason behind this at the time of writing the code. Do you remember anything?

[2022-09-04 16:59] Goldziher commented on #458
@cofin - you can add a PR for this. Please make sure to add tests and verify that all of these are in fact needed. I would assume that `UUID` is json serializable because it implements `__str__`, and thus it wouldnt be required. I am also not sure about `Enum` in the above.

I would suggest we move the default serializer out of the response class and into a `serializers` package or into file in ut

[2022-09-04 17:00] cofin commented on #458
Excellent.  Are there others that we should add in?

[2022-09-04 17:04] Goldziher commented on #458
I would assume that all non-json serializable builtins not handled by `orjson`. You can checkout this list of types handled by `pydantic-factories` and supported by pydantic as a reference: https://github.com/Goldziher/pydantic-factories/blob/main/pydantic_factories/factory.py#L242

Another note-> please make sure to put the pydantic serializer as the first `if` clause -> it will ensure performanc

[2022-09-04 17:06] Goldziher commented on #455
yes, it was meant to ensure there is a degree of encapsulation, i.e. not use the same memory addresses.

I think we can drop this.

[2022-09-04 17:42] Alex-CodeLab commented on #151
What would be a good project-structure?
I think something like this:

[code]
Easiest would be to include the folderstructure as some template, or have it in a zip.
The files itself could contain `{{variables}}` , which can be replaced using `jinja2`.

[2022-09-04 18:28] Goldziher commented on #151
cookie-cutter is a good option for generation.

As for the structure - I think @cofin and @peterschutt have some opinions there.

[2022-09-04 20:11] Goldziher opened #459 "Enhancement: update the `starlite.testing.create_request` utility"
The `starlite.testing.create_request` utility should be updated to allow setting cookies better, and perhaps to have some other improvements. This might entail replacing the utility with a class and splitting its logic into several methods - because its quite condensed. Furthermore, while doing this we should refactor the test for this utility, which currently uses hypothesis, and instead replace

[2022-09-04 20:14] Goldziher opened #460 "Enhancement: Update Test Client"
We need to enhance the `TestClient` class with methods to easily set / clear authentication headers - i.e., a session cookie or a JWT token header with a specified key.

[2022-09-04 23:09] john-ingles commented on #415
@cofin If the title is now "Enhancement: Rich and StructLog integration", does that mean we want to add rich and structlog to the default LoggingConfig model (along with those libraries to the starlite package, ex. starlite[rich]).  For example, here is a new default  \_\_init\_\_ file for starlite.logging
[code]
Note a few gotchas:
1. The name of the rich handler is "d_rich" because python's dict

[2022-09-05 05:21] Goldziher commented on #415
Hiya, and thanks for contributing! This is @cofin 's domain. Im fine with whatever he says.

[2022-09-05 07:14] Swannbm commented on #415
I will instanciate logging in the middlewarelogging stuff. Great work !

[2022-09-05 07:22] Swannbm commented on #415
I am unsure of the process, but do you think you could make a PR with your code ?

I also would suggest to change your last line from `config.dictConfig(...)` with `logging.config.dictConfig(...)`. It makes clearer the use of the generic config and not the call to another starlite related config method.

Also what do you think to add the default config dict in the docstring ?

[2022-09-05 08:03] Alex-CodeLab commented on #151
cookie-cutter is nice, but then it can only do one thing: build a project-structure.
Cookie-cutter does more or less the same: take a template folderstructure, and search/replace with Jinja, and copy it to some destination.

When I read `cli`,  I think of a command-line application that could be extended with new commands as well.
For example, in Django there are about 20 commands (`startproject`,

[2022-09-05 14:22] john-ingles commented on #415
@Swannbm Can you explain your comment "I will instanciate logging in the middlewarelogging stuff.".  I did a search of the repo for middleware and couldn't find anything related to logging.  I just want to know if it's something I should do in the PR.

[2022-09-05 17:47] abdulhaq-e opened #461 "Enhancement: Override dependecies for testing"
**What's the feature you'd like to ask for.**
It would be nice to have a way to override dependencies for testing purposes. I'm thinking of an API such as:

[code]

or with the helper function

[code]

This would override regardless of the layer at which the dependency is injected at. I'm thinking it would be a step after `resolving_all_dependencies`

**Additional context**

I'm not sure how feasi

[2022-09-06 07:26] Swannbm commented on #415
I am working on #411 and I want to init logging at start up (keep in mind i am quite new at working on open source software). I will open a PR soon (hopefully this morning).

[2022-09-06 11:51] john-ingles commented on #415
@Swannbm Ok, I'll wait for your work to be finished before doing mine to ensure there is no conflict.  Take you time

[2022-09-06 11:51] john-ingles commented on #415
@Swannbm Ok, I'll wait for your work to be finished before doing mine to ensure there is no conflict.  Take you time

[2022-09-06 12:12] Swannbm commented on #415
I've submited a PR (draft mode). Have a look and let me know.

[2022-09-06 12:43] ingjavierpinilla commented on #460
Hi.
I'm a bit confused about this requirement. Do you want a method to set/remove the Middleware from the TestClient?

[2022-09-06 14:54] smpurkis opened #464 "Simple Post endpoint parameter error "value is not a valid dict""
**Describe the bug**
A clear and concise description of what the bug is.
Summary: Simple POST endpoint server doesn't work using Starlite, but the same setup works in Fastapi.

I'm trying to make a server that accepts a POST request with a parameter. When I try to do it using Starlite I get the error
[code]

The expected result should be the same as Fastapi. I.e.
[code]

The example looks like
Cli

[2022-09-06 15:33] Goldziher commented on #464
Hi @smpurkis - there is no bug here, simply your use is wrong. As we state in the docs: if you want to post data, you have to use the `data` kwarg. Otherwise, if the data is supposed to be sent as query parameter, it should be sent as such.

These two different cases are passing:

[code]

[2022-09-06 15:33] #464 closed

[2022-09-06 15:43] Goldziher commented on #461
@abdulhaq-e thanks for wanting to contribute!

The `create_test_client` helper creates a `Starlite` instance for the user. So it allows the user to define the top level dependencies as you would when normally instantiating the app:

[code]

Whats not possible to do with this pattern is to override the dependencies defined on lower levels, or for that matter - any of the other key / value pairs tha

[2022-09-06 16:01] Goldziher commented on #451
@Axelancerr any update on this?

[2022-09-06 17:19] smpurkis commented on #464
My mistake, how would I do the same thing as a GET request, as in https://starlite-api.github.io/starlite/usage/3-parameters/1-query-parameters/?

I've tried using a simplified example from that page, and get 400 error, with
[code]

From that page, it shows no special keywords are required and that the parameter parsing should happen automatically.

`starlite_server.py`
[code]

`requests_client.py

[2022-09-06 17:40] john-ingles commented on #415
I don't see anything in the draft that would interfere with this.

[2022-09-06 17:51] smpurkis commented on #464
Aw thanks so much!
Very helpful and fast responses 🙏

[2022-09-06 17:53] Goldziher commented on #464
You're welcome. Consider joining our discord if you need support .

[2022-09-06 17:57] john-ingles commented on #151
Cookiecutter can also run pre and post-generation callbacks but it would probably be best to call cookiecutter instead of having it do the calling

[2022-09-06 18:00] Goldziher commented on #151
I dont have a strong opinion one way or the other - whatever works best.

[2022-09-06 18:26] Goldziher commented on #415
Are you adding a PR?

@cofin can you get involved here please?

[2022-09-06 18:39] cofin commented on #415
I've been a bit MIA due to the holiday.  Nice work that's been made.  I like the logging middleware PR.

Could you guys elaborate on why we need to configure additional handlers?  Shouldn't we just provide documentation on configuration?

What's the reason for pre-configuring all of the handlers as opposed to providing documentation on how to configure the selected on?

[2022-09-06 18:42] cofin commented on #415
Also, if the user is using Picologging and Rich, then there needs to be some additional work done.  For instance, here is a quick implementation of the RichHandler in picologging:

https://github.com/cofin/starlite-bedrock/blob/main/src/starlite_bedrock/starlite/logging.py#L20

[2022-09-06 19:07] john-ingles commented on #415
I was thinking there could be presets for the user to select in addition to allowing them to pass their own configuration. This is what I think of when I here integration.  Maybe this is off the mark and it would be better just to provide documentation on how to load your own config.  It would avoid having to add any other dependencies that the user might not use. @Swannbm wants the logger config

[2022-09-06 19:24] cofin commented on #415
I like the idea of adding in the LoggingConfig as parameter to the app, and I also like to the idea of easy log configurations (i.e. zero config color logging similar to `loguru` would be nice).  I think those should definitely be included.  I also think we need to include the `RichPicologgingHandler` referenced above.

My main questions is around the default logging implementations.  Based on the

[2022-09-06 19:36] h0rn3t opened #466 "Enhancement: replace python-multipart with a faster and more stable multipart parser"
python-multipart extremely slow, not maintaining (0.0.5 version released at 12 Oct 2018) and have problems with text files (xml, json, csv etc )

need to swap it to baize or some else
https://github.com/h0rn3t/starlette-opt/commit/96a7a08b54a24650ad331c4f812659609e7a1494

[2022-09-06 20:11] Goldziher commented on #466
Are there any benchmarks to support this?

[2022-09-06 20:44] john-ingles commented on #415
Those all sound like good ideas.  The configure method can look at the various handlers defined in the config and recognize if they are installed or not and start them if they are or remove them if they aren't and give a warning.

[2022-09-06 20:49] john-ingles commented on #415
The handlers would be added manually to the config and passed in on startup, or they could be added by starlite if the user passes various enum flags somewhere.

[2022-09-07 15:32] Goldziher commented on #460
For JWT its simple and we dont need to do anything, basically you set a header. But the `SessionMiddleware` is something we have as part of Starlite. The thing is - in order to create a user session, you basically need to go through the middleware now.

I was thinking of the way django allows you to "login" a user in the context of tests. Obviously we cannot do the same because we are not an ORM a

[2022-09-07 17:59] infohash commented on #460
A fixture will work.

[code]

[2022-09-07 18:34] john-ingles commented on #415
I'm going to try to get some work done on it this week or perhaps the weekend.

[2022-09-07 20:20] h0rn3t commented on #466
25mb xml  in form-data (python-multipart) = 1-2 min parsing (some problems internal problem in parsing algorithm )
25mb xml in form-data (baize) patched starlette = 6 seconds

[2022-09-07 20:23] h0rn3t commented on #466
BTW im not first who ask to swap this old python-multipart library, also the code of that lib not so good

[2022-09-07 22:40] cofin commented on #415
Excellent.  Sounds good.

I did some testing today.   Here is how I was able to dynamically create a `RichPicologgingHandler` with the `LoggingConfig` class.

[code]

[2022-09-07 22:53] john-ingles commented on #415
I was able to add parameters to the handler class by just added extra arguments to the handler dict. As in this example with rich_tracebacks.

[code]

As far as I know this should work for any class init variables

[2022-09-07 23:04] cofin commented on #415
Well, I was certainly overcomplicating it!

[2022-09-07 23:25] john-ingles commented on #415
Just made a PR for decoupling logging config from the logging module.  #468

[2022-09-08 13:44] #309 closed

[2022-09-08 13:54] Goldziher commented on #466
@peterschutt @cofin @infohash -- what do you think?

I looked at Baize and the multipart implementation does look good. I am concerned though adding this dependency into the project - its not modular and we are going to get some annoying import issues. I opened an issue in their github -> https://github.com/abersheeran/baize/issues/47

An alternative would be to fork either baize or the python mul

[2022-09-08 13:55] Goldziher commented on #461
@abdulhaq-e - I am closing this issue due to lack of activity. You're welcome to reopen it if you wish to contribute.

[2022-09-08 13:56] Goldziher commented on #451
@Axelancerr I am closing this issue due to lack of activity. If you contribute, you are welcome to reopen it.

[2022-09-08 13:56] #451 closed

[2022-09-08 14:45] infohash commented on #460
I have written the fixtures for it. Will raise the PR soon.

[2022-09-08 14:48] peterschutt commented on #466
Plenty of prior art out there to guide us in implementing ourselves.

Flask and Quart both use [werkzeug.sansio.multipart](https://github.com/pallets/werkzeug/blob/main/src/werkzeug/sansio/multipart.py) and the baize implementation seems to be just a copy of that. Falcon, sanic and django all roll their own implementations as well.

[2022-09-08 15:39] Goldziher commented on #466
Aight, I'll check this out. Might be an interesting case

[2022-09-08 15:58] john-ingles commented on #415
I think next step for me would be to choose where in the program to call
[code]
Should it be an instance arg in the starlite.app.Starlite class with default LoggingConfig()?  That's what I assume anyway but let me know if it shouldn't be. So, something like this
[code]

or something like that.  I want to leave space for someone to come in after app is created and call app.configure_logger() in cas

[2022-09-08 17:37] cofin commented on #415
I think you have the right idea.  Take a look at this custom `Starlite` class that does what you are wanting:  https://github.com/cofin/starlite-bedrock/blob/development/src/starlite_bedrock/starlite/app.py#L97

Basically, if there is a `log_config` parameter, it should append it to the startup tasks.

Also, I have hit a bug in `picologging` that I've opened here: https://github.com/microsoft/pico

[2022-09-08 20:40] cofin opened #470 "Enhancement: API Rate Throttling"
**What's the feature you'd like to ask for.**
Implement an API throttling mechanism for routes.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-09-09 05:42] abersheeran commented on #466
I didn't even think I could be so fast...thanks mypyc

Yes, it's better to build the parser in starlite, which means some targeted optimizations can be made. The multipart format is an old, stable construct that requires little maintenance once the code is written.

[2022-09-09 06:52] artyom-ace commented on #466
I met with the problem of long file uploads too. And it was connected to the old python-multipart library. I was surprised that such an old library without proper support for async is still used in fastapi (using many dependencies from Starlette)

[2022-09-09 07:35] Goldziher commented on #466
I started work on a library to handle this. I will be using Werkzeug as a basis.

[2022-09-09 09:47] seladb commented on #316
@Goldziher just to make sure: do we want to support additional responses with different status codes or just customizing the description of existing return values?

**Option 1:** support additional responses can be quite similar to what FastAPI has, for example:
[code]

**Option 2:** allow customizing the description of existing return values - not yet sure how to achieve this because there is no

[2022-09-09 09:50] Goldziher commented on #316
As you see fit

[2022-09-09 09:53] seladb commented on #316
Option 1 seems easier to implement and makes more sense. I'll go for it 😃

[2022-09-09 10:41] abersheeran commented on #466
https://github.com/encode/starlette/pull/1514#issuecomment-1041362805

[2022-09-09 11:11] h0rn3t commented on #466
strange that so old and bad implemented parser used  by cool  innovative frameworks like starlite, fastapi, starlette

[2022-09-09 11:15] h0rn3t commented on #466
bad that  starlette guys closed the issue without solution :(

[2022-09-09 18:22] john-ingles commented on #415
So should I just add logging config to the variables and leave either calling configure or adding configure to the startup list to the user?  Or should we always call log configure on instantiation of the Starlite class?

[2022-09-09 18:53] cofin commented on #415
For all the use cases I've seen, it would be best to always configure it on instantiation.  it should be idempotent and safe to call multiple times, so it's also OK that the user calls it independently somewhere else.

Do you have a use-case in mind for not configuring logging at startup?  One way to implement this would be to add an extra boolean indicator to the `LoggingConfig` model.  In the co

[2022-09-09 20:32] john-ingles commented on #415
I don't know of any use case not to.  I'll go with that then.

I'll add log_config to the Starlite instance attributes and also push it onto the startup list like in your example.  After that works, I can see about integrating rich (to start).  My idea is to have some function like enable_rich_logging that when present will swap out the current console stream logger with a rich one.  The function

[2022-09-10 01:03] john-ingles commented on #415
This is where I'm at

![starlite_rich](https://user-images.githubusercontent.com/35442886/189462695-c8c8bd24-4dc9-46ce-ba75-47a5b8443995.PNG)

[2022-09-10 08:02] Goldziher commented on #466
@h0rn3t -- I created a package, adapting werkzeug and using your PR to starlette as a basis. See: https://github.com/starlite-api/starlite-multipart

Would you like to get involved?

[2022-09-10 09:56] infohash commented on #460
@Goldziher Is it fine to keep random data in the fixture to create session cookie or do we need an option for tester to specify what session cookie should contain?

[2022-09-10 10:54] Goldziher commented on #460
Let's go for as simple and straight forward as possible

[2022-09-10 18:41] john-ingles commented on #415
Here it is implemented as a flag
![starlite_rich_2](https://user-images.githubusercontent.com/35442886/189497290-40200854-8fca-4947-92e3-0fd36b5a15e0.PNG)

[2022-09-10 19:30] #458 closed

[2022-09-10 19:36] Goldziher commented on #466
PR added

[2022-09-10 19:57] #466 closed

[2022-09-10 20:04] Goldziher commented on #466
v1.18.0 released with this update.

@h0rn3t - you're welcome to test it.

I am adding you for code contributions, since I incorporated some of your code in there.

@all-contributors add @h0rn3t code

[2022-09-10 20:08] sondrelg commented on #470
The [starlette docs](https://www.starlette.io/middleware/#ratelimitmiddleware) point at [asgi-ratelimit](https://github.com/abersheeran/asgi-ratelimit) for this. Isn't that sufficient?

[2022-09-10 20:09] Goldziher commented on #470
We already have support for cache backend. So we can actually implement this in house. Would probably be better.

[2022-09-11 10:19] h0rn3t commented on #466
@Goldziher  cool , okay I will

[2022-09-11 15:05] Goldziher commented on #470
So I'd like to discuss how to implement this.

The first example I know well is the system implemented by [Django Rest Framework](https://www.django-rest-framework.org/api-guide/throttling/), which uses "throttling classes".

1. My thinking is to allow for Callables (functions, methods or classes that implement `__call__`) that receives the request object and the route handler class (similarly to

[2022-09-11 20:02] Goldziher commented on #470
I started with a class based structure - I followed DRF as an example here. I dont think we can really use a functional approach here, because its a bit more complex. Please see the draft PR and comment.

[2022-09-12 20:26] infohash commented on #459
Currently, it takes semicolon separated string as cookies. We can make it to accept a list of `Cookie` instance.

[2022-09-12 20:41] infohash commented on #455
It turns out, it has more deep use case than just encapsulation. By creating a copy of the route handler of a controller, you preserve the route ownership of the route handler.

If we don't create copy, all 3 asserts will be true if they are checked like this.
[code]

But if they are checked at the end, only the 3rd assert will be true.

[code]
This is because the 3rd `Router` instance has overwri

[2022-09-13 04:58] Goldziher commented on #455
Yes, it will slow us down. We can't do this.

[2022-09-13 05:10] Goldziher commented on #459
That would be good

[2022-09-13 11:07] infohash commented on #455
I also noticed there is another problem with resolving path if the copy is not created. The `starlite.router.route_handler_method_view` method will overwrite the key if the same route handler instance is found in multiple route instances.

So I am thinking to do this:

When creating a copy of the route handler instance, also store the source route handler as an attribute.
[code]

[2022-09-13 16:06] Goldziher commented on #455
Let's focus on the purpose of these changes. You want to add the ability to resolve paths from within a controller. Why not simply add a private attribute to the controller that stores this mapping info before the copying and expose a method to access it?

[2022-09-14 09:29] seladb commented on #459
@Goldziher are you referring to `starlite.testing.create_test_request`? 🤔

[2022-09-14 14:17] Goldziher commented on #459
yup

[2022-09-14 16:04] lakatumachine opened #479 "ResponseHeader throws `object has no attribute 'encode'` error"
**Describe the bug**
When I try to set headers:
[code]
I get:
[code]
**To Reproduce**
[this repo](https://github.com/denizkenan/starlite-hello-world) has mentioned bug

[2022-09-14 19:58] #479 closed

[2022-09-15 07:08] seladb commented on #459
Can I assume we want to build something similar to Django's [`RequestFactory`](https://docs.djangoproject.com/en/4.1/topics/testing/advanced/#the-request-factory)?

[2022-09-15 07:46] Goldziher commented on #459
By all means

[2022-09-15 08:15] denizkenan opened #482 "File response should accept byte stream and `media_type` as an alternative to file path."
**What's the feature you'd like to ask for.**

As of v1.18.1: Starlite's [File](https://starlite-api.github.io/starlite/usage/5-responses/7-file-responses/) response only supports returning existing files.

[code]

However, it should be able to support returning files directly from byte streams such as BytesIO. This would enable apps that can't use filesystem (eg. Google App Engine) to return file

[2022-09-15 08:42] #316 closed

[2022-09-15 09:10] peterschutt commented on #482
Would a streaming response be what you are looking for here?

[code]

[2022-09-15 09:57] denizkenan commented on #482
Nope, I solely meant using stream as source for file download.

[2022-09-15 10:52] peterschutt commented on #482
Sure but when it boils down to it, `FileResponse` is streaming chunks of bytes just like `StreamingResponse` does:

From [FileResponse](https://github.com/encode/starlette/blob/bc61505faef15b673bf4bf65db4927daa354d6b8/starlette/responses.py#L349-L360):
[code]

And from [StreamingResponse](https://github.com/encode/starlette/blob/bc61505faef15b673bf4bf65db4927daa354d6b8/starlette/responses.py#L258-

[2022-09-15 10:59] peterschutt commented on #482
![image](https://user-images.githubusercontent.com/20659309/190387228-4e4ef88c-a7ee-46dc-8f12-21645c5abeb3.png)

[2022-09-15 11:05] peterschutt commented on #416
Maybe we should try to emulate the techempower benchmarking?

[2022-09-15 11:12] denizkenan commented on #482
Thanks a lot for the tip I managed to get it done as well

(https://github.com/denizkenan/starlite-hello-world)
`curl localhost:8000/greetings`

I fully agree with you. It is just better dx to handle this purely within starlite using File response. I don't think it is super edge case for us to use lower level APIs.

[2022-09-15 11:48] peterschutt commented on #482
So if we made `media_type` configurable on `ResponseContainer` so you could do this:

[code]
Would that be the solution you are looking for?

[2022-09-15 13:19] Goldziher commented on #416
Can you explain?

[2022-09-15 14:45] #482 closed

[2022-09-15 16:49] jonadaly opened #484 "How should contributors check test coverage locally?"
In `CONTRIBUTING.md`, we are told that 100% coverage is mandatory on any code we touch.

There are no instructions for how to check test coverage locally, and I can't see any straightforward way of checking with existing tooling - it seems like first we need to raise a PR before we can see via SonarCloud whether this coverage requirement is met.

I can check coverage locally by copying commands fr

[2022-09-15 16:51] Goldziher commented on #484
You can run pytest with coverage:

[code]

You can also run pytest using your IDE of choice. I use intellij, and coverage is builtin there.

[2022-09-15 17:22] jonadaly commented on #484
Yep that's what I ended up doing - my suggestion would be either to add this to `CONTRIBUTING.md`, or to include the coverage check in tox.ini (or both!)

It might also be worth enforcing a minimum coverage level as part of `poetry run tox`?

[2022-09-15 17:40] Goldziher commented on #484
You're welcome to submit a PR with this update to the guidelines 🙃

[2022-09-15 19:57] #484 closed

[2022-09-15 19:57] #470 closed

[2022-09-15 19:58] #460 closed

[2022-09-15 19:58] #455 closed

[2022-09-16 16:04] peterschutt opened #488 "BUG: openapi docs break where two pydantic models have the same name"
**Describe the bug**
Using a domain-centric app pattern, I'll have a single module or sub-package specific to a domain element and within that namespace have a set of common tools, all named consistently, e.g., `books.Service`, `books.Model`, `books.Schema`, and `authors.Service`, `authors.Model`, `authors.Schema`, etc. I prefer to have all components for a type grouped together rather than having

[2022-09-16 16:12] Goldziher commented on #488
why are you reusing the namespaces?

[2022-09-16 16:18] peterschutt commented on #488
Do you mean why do I reuse names like `Model`? Grouping components by namespace is my preferred pattern. The example is obviously quite simplistic, however as applications grow, it is nice to have the consistency.

Not sure if I've answered your question though.

[2022-09-16 16:22] peterschutt commented on #488
Maybe this is more of a pydantic-openapi-schema issue??

[2022-09-16 16:33] Goldziher commented on #488
I'm pretty sure it is technically.

How about we add support to some special `ClassVar` - `__schema_name__` for example. Pydantic ignores it, and we can use this value to allow the user to customize the schema key.

[2022-09-16 16:43] peterschutt commented on #488
I really have no idea how to approach it. I've been sitting on the issue for a while cause my workaround has been fine and I haven't had the time to dig into it. So I'll take whatever solution you think is viable for a spin.

I always had the pydantic schema customization hook in the back of my mind, but no idea if I could actually make it work:

[code]

[2022-09-16 22:39] cofin opened #490 "Bug: Custom `Response` class with `SessionMiddleware`"
I've got a custom response defined as follows:
[code]

This is set as the the `response_class` parameter on the `Starlite` app instance, but it looks like the Session Middleware is not referencing this based on the following error and highlighted code block.

[code]

https://github.com/starlite-api/starlite/blob/cb0ea3481140c3780622032b4cde2222485ff711/starlite/middleware/session.py#L158

Is there

[2022-09-17 05:08] Goldziher commented on #490
This is not creating the response. Its dumping the value for the session header from dict to string.

We should add a `serializer` field on the session Middleware to address this and/or perhaps expose a `default_serialize` on the app level.

[2022-09-17 17:19] Goldziher commented on #97
@relsunkaev - it took a while, but i made this change. Welcome to check it out.

[2022-09-17 19:18] #97 closed

[2022-09-17 19:18] #490 closed

[2022-09-17 19:18] #488 closed

[2022-09-18 11:02] Goldziher opened #493 "Refactor: LoggingConfig to Use Class Inheritence"
The introduction of more complexity into the logging config class - for piccologing and now also for rich-logging and the new logging middleware (see #475 and #462 ) - makes the config class bloated and unwieldiy. We need to come up with a better strategy to handle the logging configuration, while making it simple for both users and contributors to get access to a configured logger (using for exam

[2022-09-18 11:03] Goldziher commented on #493
@cofin @john-ingles @Swannbm - please add your input.

[2022-09-18 14:51] john-ingles commented on #493
Perhaps we should abstract further and instead of using a base class LoggingConfig and subclasses we should instead make and abstract base class for LoggingConfig and have various implementations of it.

[2022-09-18 15:51] Goldziher commented on #493
there is still the logging config structure to share, no?

[2022-09-18 16:35] john-ingles commented on #493
@Goldziher What exactly do you mean?

[2022-09-18 16:36] Goldziher commented on #493
We dont need an asbtract class if a base implementation should already do something. I.e., all configurations have a shared strucure - i assume. Am i missing something?

[2022-09-18 17:55] john-ingles commented on #493
Perhaps and abc isn't the way to go but I'm still worried about the possibility of a combinatorial explosion of Logging subclasses in the future.  For now there would be

1. LoggingConfig
2. RichLoggingConfig
3. RichPicologgingConfig
4. StructlogLoggingConfig
5. StructlogPicologgingConfig

If we wanted to add other logging integrations it could get worse.  I'm just suggesting if there is a differe

[2022-09-18 18:23] Goldziher commented on #493
Can you show me examples?

[2022-09-18 20:34] john-ingles commented on #493
Mixins could be used to modify the configure method like so:

[code]

It might be more trouble than it's worth though.  I'm struggling to come up with an elegant way to incorporate rich or structlog that favors composition.  There might be a way to do it by having subclasses only define a new attribute that passes a list of functions to be applied to the attributes of the base class when calling c

[2022-09-21 10:41] peterschutt opened #500 "Fix flaky test"
This was an error from a test failure during an unrelated CI run:

[code]

The error seems to be transient, as re-run of the CI job passed.

[2022-09-21 14:31] john-ingles commented on #493
@Goldziher  Any comment on the above?

[2022-09-21 16:11] Goldziher commented on #500
Ok, this isnt a bug. Its a flaky test.

[2022-09-22 01:38] peterschutt commented on #500
No probs, call it what you like.

[2022-09-22 04:51] peterschutt opened #502 "Fix leaky test"
Seems like we have a test that is leaking out logging config changes to other tests.

Run `$ poetry run pytest tests examples` which is the command we run in the 3.10 CI tests and we get warnings that originate out of `picologging/handlers.py`:

[code]

Then run the same tests but swap the order between `examples` and `tests`, so: `$ poetry run pytest examples tests` and we get no warnings. Same i

[2022-09-22 04:59] peterschutt opened #503 "Test coverage warning"
This is basically the test command that we call in CI for 3.10 testing with coverage:

`$ poetry run pytest tests --cov=.`

It generates warnings:

[code]

[2022-09-22 05:00] peterschutt commented on #500
Reduced this down to the specific issue and opened #502 and #503

[2022-09-22 05:22] peterschutt commented on #500
My theory is in the comments:

[code]
So I think we can fix the test by just increasing the duration to `minute`.

[2022-09-22 05:49] peterschutt commented on #503
- `'/home/peter/PycharmProjects/starlite/index_html'.`
- `'/home/peter/PycharmProjects/starlite/nested_dir_nested_html'`

These are names of temporary files created via `tmp_path` fixture for these tests:

[code]

[2022-09-22 05:51] peterschutt commented on #503
We can dance around it by being more specific with the directories we test coverage on:

`$ poetry run pytest tests --cov=starlite --cov=examples`

[2022-09-22 06:32] peterschutt commented on #502
It's this test in `test_picologging.py`:

[code]
@cofin ping

[2022-09-22 06:35] peterschutt commented on #502
Also @cofin, there is this stuff defined in module scope in `test_picologging.py`:

https://github.com/starlite-api/starlite/blob/c9387f8c24b0e66fadbceecf05f3611b76f6b7bf/tests/logging_config/test_picologging.py#L106-L120

If I delete it, all the tests still pass, does it need to be there? If so, maybe some comments would be useful.

[2022-09-22 09:45] #500 closed

[2022-09-22 09:45] #503 closed

[2022-09-22 13:54] MatthijsKok commented on #416
The [TechEmpower Framework Benchmarks](https://github.com/TechEmpower/FrameworkBenchmarks) describes itself as:

TL;DR It's a high-quality unbiased benchmark suite that almost all large frameworks use to compare with eachother.

[Benchmark results](http://www.techempower.com/benchmarks/)

In my opinion it would be the best way to show the power of the routing radix tree over regex based matching.

[2022-09-22 16:23] Goldziher commented on #416
Thanks. We are all aware of what this is :). The question was to understand what @peterschutt meant by his suggestion, since whats required in this issue is a profiling setup - which isnt this exactly.

Regarding tech powered, there are some issues there. Our benchmarks are not running correctly there, as well as starlette's for some reason. @peterschutt started exploring this, but its not clear w

[2022-09-23 11:49] peterschutt commented on #502
Closed in 55f590703823acfaed252d3b37610e690423b57d

[2022-09-23 11:49] #502 closed

[2022-09-23 12:38] peterschutt commented on #459
Closed in #497

[2022-09-23 12:38] #459 closed

[2022-09-23 17:38] Goldziher commented on #493
So, I decided against this approach. I updated the logging config to handle the logic better, and I am updating the app to receive a logging config: https://github.com/starlite-api/starlite/pull/511

[2022-09-23 17:38] #493 closed

[2022-09-24 13:16] Goldziher commented on #415
structlog is in place. A Rich integration is welcome. @cofin - can you close this issue and open a new one with requirements? please consider the latest state of our logging.

[2022-09-24 17:16] cofin commented on #415
sure thing.  @john-ingles , I'll mention you in the new issue in case you want to contribute in the update.  Thanks for working on this and helping us get to a solid solution.

[2022-09-24 17:16] #415 closed

[2022-09-25 19:45] Goldziher commented on #180
@seladb you interested in picking this one perhaps?

[2022-09-26 00:10] seladb commented on #180
Sure @Goldziher I think I can take it! Might take me some time though because I'm busy with other stuff at the moment

[2022-09-27 09:53] Goldziher opened #521 "Update SQLAlchemy plugin"
Our update to the plugin protocol allows us to include an optional layer in the plugin -

I suggest we add option constructor args, that allows the user the establish a connection, inject a db session etc. This can be as a separate package or by making the plugin a contrib module.

[2022-09-27 14:07] cofin commented on #521
I'm thinking we should do the same for the Redis cache backend.

[2022-09-27 14:47] Goldziher commented on #521
there is no redis cache backend at present. You want to add a plugin for it?

[2022-09-27 17:08] Goldziher commented on #521
i think so, yes.

[2022-09-28 16:52] Goldziher opened #524 "Update RequestFactory"
This is a followup issue.

We should update the RequestFactory in the following:

1. extend the scope generation to support most things we define in the scope type (see `starlite.types.asgi_types`)
2. add documentation in the usage/testing docs regarding how to use this.

[2022-09-28 19:03] #411 closed

[2022-09-29 07:42] seladb commented on #524
@Goldziher I looked into everything we have in `scope` and is being used in starlite's `Request` and `ASGIConnection`. Here are properties I can add:
- `state: Dict[str, Any]`
- `client: Tuple[str, int]`
- `route_handler: "RouteHandlerType"`

The following keys are in `scope` but are not being used anywhere in starlite's request object, hence I don't think we should add them:
- `asgi: ASGIVersion`

[2022-09-29 14:58] jtraub opened #531 "Apps do not work under uvicorn due to missing httpx in dependencies if starlite is installed without extras"
**Describe the bug**
Apps do not work under uvicorn due to missing httpx in dependencies if starlite is installed without extras.
As of 1.23.0 I need to install `starlite[testing]` in order to be able to run any app under uvicorn (I haven't tested other ASGI server but I suppose the problem would affect them too).

**To Reproduce**
I am posting entire shell output as I am not 100% sure I am doing

[2022-09-29 15:37] Goldziher commented on #531
Yup, my bad - i updated imports I shouldnt have. `v1.23.1` is released with a fix. Please confirm and close this issue.

[2022-09-29 15:42] Goldziher commented on #524
So, the scope object actually originates from the ASGI server (uvicorn, daphne etc.). If the user uses an ASGI server that supports HTTP2, such as `hypercorn`, then `http_version` will be `2.0`. In the future there might be `3.0` versions etc. So its good to have it.

`raw_path` should equal path - only in bytes. it shouldnt be passed in.

`extensions` are specified by the ASGI specification, this

[2022-09-29 15:54] jtraub commented on #531
It works with 1.23.1 now. Thanks!

[2022-09-29 15:54] #531 closed

[2022-09-30 15:41] cofin opened #534 "Enhancement: Implement Redis cache backend"
**What's the feature you'd like to ask for.**
Implement a Redis cache backend that can be utilized as an alternate to the SimpleBackend.

**Additional context**
We should probably extend the `CacheProtocol` and `SimpleCacheBackend` to have additional methods that are similar to redis.

For instance, we could  add some or all the following implementations.
- `scan`,`keys`,`rpush`,`expire`,`exists`,

[2022-09-30 15:43] cofin commented on #534
The integration should also include `hiredis` in addition to `redis` for performance

[2022-09-30 18:06] Goldziher commented on #534
Should see have redis at all? Why not simply to with hiredis to begin with?

[2022-09-30 18:14] cofin commented on #534
I thought hiredis integrated with the redis library, but I could be wrong.

[2022-10-01 08:49] #524 closed

[2022-10-01 08:50] seladb commented on #534
@cofin I think I can work on this unless you already started, please let me know

[2022-10-01 09:31] Goldziher commented on #151
Assigning this to myself

[2022-10-01 16:13] cofin commented on #534
@seladb, please go for it.

[2022-10-02 17:51] jtraub opened #540 "Proper indexed route reverse"
**What's the feature you'd like to ask for.**
Sometimes I need to redirect client app to another endpoint. To do that I need to generate an url for this endpoint.

Starlite provides `get_handler_index_by_name` which returns a dict with original path but it can not be used as an url path in case it contains path parameters. So in order to create an url to a handler like this

[code]

user would hav

[2022-10-02 17:53] jtraub commented on #540
My attempt to implement such function can be seen here

https://github.com/jtraub/starlite/compare/main...jtraub:starlite:route_reverse

I think included tests give an idea about function behaviour

[2022-10-02 19:21] Goldziher commented on #540
That's pretty cool. Wanna add a PR?

Also, check this bit if code out:
https://github.com/starlite-api/starlite/blob/main/starlite/router.py#L198

This was added by @infohash , and it's a full mapping of all route handlers, via their `handler.fn.__qualname__` to paths. It's a better source than the name index, because it doesn't rely on names as such. But it's not exposed via a method that retriev

[2022-10-02 19:47] jtraub commented on #540
Sure. I will add docs tomorrow and then submit a PR.

I saw it when I went through sources.
I still think that names are better than FQN in such cases because names can be short, concise (compare `group_info` vs `app.core.api.group.info`) and do not depend on codebase organization. Another benefit of named resources is that this concept is familiar to developers coming from other frameworks (aioht

[2022-10-02 20:44] Goldziher commented on #540
Ok, go ahead and merge these. We dont need this on the router level IMO. Please correct me if im wrong @infohash - but we can have the logic only on the app instance, and have a single method for it.

[2022-10-03 07:54] infohash commented on #540
@Goldziher That's correct. Starlite instance can see all the registered route handlers and the user can also access app instance inside a route handler by using `Request.app` so the public method must be on the app instance.

[2022-10-03 07:59] jtraub commented on #540
Ah, damn, I missed the last comments.

I can do the merge but I would like to take some time here and do experiments as I want to be sure most corner cases with route indexing has been covered.

At the moment I am only struggling with optional path parameters on my pet project though.

[2022-10-03 09:51] Goldziher commented on #540
Take your time

[2022-10-03 19:37] #521 closed

[2022-10-05 08:39] peterschutt opened #544 "Feature: customizable before send handler for sqlalchemy plugin."
In the example app I'm currently overriding this:

[code]
Probably not a universal thing that everyone would want, so making it optionally configurable could support my case and leave default behavior for others.

[2022-10-05 09:11] peterschutt opened #545 "Feature: Give engine and sessionmaker directly to SQLAlchemyPlugin"
I'd like to have a single engine/sessionmaker configured that can be shared between the ARQ/SAQ workers and the starlite application plugin, so some way to pass these in already configured to the sqlalchemy plugin would be nice.

[2022-10-06 10:38] peterschutt opened #547 "Feature: validator for `data` kwarg separate to injected type"
I'd like to discuss whether it is possible to have a different parser/validator for body input than the object that it is injected.

General idea:

[code]

Possibly even something similar for handler return values?

[2022-10-06 10:41] peterschutt opened #548 "Bug: SQLAlchemyPlugin type detection not compatible with SQLAlchemy 2.0"
For example:

[code]

[2022-10-06 10:55] peterschutt opened #550 "Enhancement: Use SQLAlchemy `Mapped` type hints if available for plugin"
[code]
We can get at the type annotations of the sqlalchemy models all via public api, so we should be able to easily produce equivalent pydantic models from that info.

How we would go about detecting if the models used type hints or not, and also whether we'd want to extract default values/factories from the column definitions would all have to be considered as well.

[2022-10-06 14:23] Goldziher commented on #544
yup i dont think its a universal thing. Its clever and helpful - but it might be a problem for users who dont expect this behaviour. I agree that allowing users to customize the hook is a good addition.

[2022-10-06 17:09] #545 closed

[2022-10-06 19:13] peterschutt commented on #547
The sqlalchemy class will instantiate without them present, they might have a db server generated default value or a value set after instantiating.

Look at value of `data.__dict__` in the handler. The missing values are simply not set as an attribute, but the instance instantiates fine.

Missing values are resolved during either merging the transient representation to an existing persistent insta

[2022-10-06 19:37] Goldziher opened #553 "Enhancement: `csrf token` template helper"
**What's the feature you'd like to ask for.**
We should add a `csrf_token()` template helper, as is available in frameworks such as Django and Masonite.

[2022-10-06 22:18] peterschutt commented on #547
It's a bit of a grey area.

[code]

Type checks as:

[code]

However accessing the property on the instance does indeed return `None` if it hasn't been set:

[code]

I know I've read SQLAlchemy author comments on that behavior down the years, but it's pretty immaterial - it is the way it is.

[2022-10-06 22:28] peterschutt commented on #547
How about a way to have more control over the DTO that the SQLAlchemy plugin generates per route?

Could there be a way to have `SQLAlchemyPlugin.to_pydantic_model_class()` accept some configuration from the route, so that the DTO it generates can be tailored to the individual route. Maybe through including some info in `opt`?

l'd like to press this idea further by incorporating a separate genera

[2022-10-07 01:02] peterschutt opened #555 "Testing: DeprecationWarning: Setting per-request cookies"
[code]

HTTPX are deprecating setting cookies per request.

[code]

Easy fix to silence the warning:

[code]

Perhaps we should consider adding `TestClient.set_session_cookies()` method as well.

[2022-10-07 02:04] peterschutt opened #557 "Feature: Add TestClient.add_session_cookies() method"
See #555 for context.

httpx are deprecating setting cookies per request, e.g,. `client.get(..., cookies=...)`.

We now have some code in our test suite like this:

[code]

We could add a method `add_session_cookies()`, so the pattern would become:

[code]

[2022-10-07 03:46] peterschutt opened #558 "Bug: SQLAlchemy Plugin won't accept `async_sessionmaker` for `session_maker_instance`"
[code]
`async_sessionmaker` doesn't exist in 1.x and unfortunately isn't a subclass of `sessionmaker`.

I'm think of making these protocols instead - for `session_maker_class` we care that we receive a type that has the `sessionmaker.__init__()` interface, and creates a callable that returns a session. For `session_maker_instance` we only care that we receive a callable that returns either `Sessio

[2022-10-07 05:23] #555 closed

[2022-10-07 09:53] infohash commented on #557
I see.

[code]

This code is only required if the user wants to overwrite cookies. The cookies should not be updated outside of session middleware because the raw session cookies must match with the data present in scope["session"].

[2022-10-07 09:59] peterschutt commented on #557
So just forget about all this?

[2022-10-07 10:12] infohash commented on #557
I think so. I'll wait for @Goldziher view on it.

[2022-10-07 10:13] peterschutt commented on #557
It can be reopened.

[2022-10-07 10:13] #557 closed

[2022-10-07 18:04] #558 closed

[2022-10-07 18:08] Goldziher commented on #547
Ok, but I dont see how we can translate this into something we can do here. The solution really is to use a DTO for this. What solution to you propose? a validator separate from the `data` value is not going to cut it - its a lot of extra complexity, and its going to significantly degrade performance I believe - and in the end, the behaviour of SQLAlchemy is actually not reflected in its typing. T

[2022-10-08 14:00] peterschutt commented on #547
Have got a DTO based solution in the example app now, and TBH I'm happy with it.

Now that mypy allows to disable specific errors per directory, I've just silenced the `valid-type` errors for the `controllers` sub-package:

[code]

I also had to disable the pydantic plugin (it was crashing) - but aside from the calls to `Base.from_dto()` and `DTO.from_orm()` I'm not interacting directly with pydan

[2022-10-08 14:00] #547 closed

[2022-10-08 14:45] jtraub opened #567 "Default name in handler index is not unique"
**Describe the bug**
Default name for route handlers might be not unique.

[Here](https://github.com/starlite-api/starlite/pull/541#discussion_r987565608) we decided to use `handler.fn.__qualname__` as default name in handler index but today I learned the hard way that `__qualname__` is not unique if your route handlers are functions with the same name located in different files. Sorry, I didn't c

[2022-10-08 19:11] Goldziher commented on #567
yup

[2022-10-08 20:21] Goldziher commented on #567
I added a PR fixing this, you're welcome to review @jtraub

[2022-10-09 11:35] #567 closed

[2022-10-09 17:56] Goldziher opened #571 "Enhancement: Cache-Control headers"
We currently dont have any explicit mechanism to set cache control headers, and users need to manually set them. It would be good to add a datastructure object similar to `starlite.datastructures.Cookie` that allows setting cache control headers, e.g.

[code]

This object must support the specification in full, which can be read here: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache

[2022-10-12 09:57] seladb commented on #534
@cofin @Goldziher basic redis and memcached support was added.

As @cofin mentioned we can extend the existing cache to do more than `get()`, `set()` and `delete()` (and extend the various backends accordingly). We can use [Django cache](https://docs.djangoproject.com/en/4.1/topics/cache/#basic-usage) as a reference. Would you like me to work on that or do you think it's not needed or important?

[2022-10-12 10:48] Goldziher commented on #534
Since this is now user facing through `request.cache` I'm fine with extending it. But we need to make it simple and solid so the protocol cannot become too bloated.

[2022-10-12 15:43] #534 closed

[2022-10-13 14:00] provinzkraut opened #581 "Official trio support"
I wasn't sure if trio as an async backend would be supported, but after taking a look at the code it seems like it should work just fine, since `anyio` is used already.

**What's the feature you'd like to ask for.**

Trio-compatibility is already given, so it would be just running async tests against `trio` as well as `asyncio` and maybe mention trio-compatibility in the documentation somwhere, so

[2022-10-13 14:13] ReznikovRoman opened #582 "Custom dependency injection mechanism"
Ask your question...
At our company we use [Dependency Injector](https://python-dependency-injector.ets-labs.org/index.html) for DI. To inject dependencies into functions it uses [`wiring mechanism`](https://python-dependency-injector.ets-labs.org/index.html) that requires placing some decorators and specifying default arguments.

Starlite validates all controller's parameters, so I can't simply p

[2022-10-13 14:27] Goldziher commented on #581
That would be great, PR is welcome!

[2022-10-13 14:29] Goldziher commented on #582
There is the `Dependency` keyword which allows skipping validation: https://starlite-api.github.io/starlite/usage/6-dependency-injection/5-the-dependency-function/

[2022-10-13 14:31] Goldziher opened #585 "Fix: remove `NoReturn` as a supported return value for `delete`."
### Discussed in https://github.com/starlite-api/starlite/discussions/583

<div type='discussions-op-text'>

<sup>Originally posted by **Goldziher** October 13, 2022</sup>
We currenty support `NoReturn` as a valid return value for the `delete` method, which cannot support returning a value with uvicorn (which freaks out if it does return a value, while hypercorn and other servers do not).

We shou

[2022-10-13 15:32] Goldziher commented on #581
Great stuff, 🙏

[2022-10-13 16:26] #585 closed

[2022-10-13 22:22] seladb commented on #180
@Goldziher @cofin I looked up the OT integration with FastAPI and here is what I understand:
- The instrumentation class is implemented in the OT repo (and **NOT** in the FastAPI repo):
  - https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-fastapi/src/opentelemetry/instrumentation/fastapi/__init__.py
- The way it's used is outsid

[2022-10-13 22:25] seladb commented on #571
@Goldziher I think I can work on that

[2022-10-14 05:37] Goldziher commented on #180
Hmm, we should start with opening an issue in the open telemtry app.

As for what to do - you can see this draft PR of mine in the sentry repository, it does basically the same: https://github.com/getsentry/sentry-python/pull/1597

[2022-10-14 05:37] Goldziher commented on #571
cool.

[2022-10-14 09:08] apaudel96 opened #591 "Feature: Support TypedDict for request body"
**What's the feature you'd like to ask for.**
Currently starlite supports pydantic BaseModel and dataclass for body input. I would also like support for TypedDict.

**Additional context**
I was trying out the [python prisma client](https://github.com/RobertCraigie/prisma-client-py). It generates lots of useful classes, for example, TaskCreateInput, TaskUpdateInput, etc. as typed dicts. I tried usi

[2022-10-14 09:51] provinzkraut commented on #571
It would be nice to also expose `Cache-Control` headers of requests and handle them in the response caches.

[2022-10-14 11:55] Goldziher commented on #571
yupl @seladb please see the discussion here: https://github.com/starlite-api/starlite/discussions/573

[2022-10-14 11:57] peterschutt commented on #591
You can do this with a plugin, e.g.,:

[code]
and
[code]

![image](https://user-images.githubusercontent.com/20659309/195841180-e368a40c-7caf-46ec-aec7-5cf01e1c00a5.png)

[2022-10-14 13:49] peterschutt opened #592 "Bug: Dependency function passes `...` when both `default` and `skip_validation` are specified"
[code]
default value injected into handler function is  `Ellipsis`, should be `1`.

[2022-10-14 13:52] peterschutt opened #593 "Bug: logging queue listener writing to in-memory stream"
The handler for the `queue_listener` handler is created as `StreamHandler(StringIO())`. Explicitly passing the stream to the the handler means that the output is no longer logged to stderr.

[2022-10-14 14:43] peterschutt opened #596 "Bug: keyerror originating from pydantic `schema()` function"
When creating a plugin for #591 I noticed this:

[code]
(need to install pydantic with `--no-binary` to get the full traceback).

The issue seems to be coming from two separate pydantic models being generated with the same name, one for the `data` kwarg, and another for the return type.

This was the handler:

[code]

There is a branch to reproduce this in the hello-world repo: https://github.com/

[2022-10-14 16:07] #593 closed

[2022-10-14 16:08] #592 closed

[2022-10-14 16:38] Goldziher opened #597 "Documentation: Update the migration guide"
Our docs now have a rather basic migration guide. It would be very helpful to have this updated. If need be, we can split it by different frameworks, so a migration guide from `FastAPI`, from `Starlette` and any other framework that users want to migrate from.

This is an open "permanent" issue, so feel free to add PRs refering to it - it will not be closed in the near future.

[2022-10-15 07:56] seladb commented on #571
I responded here: https://github.com/starlite-api/starlite/discussions/573#discussioncomment-3884002, let's continue the discussion there

[2022-10-15 20:52] Goldziher commented on #151
Ok, so for the CLI we need to flush out some requirements before we proceed. I will be closing this issue and create a discussion instead.

[2022-10-15 21:02] #553 closed

[2022-10-16 08:46] seladb commented on #180
@Goldziher I have to say I don't fully understand the architecture of these integrations (both OT and Sentry) 😕

Wouldn't it be easier to add an "OT plugin" or "Sentry plugin" to the Starlite repo that handles the instrumentation (e.g add a middleware, listen to relevant events, etc.)? I'm not familiar with our current plugin system, but it sounds feasible...

Or maybe expose Starlite's plugin in

[2022-10-16 18:54] nielsvanhooy opened #609 "Bug: Picologging not behaving correctly"
**Describe the bug**
i reported an earlier issue to @peterschutt about logging configuration not visible in the console output.
that was fixed in https://github.com/starlite-api/starlite/pull/594

i now wanted to test this out with picologging but it seems to override the LoggingConfig settings.

**To Reproduce**
checkout https://github.com/starlite-api/starlite-pg-redis-docker    and add picologg

[2022-10-16 19:19] Goldziher commented on #609
hmpf. I really screwed this stuff up it seems.

[2022-10-16 19:19] Goldziher commented on #609
fixing now

[2022-10-16 19:56] peterschutt commented on #609
Sorry, I should have plugged the example app into the fix branch and tested this more thoroughly.

Looks like the app output is duplicating log messages too @nielsvanhooy, one formatted, and one unformatted. That'll either be a problem with the config in the example app, or the config you are using in your version of it. I'll check that out soon.

[2022-10-16 20:29] #609 closed

[2022-10-16 21:55] peterschutt commented on #609
@nielsvanhooy I just pushed updates to example app that remove the duplicated uvicorn log messages and update the starlite version

[2022-10-17 05:53] peterschutt opened #611 "Testing: random rate limiting test failures"
[code]

[2022-10-17 07:16] peterschutt commented on #611
And another:

[code]

[2022-10-17 21:13] Goldziher commented on #180
I started work on this @seladb --> https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1388

If you find the time, you're welcome to help with this. Tests are not in place yet etc.

[2022-10-17 21:27] ale809 commented on #611
Hi I am new on this do u can help with Doordash, had a lot problems

[2022-10-18 01:49] #591 closed

[2022-10-18 07:32] seladb commented on #180
Thanks @Goldziher ! I can see you're on top of this so I can probably work on some other tasks 😃
Let me know if you need my help, but TBH I still don't really understand the design...

[2022-10-18 14:23] imbev opened #615 "Improved Code of Conduct"
**What's the feature you'd like to ask for.**
A more suitable Code of Conduct such as the Ruby Code of Conduct. The current COC is unnecessarily long, specific, and controversial, as seen in the PolyMC and Opal projects.

**Additional context**
Ruby Code of Conduct (from https://www.ruby-lang.org/en/conduct/):

*This document provides community guidelines for a safe, respectful, productive, and co

[2022-10-18 17:58] provinzkraut opened #617 "Enhancement: Server-side sessions"
**What's the feature you'd like to ask for.**
Currently only cookie-based (i.e. client-side) sessions are supported. A server-side session with a redis/memcached/file backend would be nice to have.

If that's something starlite wants to support, I'd be happy to work on it.

[2022-10-18 18:14] Goldziher commented on #617
Certainly. There was a suggestion by @infohash to put this as part of the `starlite-sessions` package, which I think is a good idea. I am though open to also doing it in the main package if there is a good reason to do this.

[2022-10-18 18:19] provinzkraut commented on #617
`starlite-sessions` describes itself as "Simple sessions authentication for Starlite". I wouldn't expect to find server-side session middleware there. Or rather, it wouldn't be the place I'd look for. Is there a good reason why you'd not want this in the core package?

[2022-10-18 18:58] Goldziher commented on #617
You got a point there. How would you suggest to implement this?

[2022-10-18 23:58] peterschutt opened #618 "Docs: better examples in Dependency function section"
Issue based on [discord comment](https://discord.com/channels/919193495116337154/919193495690936353/1031798002475601942):

![image](https://user-images.githubusercontent.com/20659309/196566371-30afb4bc-b91a-4cba-9211-b63162843556.png)

Section of docs is:

https://starlite-api.github.io/starlite/usage/6-dependency-injection/5-the-dependency-function/

We should create a more abstract example that

[2022-10-19 07:17] infohash commented on #617
It's nice to have server side sessions. We can keep it default to memory if no cache backend is provided just like caching. It must have similar session management as in client side sessions. We can consolidate these 2 to offer a single session interface for the user to access. The only difference being data for server side session should not go into cookies.

E.g. If the user is accessing `reques

[2022-10-19 09:15] provinzkraut commented on #617
@infohash I agree with having a consistent interface across session backends, I don't particularly agree on the configuration via flag thing.

You'd want to expose the backends directly as well, since the will have methods that should be accessible that the cookie based session does not have, for example to manually expire sessions.

I suggest something like this:

[code]

[code]

In theory it wou

[2022-10-19 10:34] infohash commented on #617
I like the approach of treating cookie as just another backend. But how will the user dynamically choose which data goes to which backend e.g. if the user is using `ServerSideSessionMiddleware` and `ClientSideSession`.

Currently any new data that you set in session is destined to go to cookies.

[code]

If the user wants to keep some data at server side:
[code]
What is the appropriate way to keep

[2022-10-19 10:44] peterschutt opened #619 "Typing: ExceptionHandler Exception type invariant"
[code]

Mypy error:

[code]

[2022-10-19 10:45] provinzkraut commented on #617
I have never seen a session uses liked this. Usually you choose one storage method for your session and that will be then used to store all the session data. Server-side sessions aren't a complementary session mechanism to client-side session. They're a replacement.

What would the use case be for something like this?

[2022-10-19 10:48] infohash commented on #617
If the user wants to set persistent session data that will be used to authenticate his users, the user should have the option to set persistent session data at all times.

[2022-10-19 10:52] provinzkraut commented on #617
I feel like we're not talking about the same thing here.

Yes, the session should always be globally available if the middleware is used, and it should always be persistent. But why do we need client-side **and** server-side sessions **at the same time** for that?

A server-side session offer the exact same functionality to the user when it comes to accessing the session data.
From the consumer pe

[2022-10-19 11:08] infohash commented on #617
I mean if we use server side session, we also need a way to set client side authentication cookies that are currently dumped from the session to the browser with every response and are loaded into the session on every request.

[2022-10-19 11:42] infohash commented on #617
I am seeing one problem if we don't use client side session at all and it is with OIDC. It is recommended to store OIDC tokens in client side cookies. Keeping them in server-side session makes it hard to scale your application horizontally for single sign on across web domains.

If you retrieve the session from the database every request, you will need to cluster and/or share your database with mu

[2022-10-19 11:52] provinzkraut commented on #617
Then the user should store them in a cookie, not the session.

We cannot make every session implementation fit every use case. A user will have to decide which session they want to use. They all have their advantages and disadvantages. If a server-side session does not fit the use case, they need to pick something else.

What you're suggesting though doesn't sound like a session, it sounds more li

[2022-10-19 12:00] infohash commented on #617
This is what the current design is. Session Middleware sets them as cookies with every response and loads them into session in every request. Then APIs can retrieve ID token from the session to learn who the user is andthe extensions can verify the ID Token, refresh the access token if it is needed, etc.

[2022-10-19 12:19] provinzkraut commented on #617
@infohash I feel like we're stuck here and this is not really productive.

As I said before, we cannot create a session middleware that fits **all** use cases. If you have data that should only live on the client side **and need to put it in a session**, then use a client-side session. If you want data to be server-side, use a server-side session.

I am repeating myself here, but this is how most

[2022-10-19 13:12] peterschutt opened #623 "Bug: a test must be modifying global state"
Failure in CI running the example tests after the unit tests that doesn't occur if the example tests are run independent of the unit tests or before the unit tests:

[code]

The command for the tests on 3.10 in CI is:

[code]

If I swap the order so examples run first, everything is fine:
[code]

[2022-10-19 13:14] peterschutt commented on #623
If I had to guess, I'd say some test is modifying the default openapi config in-place, but I haven't had the time to look into it.

[2022-10-19 15:46] #618 closed

[2022-10-19 15:49] #619 closed

[2022-10-19 19:41] jtraub commented on #617
What happens if this data will be stored in redis/memcached/memory/tmp files? Do you need to access session data on the client side as well?

@provinzkraut it is a bit of a stretch but it would be great to add "frontends" as well. So a default frontend would read session token from cookies while another custom frontend would read it from a header or an url param. They should also take care of outp

[2022-10-19 20:52] jjgalvez opened #627 "Redirect on authentication error"
**What's the feature you'd like to ask for.**
A clear and concise description of what this feature does, improves and / or solves. Include code snippets or examples if applicable.

When using authentication within web-browser based applications, it would be convenient for the application to redirect to the login page rather than displaying the 401 error.

**Additional context**
Add any other conte

[2022-10-19 21:18] alex-oleshkevich commented on #617
I maintain the library that provides a feature you requested https://github.com/alex-oleshkevich/starsessions

It should be compatible with Starlite as it is just an ASGI middleware.

[2022-10-20 06:51] infohash commented on #617
@jtraub I have explained it [here](https://github.com/starlite-api/starlite/issues/617#issuecomment-1283874870) why tying SSO session with server side is not recommended. Short answer is it makes it harder for an SSO organization to scale its web apps horizontally.

[2022-10-20 10:06] provinzkraut opened #628 "Bug: Cookies with the strings "session" in their name interfere with the session middleware"
**Describe the bug**
If a request contains the a cookie with the name containing the string `session`, it will result in invalid session data

**To Reproduce**

[code]

**Additional context**

This is happening because of [this line](this line: https://github.com/starlite-api/starlite/blob/main/starlite/middleware/session.py#L259).

[code]
It is meant to check for multiple session cookies, in case

[2022-10-20 13:22] jtraub commented on #617
@infohash sorry, I've missed that message.

Now storing OIDC stuff in cookies makes sense but I still don't get why it should be session cookies.

If we store OIDC tokens in a session cookie then other apps will have access to my app's session and since they rotate tokens they can also accidentally screw my app's session data. Wouldn't it make more sense to store OIDC tokens in a separate cookie n

[2022-10-20 13:36] infohash commented on #617
@jtraub Within the same SSO organization, it is fine to let other web apps to modify OIDC session data. It will keep the OIDC session active by frequently refreshing the access token, ID token and refresh token. If there is at least one web app within the SSO keeping the OIDC session active, the user will remain logged in for other web apps even if he is not using them. This also means that if the

[2022-10-20 14:08] jtraub commented on #617
I have no doubts that OIDC middleware won't mess with my app sessions but I am not so sure about user code.

They've might be simply unaware of the fact that entire session (not only OIDC tokens) is shared across all apps. I was too very surprised to learn that with OIDC Middlware I can not longer do `request.session({})` for example to clear app session.

[2022-10-20 14:25] provinzkraut commented on #617
@jtraub

That's actually a really good idea! Although I wouldn't necessarily add "frontends" for that. Since the options where to get the user-identity from are fairly limited, they can all easily be supported in the base server-side session implementation. This could then be configured via a simple field in the configurations with a string lateral.

@alex-oleshkevich

Couldn't you have mentioned

[2022-10-20 14:31] Goldziher commented on #617
I say go ahead and implement it 😉

[2022-10-20 14:34] Goldziher commented on #617
@provinzkraut - please send me a message via discord. I want a chat when you have time.

[2022-10-20 14:34] infohash commented on #617
@jtraub Have you tried `request.session.clear()`?

The OIDC tokens are actually kept under the user defined key when initializing OIDC. It is recommended for the user to give the name of the OIDC provider prefixed by an underscore to the key to avoid key collision and accidental modification. If the user code actually modifies anything under that key, that will be on the user.  The web apps must b

[2022-10-20 14:44] infohash commented on #617
@jtraub Can you raise an issue https://github.com/starlite-api/starlite-oidc/issues ? I haven't encountered this problem so far.

[2022-10-20 16:46] Goldziher opened #632 "Enhancement: Etags"
We should implement and `Etag` class following the discussion in #573 .

[2022-10-20 16:46] Goldziher commented on #632
@seladb @provinzkraut - one of you wants to take this one up?

[2022-10-20 16:54] provinzkraut commented on #632
I have the basic ETag implementation already in a branch, just need to adapt it to the changes introduced with the cache-control support.

So yeah, I'll pick this up!

[2022-10-21 12:27] provinzkraut opened #634 "Meta: Tracking issue for dropping Starlette"
# Tracking issue for the current progress of dropping starlette dependencies

## How to use?

The following list can serve as an entry-point when tackling the remove of a specific starlette dependencies. It lists the names imported from starlette by their source module and all files that import it.

It is autogenerated with the `ast` module, and will be updated accordingly.

## Overview
- [x] **`s

[2022-10-21 13:18] Goldziher commented on #634
nice!

So checkout my draft PR - I am tackling some of these there, primarily the response types and `status`

[2022-10-21 14:32] provinzkraut commented on #634
@Goldziher Have that on my radar already! I haven't viewed your PR in detail yet. Does it fully remove all references to the status codes and responses?

[2022-10-21 14:38] Goldziher commented on #634
Yes, it will.

[2022-10-21 14:51] provinzkraut commented on #634
I added a reference to the pending PR, so it's visible that it's WIP. Once that's merged tasks will be updated!

[2022-10-22 00:43] jtraub opened #640 "Replace starlette.datastructures.Headers and other MultiDict-like structures with aio-libs/multidict"
As a part of migration from Starlette we should replace `starlette.datastructures.Headers`, `starlette.datastructures.MutableHeaders` and `starlette.datastructures.ImmutableMultiDict` with another multidict implementation.

Proposed library is  [multidict](https://github.com/aio-libs/multidict)

Convenient usage list for mentioned classes can be found in #634

Related issue in starlite-multipart t

[2022-10-22 08:06] Goldziher opened #642 "Enhancement: Replace BaseHTTPMiddleware with a starlite implementation"
As part of the migration from Starlette #612 we should replace the `starlette.middleware.BaseHTTPMiddleware` that appears in our docs with our own implementation.

[2022-10-22 16:36] provinzkraut commented on #617
**Progress**

- [ ] Backend implementations (basic things done, details need some work)
  - [x] Memory
  - [x] File
  - [x] Redis
  - [x] Memcached
  - [ ] SQLAlchemy (very rough draft, configuration / plugin integration needs work)
- [ ] Individual backend test
- [x] Existing integration test pass for new backends
- [x] Maintains backwards compatibility
- [ ] Update documentation

[2022-10-23 07:13] Goldziher opened #650 "Enhancement: Versioned docs"
### Discussed in https://github.com/starlite-api/starlite/discussions/649

<div type='discussions-op-text'>

<sup>Originally posted by **jtraub** October 23, 2022</sup>
Starlite evolves at a quite fast pace. The problem here is that Starlite version in user project can lag multiple releases behind while documentation at https://starlite-api.github.io/starlite/ is being regenerated on each commit t

[2022-10-23 07:55] jtraub opened #651 "Enhancement: Support async rendering for Jinja2 templates"
**What's the feature you'd like to ask for.**
Jinja2 supports async rendering. See https://jinja.palletsprojects.com/en/3.0.x/api/#async-support for details.

It would be great if Starlite would add support of this feature allowing to easily port existing async templates and filters

<a href="https://polar.sh/litestar-org/litestar/issues/651">
<picture>
  <source media="(prefers-color-scheme: dark

[2022-10-23 09:22] provinzkraut commented on #571
Implemented in #601

[2022-10-23 09:22] #571 closed

[2022-10-23 10:09] ThinksFast opened #655 "Partial[DTO] Exception: typing.ClassVar[bool] is not valid as type argument"
**Describe the bug**
When creating a `Partial[DTO]`, I get the following exception: `Exception: typing.ClassVar[bool] is not valid as type argument`

The exception appears to be thrown in the `partials.py` file, from the 3rd line copied here:

[code]

**To Reproduce**
Here's a minimal example to reproduce.  I'm using Python 3.10.6.

[code]

**Additional context**
I believe I've implemented this co

[2022-10-23 10:54] ThinksFast commented on #655
I just played with the code in the tests folder... it seems like this exception does not occur using DTO's created Pydantic models.  So maybe it's isolated to DTO's created by SQL Alchemy/ORM models.

**This works:**
[code]

**Returns:**
[code]

[2022-10-23 11:44] infohash commented on #627
If starlite is made to do it by default, it will send redirect response even to the request sent by REST API clients. So this is left on the user to decide. Besides, once `starlite-oidc` extension is ready for production, it will have this functionality by default for the web apps, not only that, `starlite-oidc` will redirect you to the login page of the identity provider and back to the same page

[2022-10-23 12:03] Goldziher commented on #642
I am not 100% sure we should actually support this -- thoughts?

[2022-10-23 12:32] #655 closed

[2022-10-23 13:42] provinzkraut commented on #650
GitHub page recommends a maximum size of 1GB.
https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#usage-limits

With a current size of ~20MB we can fit about 50 versions.

If we exceed that, maybe ditch older versions (which is kinda meh IMO), or move away from GH pages?

[2022-10-23 15:36] #632 closed

[2022-10-23 15:54] pemocarlo commented on #650
I would say that we do not need to keep all the version docs. The most important is to show the ones that are actively supported (which in Starlite case is only the latest one) and the unreleased version. Maybe also keep longer the ones with an important milestone (like before dropping a Python version). Where I actually see the biggest value here is to differentiate between the unreleased and lat

[2022-10-23 15:58] provinzkraut commented on #650
I think we definitely need them to some extend. People might not be able to update immediately because of their own release cycle or interdependent packages, so they could be stuck with a version that has no appropriate documentation available anymore.

[2022-10-23 16:13] pemocarlo commented on #650
An alternative is to add a note in the relevant section of the docs, indicating the most important changes in each version, similar to the python docs:

![Screenshot from 2022-10-23 18-11-14](https://user-images.githubusercontent.com/7297323/197403172-e9cd6e4d-40b5-4d09-9fc3-c676ba43d7cb.png)

But I guess this requires a more involved effort from the contributors. Maybe it would be possible to aut

[2022-10-23 16:21] pemocarlo commented on #650
Maybe we can limit this to the last 5 or 10 minor versions, for example. For more special changes, there is always the possibility to regenerate the docs from the git history, even if not ideal XD

[2022-10-23 18:28] #623 closed

[2022-10-23 18:28] Goldziher commented on #596
@peterschutt is this fixed?

[2022-10-23 18:29] #611 closed

[2022-10-23 19:16] Goldziher commented on #634
These:

[code]

And this:

[code]

I want to keep - we should make sure we preserve compatibility. So you can remove them from the list or strike them through or whatever.

[2022-10-24 02:13] jtraub commented on #634
Wouldn't it be better to copy existing tests involving starlette classes into a separate folder (idk, `compatibility`) and rewrite source tests to use starlite implementation instead? Starlite implementation should be tested too.

[2022-10-24 03:40] peterschutt commented on #596
I haven't specifically fixed it, I'll try to simplify a repro tonight.

[2022-10-24 04:58] Goldziher commented on #634
It would certainly be cleaner. But the tests are not 1:1 imports of the Starlette tests, they are heavily modified, sometimes compeltely rewritten - the point is to make sure that whatever worked in Starlette also works in our API, but we are not testing Starlette - we are testing only our code.

[2022-10-24 08:31] provinzkraut commented on #634
I noticed that as well. Will update the file later!

[2022-10-24 09:20] provinzkraut opened #667 "Enhancment: Replace starlette's `URL`, `URLPath` and `Address` with our own implementation"
This is part of #612 / #634.

We should replace `URL`, `URLPath` and `Address` from `starlette.datastructures` with our own implementation.

[2022-10-24 09:22] provinzkraut commented on #642
Why shouldn't we support it? It's a valid use case IMO. If a middleware should be more than a simple callable but doesn't want to deal with ASGI directly either, it's quite useful.

[2022-10-24 09:35] provinzkraut opened #668 "Enhancment: Replace starlette's `TestClient`with our own implementation"
This is part of #612 and has been discussed here https://github.com/starlite-api/starlite/discussions/612#discussioncomment-3942699.

1. Create a new package `starlite-test-client` and implement a `TestClient` there
2. Move starlite from starlette's `TestClient` to the new implementation

[2022-10-24 09:38] provinzkraut opened #669 "Enhancment: Replace starlette's `CORSMiddleware` with our own implementation"
This is part of #612. Some details have already been laid out there.

[2022-10-24 09:41] provinzkraut opened #670 "Enhancment: Replace starlette's `TrustedHostMiddleware` with our own implementation"
This is part of #612. Some details have already been laid out there.

[2022-10-24 09:42] provinzkraut commented on #668
Closed as this is already being tracked by #664

[2022-10-24 09:42] #668 closed

[2022-10-24 09:44] provinzkraut opened #671 "Enhancment: Replace starlette's `StaticFiles` with our own implementation"
This is part of #612

[2022-10-24 09:50] provinzkraut opened #672 "Enhancment: Replace starlette's `ServerErrorMiddleware` with our own implementation"
This is part of #612. Some details have already been laid out there.

[2022-10-24 09:51] provinzkraut opened #673 "Enhancment: Replace starlette's `GZipMiddleware` and `GZipResponder` with our own implementation"
This is part of #612.

[2022-10-24 10:09] provinzkraut opened #674 "Enhancment: Replace starlette's `Middleware` with our own implementation"
This is part of #612 and depends on #668, #673, #672 and #670.

[2022-10-24 10:17] provinzkraut opened #675 "Documentation: Add a usage example for "submounting" applications via the `asgi` handler"
A new user asked on our if starlite would support "submounting applications" [like FastAPI does](https://fastapi.tiangolo.com/advanced/sub-applications/). While it is supported via the `asgi` handler, this usage is not apparent to new users / users who aren't too familiar with ASGI conceptually.

We should add a usage example that demonstrates how to do this.

<a href="https://polar.sh/litestar-or

[2022-10-24 11:54] Goldziher commented on #642
Ok, but in that case we can have a better implementation than this - maybe something like Django's, where you can specify the request side and response side.

[2022-10-24 12:07] odiseo0 commented on #642
I think a simple decorator will work fine for most commons use cases

[code]
It may be too simplistic tho

[2022-10-24 12:10] Goldziher commented on #642
That's pretty cool TBH

[2022-10-24 12:13] provinzkraut commented on #642
So something like starlettes [`Starlette.middleware`](https://github.com/encode/starlette/blob/master/starlette/applications.py#L262) decorator, just not bound to the app instance.

I like the idea!

[2022-10-24 19:10] alf1e opened #680 "[BUG] cannot add routes to starlite"
**Describe the bug**
A clear and concise description of what the bug is.
When adding any route handler complains route is already registered.

**To Reproduce**
Explain how to reproduce the bug.

[backend.zip](https://github.com/starlite-api/starlite/files/9854603/backend.zip)
download the code
Run `pip3 install -e .`
Run `SQLA_KEY="sqlite+aiosqlite:///:memory:" python3 src/__init__.py`

**Addition

[2022-10-24 19:11] Goldziher commented on #680
hi, can you paste code here or link the reproduction repo?

[2022-10-24 19:24] alf1e commented on #680
I attached a ZIP of it

[2022-10-24 19:41] Goldziher commented on #680
This is what I meant:

[code]

Look, im glad to help - but opening random zips from the internet is insecure and aside from that you didn't offer a minimum reproduction.

Running this works fine.

[2022-10-24 19:42] alf1e commented on #680
Sorry. Yes it does work in one but when I split it into multiple files it dosent work.

[2022-10-24 19:47] jtraub commented on #680
Change `from src.routes.v0 import router` to `from routes.v0 import router` in `src/__init__.py`

[2022-10-24 19:49] alf1e commented on #680
Oh that works. Thanks

[2022-10-24 19:49] #680 closed

[2022-10-24 19:53] jtraub commented on #680
@alf1e if you want to know why it didn't work.

https://docs.python.org/3/reference/import.html#regular-packages

[2022-10-24 22:10] peterschutt commented on #675
Have a look at https://github.com/piccolo-orm/piccolo_admin/issues/211

[2022-10-24 22:16] peterschutt commented on #650
I'm currently experimenting with https://github.com/jimporter/mike in another project. It is used by https://github.com/awslabs/aws-lambda-powertools-python - see the version selector on their docs: https://awslabs.github.io/aws-lambda-powertools-python/2.0.0/

[2022-10-25 04:52] Goldziher opened #681 "Enhancement: Support proper mounting via ASGI"
The current mounting mechansim we have in place does not support redirecting to all sub-path. See this issue: https://github.com/piccolo-orm/piccolo_admin/issues/211

We should update our path resolution logic to support this use case properly.

[2022-10-25 07:50] provinzkraut commented on #675
Oh, I actually never encountered that. Let's defer this then until #681 is resolved.

[2022-10-25 08:43] provinzkraut opened #683 "Documentation: Explain DTO basics and relationship between pydantic / DTO / ORM-plugins"
Right now the [documentation on DTOs](https://starlite-api.github.io/starlite/usage/11-data-transfer-objects/) is quite rudimentary, and can be confusing if the reader doesn't already know what a DTO is. Right now, new users unfamiliar with starlite are presented with a few too many options, without a clear explanation when to choose which.

The DTO section should probably lead with a primer answe

[2022-10-25 13:29] jtraub commented on #672
I will take of this tonight

[2022-10-26 10:34] provinzkraut opened #686 "Documentation: Python version compatibility in examples"
All code snippets and examples in should either be compatible with the lowest version we currently support (3.7 at the moment)
or offer alternative versions specific to the Python release they target via  [content tabs](https://squidfunk.github.io/mkdocs-material/reference/content-tabs/).

[2022-10-26 17:55] cloasdata opened #687 "Bug: SQLAlchemy Plugin DTO cannot reflect relationships."
Hi folks,

not sure if this really a bug or a feature, but Im not able to make a DTO from a instance having a simple relationship.
I do have very often the case where I just want to reflect the 1 in my sa model and explicitly not the n because it will soon pollute the namespace.
And it is not that uncommon as per [sa doc](https://docs.sqlalchemy.org/en/14/orm/basic_relationships.html#many-to-one)

[2022-10-26 18:54] Goldziher commented on #687
Hi @cloasdata - I would like to ask either @peterschutt or @cofin to look into this when they have time.

[2022-10-26 19:17] peterschutt commented on #687
Yep I'll be able to have a look

[2022-10-26 20:33] Goldziher commented on #634
testing client is done.

[2022-10-27 09:14] ThinksFast opened #689 "Custom Middleware with a kwarg fails to load"
**Describe the bug**
I am trying to use `APScheduler` with Starlite.  [APScheduler](https://github.com/agronholm/apscheduler) is a background task scheduling package.  I am currently using their latest alpha version `4.0.0a2`.  They have [a working example for Starlette](https://github.com/agronholm/apscheduler/blob/4.0.0a2/examples/web/asgi_starlette.py) (copied below), but when I adapt the code

[2022-10-27 09:32] Goldziher commented on #689
We currently don't give Middleware access to the asgi LifeSpan events. That's what's going on there. Scaffolding the scheduler should happen in `on_startup`.

[2022-10-27 10:28] #689 closed

[2022-10-27 10:58] provinzkraut opened #692 "Enhancment: Add an AsyncTestClient"
### Discussed in https://github.com/starlite-api/starlite/discussions/691

<div type='discussions-op-text'>

<sup>Originally posted by **provinzkraut** October 27, 2022</sup>
Might be a nice addition to have an async test client. Thoughts?</div>

[2022-10-27 14:26] LordGaav opened #693 "Bug: Header values should not be lowercased"
**Describe the bug**
Headers keys and values are lowercased before being rendered. While lowercasing key is fine (as per HTTP2 spec), lowercasing values should not be done.

For my use case, integrating with a payment provider involves passing a transaction ID as a header. This ID contains lowercase, uppercase letters, and is not case-insensitive.

**To Reproduce**
1. Create a new route_handler.
2

[2022-10-27 14:36] Goldziher commented on #693
yup, will fix. @provinzkraut can you take this on quickly and add it to the release you are doing?

[2022-10-27 14:37] provinzkraut commented on #693
@Goldziher will do. Just waiting for a comment from you on the open conversations, then it's ready to go

[2022-10-27 15:03] provinzkraut commented on #693
@LordGaav Thanks for reporting! It's fixed in #695 and will be in the next release!

[2022-10-27 15:03] #693 closed

[2022-10-27 15:55] LordGaav commented on #693
That was quick, thanks 👍

[2022-10-27 16:29] #617 closed

[2022-10-28 05:47] seladb commented on #669
I think I can take it

[2022-10-28 12:34] peterschutt opened #700 "Bug: Flaky test"
Failure in CI:

[code]

[2022-10-28 13:06] jtraub commented on #700
@peterschutt I believe freezegun doesn't work with `os.path.getmtime` and `Path.stat().st_mtime` because internally it makes a syscall which returns a float  and its result is returned as is back to the Python level.

I noticed this problem too and even created a fix but didn't push it because I didn't have time to verify it by reading sources/freezegun docs

My fix is following
![image](https://u

[2022-10-28 13:08] jtraub commented on #700
Related issue https://github.com/spulec/freezegun/issues/392

[2022-10-28 13:17] peterschutt commented on #700
Thanks @jtraub i really wasn't sure so appreciate the info

[2022-10-28 20:15] #687 closed

[2022-10-29 02:44] jtraub opened #703 "Standalone route handlers are not copied upon registration in router"
**Describe the bug**
[Documentation](https://starlite-api.github.io/starlite/usage/1-routing/4-registering-components-multiple-times/#registering-standalone-route-handlers-multiple-times) mentions that handler functions are copied upon registration within a router. It seems that copying happens only for controller route handlers.

As the result weird behavior appears when user relies on layering.

[2022-10-29 03:50] peterschutt commented on #703
Good pickup - also not matching the behavior [defined in guards docs](https://starlite-api.github.io/starlite/usage/9-guards/?h=layer#guard-scopes):

[code]

Also reverse the order of registration and `/test` route gets all guards applied.

[2022-10-29 05:39] peterschutt commented on #703
Although to clarify my comment, the way the guards resolve is fine, reversing the registration order shows that are accumulating as they should.

So this is prob a better verification of the issue:

[code]

[2022-10-29 08:21] srikanthccv commented on #180
Hello 👋 ,

I am one of the co-maintainers of OpenTelemetry. The instrumentations are maintained in our repo for various reasons. We could provide some value fast without putting in a lot of effort to convince and implement the tracing directly in third-party libraries. Ideally, the direction we would like to see in the long term is the support baked directly, and users who install the SDK will hav

[2022-10-29 08:26] srikanthccv commented on #180
Fwiw, the falcon also showed interest in adding support directly https://github.com/falconry/falcon/issues/1828. If package authors adopt OTEL gradually, we can start deprecating the instrumentation package that monkey patch the original packages, which is in the best interest of everyone.

[2022-10-29 09:24] peterschutt commented on #703
closed in #704

[2022-10-29 09:24] #703 closed

[2022-10-29 10:50] Goldziher commented on #180
Hi, sure this would be easier than finishing the OTEL instrumentation . We should make it a separate package in that case.

[2022-10-29 12:54] provinzkraut opened #706 "Bug: Cookies set via `TestClient` are not set correctly when domain specified"
Setting cookies on the `TestClient` does not work as expected when specifying a domain:

[code]

[2022-10-29 14:30] provinzkraut commented on #706
May not be a bug on our side. Behaviour can be replicated when using starlette and the ASGI example from httpx's docs:

[code]

[2022-10-29 17:20] Goldziher commented on #706
sounds good. I dont think it introduces a bug . Perhaps we should upstream the issue as well though - but i am not sure we should wait for a fix there, because it might not be an "issue" etc.

[2022-10-29 17:33] provinzkraut commented on #706
I don't think it's an upstream issue really after finding out what the root cause is. It all works as intended, it's just not very explicit about those intentions, since httpx hides a lot of the implementation details. But I can't disagree with the fact that using an invalid FQDN results in issues isn't really bug.

[2022-10-29 17:36] provinzkraut opened #707 "Enhancment: Support mounting WSGI apps"
**What's the feature you'd like to ask for.**

In the wake of #681/#694, support for mounting WSGI applications would be really good to have as well.

[code]

[2022-10-29 18:29] #681 closed

[2022-10-29 18:32] Goldziher commented on #640
It occurs to me we can create our own version using https://docs.python.org/3/library/collections.html#collections.ChainMap

This has the advantage if being both fast and a builtin. It's not a multidict, but we can use it as a basis.

Thoughts?

[2022-10-29 18:47] provinzkraut commented on #640
We could, but I'm not sure if we should. I don't think it's that fast, certainly not faster than the proposed multidict. And we'd have to add most of the implementation, not sure if there's really any benefit to using `ChainMap` here really (or maybe you have some genius idea on how to do that, that I just can't see? :upside_down_face: If so, please do share!).

[2022-10-29 18:51] Goldziher commented on #640
Nothing genius I'm afraid. Let's stick with multidicting This

[2022-10-29 18:53] provinzkraut commented on #640
I had this on my plate already, unless @jtraub wants to take this on I'd take care of it in the following days?

[2022-10-30 12:39] #706 closed

[2022-10-30 14:26] peterschutt opened #716 "Bug: Mounting the piccolo admin asgi app not working"
Referencing [this comment](https://github.com/piccolo-orm/piccolo_admin/issues/211#issuecomment-1296162409), the new `is_mount` flag isn't working for the piccolo-admin case. Given modifying the admin handler to:

[code]

This is the generated template from piccolo-orm as is, without being modified to use the new functionality:

[code]

[2022-10-30 14:41] provinzkraut commented on #716
@Goldziher Can you look into this?

[2022-10-30 14:59] Goldziher commented on #716
sure, ill check it out.

[2022-10-30 15:12] provinzkraut opened #717 "Documentation: Add full example for SQLAlchemyPlugin"
The SQLAlchemyPlugin documentation is a bit sparse at the moment, and could use a full example

[2022-10-30 18:33] Alex-CodeLab commented on #683
I think it needs a few more questions answered:
- How is a DTO different from existing data objects (pydantic model, dataclass, etc)
- When is a DTO not needed

(I can't answer these, btw. Personally I think DTOs are an anti-pattern that does not make much sense in Python, but I am curious to see what ppl come up with.)

[2022-10-30 23:21] peterschutt commented on #716
User mentioned [here](https://github.com/piccolo-orm/piccolo_admin/issues/211#issuecomment-1296270292) that the app is generated from the `piccolo asgi new`, so I've been using that to test as well.

[code]

Trying to pin starlite >= 1.35.0 (that's the version that included the new feature) results in:

[code]

It has ended up with piccolo-admin 0.10.9, while their current release is 0.35.

So I s

[2022-10-31 06:19] peterschutt commented on #716
Closing this as I think an environment issue. Waiting on more info in the related issue, and will re-open if necessary.

[2022-10-31 06:28] #700 closed

[2022-10-31 10:50] provinzkraut opened #721 "Enhancement: DTO typing"
**What's the feature you'd like to ask for.**
Currently, DTOs require a lot of `#type: ignore`s to make type checks pass.

Considering this example [from our docs](https://starlite-api.github.io/starlite/usage/11-data-transfer-objects/#dtoto_model_instance), it would have to be defined like this to pass type checks:

[code]

Especially not having the DTO-instance methods visible to mypy is quite i

[2022-10-31 10:51] provinzkraut opened #722 "Enhancment: Providers with `yield`"
### Discussed in https://github.com/starlite-api/starlite/discussions/678

<div type='discussions-op-text'>

<sup>Originally posted by **provinzkraut** October 24, 2022</sup>
On a [reddit post](https://www.reddit.com/r/Python/comments/yc7rvf/comment/itl41oy) someone brought up supporting generator based providers, so that cleanup code could be run after the request.</div>

[2022-10-31 13:09] provinzkraut opened #723 "Enhancement: Proper support for relationships in SQLAlchemyPlugin"
**What's the feature you'd like to ask for.**
The SQLAlchemyPlugin currently only supports the simplest of relationships, that is: Non-self-referential to-one relationships.
Support for to-many relationships at least would be crucial for this plugin.

**Proposal**

Given these models:
[code]

The plugin currently generates:

[code]

What we should probably be generating is:

[code]

[2022-10-31 15:28] Goldziher commented on #721
we can try to use a metaclass for this, which can inject typing data. im not sure mypy will be able to handle this though.

[2022-10-31 16:17] #717 closed

[2022-11-01 14:57] provinzkraut commented on #597
Ideally this would include a comparison table for equivalent constructs.

Something like
| Flask                                                                          | Starlite                                                                 |
|--------------------------------------------------------------------------------|-----------------------------------------------------------------------

[2022-11-01 19:15] Goldziher commented on #634
ok, as discussed we will not include `BaseMiddleware` - we we are only keeping tests for this now. Please remove it from the list @provinzkraut

[2022-11-01 19:17] Goldziher commented on #642
ok, we agreed not to include `BaseMiddleware` in Starlite - this is a starlette feature, if its required by users they can either vendor it from Starlette, or simply have Starlette as a dependency. We will ensure we are compatible with it though.

[2022-11-01 19:17] #642 closed

[2022-11-02 15:01] provinzkraut commented on #640
Implemented in #732

[2022-11-02 15:01] #640 closed

[2022-11-03 01:21] peterschutt opened #740 "Bug: "method" not extracted response field"
https://github.com/starlite-api/starlite/blob/34740bd61493b970fe52005c4922a9f4a3a7d83c/starlite/utils/extractors.py#L48

[2022-11-03 10:35] provinzkraut opened #742 "Enhancment: Use a multidict for `ASGIConnection.query_params`"
Since we now have `multidict`, it would make sens to use an actual multidict here instead of a dict of lists.

[2022-11-03 16:52] #740 closed

[2022-11-03 17:19] smithk86 opened #745 "Bug: Signature.return_annotation is a str when using "from __future__ import annotations""
Starlite Version: 1.35.1
Python Version: 3.10.5

Traditionally, it seems that `Signature.return_annotation` holds the exact value of the annotation given. This is the assumption made in [starlite/handlers/websocket.py, line #67](https://github.com/starlite-api/starlite/blob/v1.35.1/starlite/handlers/websocket.py#L67).

This behavior changes once you include `from __future__ import annotations` int

[2022-11-03 20:49] Goldziher commented on #745
Hi Kyle,

Good analysis. Do you want to add a PR?

[2022-11-04 21:07] #745 closed

[2022-11-05 12:44] #671 closed

[2022-11-05 12:44] #674 closed

[2022-11-05 18:41] #673 closed

[2022-11-05 19:34] Goldziher opened #754 "Enhancement: Add Support for `OPTIONS` method"
### Discussed in https://github.com/starlite-api/starlite/discussions/602

<div type='discussions-op-text'>

<sup>Originally posted by **Goldziher** October 15, 2022</sup>
Currently Starlite does not support `OPTIONS`.

For `OPTIONS` specifically we need to factor in the behaviour of the CORS middleware, which can in priniciple accept `OPTIONS` preflight requests. The Starlette CORSMiddleware impl

[2022-11-05 21:38] Goldziher commented on #754
@seladb - see about, this relates to CORS as well.

[2022-11-06 01:57] scott2b opened #756 "Issues with the Route Handler OpenAPI Configuration docs for configuring secure doc endpoints"
The [Router Handler OpenAPI Configuration](https://starlite-api.github.io/starlite/usage/12-openapi/2-route-handler-configuration/?h=securityschemes#example-applications) documentation seems to have a typo or bug. The `components` and (I think ) the `security` properties should go into the OpenAPIConfig rather than Starlite. As-is, Starlight does not accept the components parameter.

There also se

[2022-11-06 02:43] scott2b commented on #756
Update: I've come to realize that I forgot to put my endpoints into the route_handlers list to Starlite. My routes are showing up in the docs now. The only thing that holds above I think are the misplaced parameters in the documentation and the discrepancy between auth types.

Thanks!

[2022-11-06 05:55] Goldziher commented on #756
Ha yes, issue in the docs. A PR fixing the docs is welcome 😸

[2022-11-06 19:54] #670 closed

[2022-11-06 19:56] Goldziher commented on #669
@seladb wassup? any progress?

[2022-11-06 20:03] Goldziher commented on #756
typo in docs is fixed.

Can you explain what is the discrepency you experience?

[2022-11-06 21:55] scott2b commented on #756
Just that an http/bearer security scheme is configured in the OpenAPIConfig, but the example specified route `internal_path_handler` uses an apiKey scheme that is never configured.

[2022-11-06 21:59] Goldziher commented on #756
can you show me some output from the openapi docs so i understand better?

@cofin - this is your domain, if you find time it would be gr8.

[2022-11-07 04:14] scott2b commented on #756
Sorry, I think I have not been clear and may have been ambiguous with the term "docs." I am referring specifically to the last code example on this page of the Starlite documentation: https://starlite-api.github.io/starlite/usage/12-openapi/2-route-handler-configuration/?h=securityschemes#example-applications

It appears to me that there was an intent to setup one type of security scheme but then

[2022-11-07 04:54] Goldziher commented on #756
Ha ok. This is fixed. Thanks!

[2022-11-07 04:54] #756 closed

[2022-11-07 06:50] seladb commented on #669
Hi @Goldziher! I'm currently busy creating a new release for [PcapPlusPlus](https://github.com/seladb/PcapPlusPlus) (my other open-source project) so I don't have much time to contribute to Starlite. Then I'm planning to take some time off. If someone wants to take this issue please feel free to do so. Otherwise, I hope I'll be able to get back to it by the end of November

[2022-11-07 07:57] Goldziher commented on #669
hi, ok thanks. No I would like to get this done within the next week or so. So I will take this over.

[2022-11-07 14:11] ExpLog commented on #722
Hi, that was me. Thanks for opening the issue.

Like you mentioned, by particular use case would be easy cleanup of dependencies. It would be much simpler to use, and it wouldn't depend on plugins or hooks like [this implementation](https://docs.pytest.org/en/6.2.x/fixture.html#yield-fixtures-recommended).

It is also a good feature to have in order to make project migrations from FastAPI to Starl

[2022-11-07 16:19] #672 closed

[2022-11-07 16:30] scott2b opened #762 "Returning of Starlette's JSONResponse appears broken"
**Describe the bug**

This may be a documentation issue. When I follow the [documentation here](https://starlite-api.github.io/starlite/usage/5-responses/3-returning-responses/#returning-other-library-responses) to return a Starlette JSONResponse, I get a **500: Unable to serialize response content**.

**To Reproduce**

I used the following code, based on the documentation linked above:

[code]

*

[2022-11-07 17:22] Goldziher commented on #762
lemme test this

[2022-11-07 17:30] Goldziher commented on #762
fix is incoming

[2022-11-07 18:42] #762 closed

[2022-11-07 18:42] #742 closed

[2022-11-07 19:53] scott2b opened #767 "openapi docs do not seem to be aware of their location for mounted apps"
**Describe the bug**

When mounting a Starlite app as an asgi mount, the openapi docs can be found at the expected path, but the internally documented paths within that documentation all refer to the site root.

**To Reproduce**

For some Starlite app, mount it into your primary application. E.g., for some app called `v1_app`:

[code]
The result is that the api docs can be found at /v1/schema as e

[2022-11-07 20:18] scott2b commented on #767
It looks like the solution to this is to provide the `servers` attribute to the OpenAPIConfig. So:

[code]

Then as above:

[code]

[2022-11-07 20:20] #767 closed

[2022-11-07 21:08] Goldziher opened #768 "Enhancement: Versioning support"
Would be good to add a way to easily setup versioning. My thinking is a kwarg on router/handler or attribute on controller for version, which will then be prepended to the path as a version path.

[2022-11-07 21:40] peterschutt commented on #762
@all-contributors please add @scott2b for bug report

[2022-11-08 03:19] scott2b opened #770 "Properly indented docstrings result in incorrectly rendered Markdown in openapi docs"
**Describe the bug**

A properly formatted docstring is indented to match the indentation of the function or method. The markdown rendering that is passed into the API docs seems to be interpreting these indentations in such a way that the markdown is not properly formatted unless the docstring is out-dented to an unconventional flush left.

**To Reproduce**

I have the following function definiti

[2022-11-08 04:18] jtraub commented on #770
Oh, I encountered this too earlier but forgot to create an issue and post a fix.

Will do that in 15 minutes

[2022-11-08 10:30] Goldziher commented on #768
not sure, here is an example from nestJS: https://docs.nestjs.com/techniques/versioning

[2022-11-08 10:48] provinzkraut commented on #768
Okay, that would be more than a path prefix. Looks like a good concept to me. I would suggest supporting it on all layers then.

[2022-11-08 14:50] #770 closed

[2022-11-08 16:37] #667 closed

[2022-11-08 17:00] trisongz opened #772 "Enhancement: Proxied Response Class"
**What's the feature you'd like to ask for.**

I am using `starlite` as the api framework for microservices within a K8 cluster. I am attempting to build a proxy gateway that handles some conditional logic checks before forwarding and returning the request / response from the downstream api, including `headers` and `cookies` that may have been set by the downstream api.

However, returning the res

[2022-11-08 17:13] Goldziher commented on #772
Can you show me what is `HealthCheckResponse`?

[2022-11-08 17:14] Goldziher commented on #768
It should

[2022-11-08 17:55] trisongz commented on #772
Sure, it's a simple BaseModel. It also applies for `-> Response` types as well.

[code]

[2022-11-08 18:19] Goldziher commented on #772
So you have two way to handle this:

[code]

This should work out of the box - Starlite will transform the value into a response properly.

Or if you want to return an explicit response:

[code]

[2022-11-08 21:32] trisongz commented on #772
Good to note, thanks!

I tried both methods as you mentioned above, but got the same error:

[code]

[code]

For sanity check, the `GatewayEndpoint.forward` function is just a wrapper around `httpx.AsyncClient.request` and there are no configured `response_class` for `Starlite` app

[2022-11-09 09:40] ExpLog commented on #722
I'd love to contribute, but it's going to have to wait until next year.

I unfortunately don't have the time right now, as I'm in the middle of moving countries, then I still need to find a new place to live.

[2022-11-09 09:42] provinzkraut commented on #772
@trisongz Can you provide an MCVE so we can reproduce the behaviour and better help you out?
Specifically one that includes this part:

[2022-11-09 10:08] provinzkraut opened #776 "Documentation: Consistent docstring style"
Docstrings of all public interfaces should adhere to the same style.
This should be tackled in three steps:

- [x] Add a linting tool that shows interfaces violating the style guidelines
- [x] Convert offending docstrings to the desired style
- [x] Add the linting tool to pre-commit

We will use [pydocstyle](https://github.com/PyCQA/pydocstyle) to validate docstrings.

[2022-11-09 10:10] provinzkraut commented on #421
The current plan of attack would look a little something like this:

1. **Examples**  (#343)
    - [ ] Extract all inline-examples from the docs that are more than snippets
    - [ ] Ensure all examples are self-contained and runnable
    - [ ] Ensure all examples are tested
    - [ ] Ensure all examples work on the minimal supported Python version (3.7)
    - [ ] Add alternative examples for high

[2022-11-09 10:35] peterschutt commented on #427
https://github.com/mitmproxy/pdoc is an alternative for generating ref docs. Found this similar issue: https://github.com/mitmproxy/pdoc/issues/295 which has a solution.

[2022-11-09 10:49] provinzkraut commented on #427
How does that integrate with mkdocs?

[2022-11-09 12:16] provinzkraut commented on #776
**How to contribute?**

1. Install [pydocstyle](https://github.com/PyCQA/pydocstyle) locally: `pip install pydocstyle`
2. Run `pycodestyle --convention=google starlite` to find docstrings that need fixing
3. Fix docstrings
4. Create a PR

[2022-11-09 16:50] provinzkraut commented on #772
Okay, this is helpful. Just for future reference, this isn't really an MVCE. For future, reference, this is the minimal code that can be used to reproduce your issue:

[code]

This also better demonstrates the core of your issue.

What you are doing can't work, take a close look at your data types. You are telling starlite that you are returning a `HealthCheckResponse`, but what you're actually re

[2022-11-09 21:55] peterschutt commented on #427
Found this: https://github.com/mitmproxy/pdoc/tree/main/examples/mkdocs

This isn't something we'd want to rush into probably, but if we get to the point that we think it is worth it, we can either do the work upstream to make this work in mkdocstrings, or know that there is at least one alternative.

[2022-11-09 23:14] ThinksFast opened #781 "Bug: Rate Limiter Middleware: exclude path is ignored, static files throw 429 error"
**Describe the bug**
When using the RateLimiter middleware, the `exclude` path does not seem to be honored.  In the code example below, the app serves an HTML response to the root URL path.  In the HTML response, there is a reference to a static file which serves CSS.  With a rate limit of 1 request per second, the homepage will get served, but the CSS file throws a 429 error code.

**To Reproduce

[2022-11-10 10:30] provinzkraut commented on #427
Hmmm.. At that point we might as well be using sphinx with a material theme and markdown extension :D

I'll fiddle with some of the solutions at some point during the near future.

[2022-11-10 12:28] jtraub commented on #427
mkdocs is so much better. I would rather try to stick to it.

[2022-11-10 13:08] provinzkraut commented on #427
That's very subjective I think. Personally I much prefer Sphinx, since for more complex things (which technical documentation of a project like this) it's just better suited. Alone the way interfaces are documented is much more legible in Sphinx, and it's way more mature and stable than Mkdocs (and mkdocstrings in particular), let alone the fact that reST comes with most of the stuff built in and

[2022-11-10 13:42] provinzkraut opened #783 "Bug: StaticFiles sends files as `content-disposition: 'attachment'` in html-mode"
**Describe the bug**
When using `StaticFiles` in html-mode, files are being sent with `content-disposition: 'attachment'`

**To Reproduce**
Create an `html/index.html` file. Run:

[code]

[2022-11-10 13:48] jtraub commented on #427
I don't care about the look. Snappy (almost instant) search is what makes me strongly prefer Material for MkDocs.

[2022-11-10 15:17] #783 closed

[2022-11-10 16:14] scott2b opened #788 "url_for and route_reverse aware not aware of their locations for mounted apps"
### Discussed in https://github.com/starlite-api/starlite/discussions/774

When calling, e.g. `url_for` for a route in a mounted application via the request object, the resulting URL is missing the mount prefix. This is also the case for the relative paths returned by route_reverse calls.

[2022-11-10 18:35] Goldziher commented on #788
Yes, we are only passing the mount path into the mount. This is done by design because the assumption is that the mounted app might have internal routing logic.

You can use the `asgi` decorator without mounting. Will that work for your use case?

[2022-11-10 18:38] Goldziher commented on #427
I do care about the look... We need to be accessible, not only to the hardcore technical people or the old school devs who think reading man files in their vi editor is the thing.

[2022-11-10 18:50] provinzkraut commented on #427
Well, Sphinx has nice themes too. Material ones even. But as I said, I don't think moving at this point is feasible, so there's no point discussing this here 🙃

Afaik only multidict and the stdlib. We might want to refrence `fsspec` too, I think that shouldn't be a problem though.

I wanted to look into the mkdocstrings-inheritance issue during my docs overhaul and see if I can't help fix things u

[2022-11-10 20:15] scott2b commented on #788
I'm not really sure. I don't think I know what that means entirely. I am doing something like this:

[code]

If I set `is_mount` to False everything just kind of breaks. I am not sure where my routes are at that point -- the openapi.json schema is empty of servers and paths and none of my routes defined in v1_app appear to be available.

[2022-11-10 20:26] Goldziher commented on #788
hmm, you are using is_mount to mount Starlite applications inside Starlite... 😉 , thats not what this was designed for to be honest. Whats the use case there? Why not simply use a router for this instead of mounting?

[code]

[2022-11-10 21:21] scott2b commented on #788
Right, the router approach seems simpler, but the docs don't really turn out right for this:

- The various routes from the different routers are interleaved with no conceptual separation. So for a versioning scheme like this I end up with 2 of every route with the same name in the docs with the only distinction being apparent if you inspect the path for the route.
- The schemas are disambiguated

[2022-11-10 22:17] peterschutt commented on #788
This has come up before: https://github.com/starlite-api/starlite/issues/241#issuecomment-1191976760.

With `Starlite` being a subclass of `Router` it feels like it should be possible to have an openapi config set at the router level that serves the `/schema` path under that route prefix, but I haven't looked into it at any great level of detail.

Perhaps a solution could be tied in with #768, how

[2022-11-11 11:14] provinzkraut commented on #772
@trisongz I'm going to close this for now. Feel free to reopen or create a discussion about it should you have more questions!

[2022-11-11 11:14] #772 closed

[2022-11-11 11:34] provinzkraut commented on #707
I started looking into this, and there's the [a2wsgi](https://github.com/abersheeran/a2wsgi) package, which seems like a sound solution to me, and it addresses a few common problems with WSGI wrappers found in other libraries. We could include it as an optional dependency.

The only issue with it is that it currently doesn't support `anyio`, which means it's not suitable for us. They have expresse

[2022-11-11 13:19] #776 closed

[2022-11-12 08:18] #754 closed

[2022-11-12 09:15] Goldziher commented on #788
Ok, I am closing this for now - you can open a different issue regarding mounting Starlite apps inside Starlite etc.

[2022-11-12 09:15] #788 closed

[2022-11-12 09:16] #669 closed

[2022-11-12 09:16] Goldziher commented on #634
And, we are done

[2022-11-12 09:16] #634 closed

[2022-11-12 09:17] Goldziher commented on #596
ok, please close this if its not actual

[2022-11-12 09:48] peterschutt commented on #596
Unless something has changed with pydantic internals, it's actual, but AFK right now so cannot confirm.

The linked branch is still there in the hello world app, the issue coming from the fact that a model is generated for the `data` kwarg, and also for the return annotation. The fact that the two generated models have the same name, an error would raise out of pydantic internals.

The SQLAlchemy

[2022-11-12 10:06] peterschutt opened #795 "Refactor: review use of cached attributes"
Supporting 3.8+ makes `cached_property` decorator available to us.

This is a good opportunity to review the attribute caching that we use across the lib.

[2022-11-12 14:39] Goldziher commented on #180
@srikanthccv - can you assist with reviewing the PR linked above?

[2022-11-12 16:02] srikanthccv commented on #180
@Goldziher, I took a quick look at the pull request. I will review it again tomorrow when I am on my computer. I see that you are extending the ASGI instrumentation middleware. Are your contrib components also follow the rules of semver? because the upstream middleware is still in beta and can possibly introduce breaking changes as it gets improved.

[2022-11-12 16:30] Goldziher commented on #180
Hi, we are following semver of course.

[2022-11-13 11:10] #180 closed

[2022-11-13 19:32] peterschutt opened #802 "Enhancement: resolve forward refs when producing signature models"
We need to support where users declare `from __future__ import annotations` in modules where handlers and dependencies are declared.

[2022-11-14 11:12] jtraub opened #803 "All requests fail when `exclude_opt_key` or `exclude` param is passed to `AllowedHostsConfig` or `CompressionConfig`"
**Describe the bug**
When `exclude_opt_key` or `exclude` params are passed to `AllowedHostsConfig` or `CompressionConfig` all requests generate 500 error.

This happens because we apply both middlewares on app's asgi handler. Temp.solution would be moving its applicationto the `build_route_middleware_stack` function (the same way we did with CSRF middleware).

**To Reproduce**
Run this file and op

[2022-11-14 21:57] ravi-b-m opened #808 "Optional Path params"
Is it possible to specify optional path params ?  I tried this and it does not work
[code]

[2022-11-15 02:32] ravi-b-m commented on #808
NVM I found my issue.. I had to create two path endpoints

[code]

[2022-11-15 02:32] #808 closed

[2022-11-15 09:34] peterschutt commented on #716
Reopening per: https://github.com/piccolo-orm/piccolo_admin/issues/211#issuecomment-1314988544

[2022-11-17 07:03] indra-an opened #813 "Wrapping NewRelic around Starlite app breaks handlers with path parameters"
Ask your question...
I tried to integrate starlite with newrelic

[code]

but getting error
`CIMultiDict keys should be either str or subclasses of str`

could you guys help me why this happen?

[2022-11-17 07:37] jtraub commented on #813
@indra-an I can not reproduce the problem with empty `newrelic.ini` and the following code

[code]

Could you please provide more details?

[2022-11-17 07:52] indra-an commented on #813
Hi @jtraub, this is my newrelic.ini

[code]
@get("/{id:str}", media_type=MediaType.TEXT)
def home(id: str) -> str:
    return id
[code]

[2022-11-17 09:42] jtraub commented on #813
@indra-an I still can not reproduce

[code]

My ini file:
[code]

When I launch it I see my handler output and the agent reports back to the server
![image](https://user-images.githubusercontent.com/153191/202411517-5b4a618a-6b19-4491-a23a-c29149d12fa5.png)

[2022-11-17 09:45] jtraub commented on #813
So could you please produce a self-contained example (including version of dependencies) I can run? Otherwise the issue should be closed as non-reproducible.

[2022-11-17 10:42] indra-an commented on #813
@jtraub could you change your route to
[code]
and try to access that endpoint ?

so it will return the same error

[2022-11-17 10:49] indra-an commented on #813
this is my dependencies

[code]

[2022-11-17 11:15] indra-an commented on #813
ah i`ve added repository for reproduce this case @jtraub
[https://github.com/indra-an/starlite-newrelic](https://github.com/indra-an/starlite-newrelic)

[2022-11-17 14:41] jtraub commented on #813
Now I can reproduce it, thanks.

I will investigate the problem in the next few days.

[2022-11-17 15:25] jtraub commented on #813
Ok, quick investigations shows that the current code doesn't properly process `scope["headers"]` when it is a tuple of tuples. It works with list of tuples though

According to the spec
https://asgi.readthedocs.io/en/latest/specs/www.html#http-connection-scope

`headers` (`Iterable[[byte string, byte string]]`) – An iterable of `[name, value]` two-item iterables, where name is the header name, and

[2022-11-17 15:59] #802 closed

[2022-11-17 17:34] rgajason opened #814 "MongoDB / Beanie Integration"
Is anyone using MongoDB as the database with Starlite?  Would like to hear how you went about integrating.  Also would love to hear from anyone using Beanie as the ODM.

[2022-11-18 01:59] sssssss340 opened #816 "Endpoints 404 when using path parameters in Controller path"
**Describe the bug**
When using a path parameter in the base path for a Controller, endpoints without further path parameters return 404. In the example provided, get_user functions as-is, while list_users only functions if get_user is deleted.

**To Reproduce**
Minimal example:

[code]

**Additional context**
Version info:
[code]

[2022-11-18 02:01] peterschutt commented on #816
@all-contributors please add @sssssss340 for bug

[2022-11-18 02:48] indra-an commented on #813
Thank you for investigating and looking to this issue!
we are planning to deploy our first starlite service to production very soon

[2022-11-18 04:25] #814 closed, assigned to nobody

[2022-11-18 04:29] peterschutt commented on #803
Closed in #804

[2022-11-18 04:29] #803 closed

[2022-11-18 05:12] #816 closed

[2022-11-18 16:04] stonedprogrammer opened #823 "Error With 'data' kwarg"
**Describe the bug**
Unable to route using Starlite due to 'data' kwarg being specified multiple times

**To Reproduce**
1. Create Controller
2. Add a POST route in the controller
3. Create Pydantic model and add it to the route function's args as the 'data' kwarg as specified in https://starlite-api.github.io/starlite/usage/4-request-data/0-request-data/
4. Observe TypeError raised

**Additional

[2022-11-18 16:19] stonedprogrammer commented on #823
🤦🏻 Yep, thank you! I was referencing the handler and request data documentation, but forgot to take another look at the Controller documentation.

[2022-11-18 16:21] peterschutt commented on #823
No probs!

[2022-11-18 16:21] #823 closed

[2022-11-18 22:43] peterschutt opened #827 "Issue With Conflicting Path Parameters"
### Discussed in https://github.com/starlite-api/starlite/discussions/825

<div type='discussions-op-text'>

<sup>Originally posted by **stonedprogrammer** November 19, 2022</sup>
Hello,

I didn't want to submit an issue as I wasn't sure if this was an issue on my end and I couldn't find anything related in discussions nor issues. I keep getting the following error:
[code]

with the following cont

[2022-11-19 01:38] peterschutt commented on #827
TL;DR - this can work if the parameters on any path level are the same, i.e. if they were both `{id:int}` or `{name:str}`.

Whether this turns out to be a documentation issue, or something we actually try to resolve via changes to the routing would probably need to come from @Goldziher. However, I look at that example and think we should probably strive to make it work, but I'd need to spend more

[2022-11-19 10:29] KabirSinghShekhawat commented on #722
@provinzkraut Let me take a shot at this, give me a few days to read-up some docs.

[2022-11-19 10:31] provinzkraut commented on #722
@KabirSinghShekhawat Have at it!

[2022-11-19 16:48] ottermata opened #829 "Incorrect 404 NotFound when two route handlers share the same prefix"
**Describe the bug**
When a route handler extends another with path parameters, the shorter one cannot be called.

**To Reproduce**
`GET /foo` will result in a 404:
[code]

[2022-11-19 19:21] peterschutt commented on #829
Can you check this on main, I think maybe this is same as #816 and (hopefully) fixed in #818.

[2022-11-19 19:28] ottermata commented on #829
You are right, my bad!

[2022-11-19 19:28] #829 closed

[2022-11-20 15:48] jtraub commented on #813
@indra-an so thanks to @peterschutt the code that resolves the problem with NewRelic has landed into the `main` branch. It hasn't been released yet.

You can now try to install Starlite from the repo `git+https://github.com/starlite-api/starlite.git#main` and check if it works for you.

[2022-11-20 15:48] #813 closed

[2022-11-22 01:05] amryamanah commented on #813
hi @jtraub

Thanks a lot, we confirm that the main branch works on new relic agent version 8.4.0

Best regards

[2022-11-22 02:33] peterschutt opened #840 "Flaky test"
I think this is a flaky test failure:

[code]

[2022-11-22 08:28] KabirSinghShekhawat commented on #722
@ExpLog @provinzkraut Could any of you explain the requirements in more detail? I'm new to open source and could use some guidance :).

[2022-11-22 08:42] truejacobjones commented on #722
@provinzkraut I came up with this solution, let me know if it is satisfactory for you

`def _init_session() -> Generator:
    db = SessionLocal()
    try:
        yield db
    finally:
        db.close()

def get_session():
    return next(_init_session())`

and this dependency is injected like so:
`class TheController(Controller):
    path = "/"
    dependencies = {"db": Provide(get_session)}

[2022-11-22 08:49] peterschutt commented on #840
Thanks! I really didn't look at it at all, just dumped it here so I didn't forget about it, apologies if a dup. Actually ran into it twice today.

[2022-11-22 08:54] provinzkraut commented on #722
@truejacobjones
Unfortunately this doesn't work, as `next` will only be called once on the generator, therefore code after the `yield` won't run.

[code]

[2022-11-22 08:57] provinzkraut commented on #722
@KabirSinghShekhawat
If you want to know about the requirements in general, take a look at our [contribution guidelines](https://github.com/starlite-api/starlite/blob/main/CONTRIBUTING.md).

As for the specific requirements for this, there's not a lot.

- It should allow generator based dependencies, that will call `next` on the provided generator once the request is finished (this could maybe go

[2022-11-22 08:58] provinzkraut commented on #840
Well, if you encountered it again it's not a dupe!

[2022-11-22 14:10] provinzkraut opened #841 "SQLAlchemy Session backend uses wrong column type in `SessionModelMixin`"
**Describe the bug**
The SQLAlchem session backend uses `BLOB` as the datatype in the `SessionModelMixin`, which is not compatible with all databases.

[2022-11-22 14:20] provinzkraut commented on #840
Turns out it's not an issue with the tests at all. It was a bug that hid itself very well and only coincidentally passed tests because of how the used SQLite driver works

[2022-11-22 17:18] #841 closed

[2022-11-22 18:35] Goldziher commented on #827
So, I don't think we should support ambiguous path params. Frankly, I'd think we should fix the docs raather than try to fix this to work - its going to hurt performance quite significantly.

[2022-11-22 20:02] #827 closed

[2022-11-22 20:07] stonedprogrammer commented on #827
Will this issue be added in the roadmap for a future release? I think this is something that limits the ability to use this framework in comparison to other popular ones such as FastAPI and Starlette that do support this type of operation.

[2022-11-22 22:32] peterschutt commented on #795
I'd say this has been superseded by recent performance updates

[2022-11-22 22:32] #795 closed

[2022-11-23 15:09] rgajason opened #849 "Bug: POSTs Result In HTTP 500 When Logging Middleware Enabled"
**Describe the bug**
With the logging middleware enabled, POSTs are returning an HTTP 500.

**To Reproduce**
[code]

Start up the app, POST to it:

[code]

If I remove the `middleware` argument from the app and restart, POST works as expected.

**Additional context**
Python 3.10.8

[code]

[2022-11-23 15:14] jtraub commented on #849
I can reproduce the problem. Will take a look into it tonight

[2022-11-23 19:44] v3ss0n opened #851 "Enhancment: Support arbitrary json libraries"
**What's the feature you'd like to ask for.**

Starlite should be able to choose a default json decoder and make it configurable.
Currently Starlite cannot run on PyPy due to orjson compilation problem and orJson states that they are not going to make pypy compatible anytime soon https://github.com/ijl/orjson/issues/90 , so I couldn't test starlite on pypy which could see a good deal of performanc

[2022-11-23 21:35] Goldziher opened #852 "Issue With Conflicting Path Parameters"
### Discussed in https://github.com/starlite-api/starlite/discussions/825

<div type='discussions-op-text'>

<sup>Originally posted by **stonedprogrammer** November 18, 2022</sup>
Hello,

I didn't want to submit an issue as I wasn't sure if this was an issue on my end and I couldn't find anything related in discussions nor issues. I keep getting the following error:
[code]

with the following cont

[2022-11-24 10:17] provinzkraut commented on #722
@KabirSinghShekhawat Have you started working on this? It seems to be the most requested feature at the moment, so if you're not already on it, I'd take this since it would be nice to get done sooner than later!

[2022-11-24 10:36] provinzkraut opened #854 "Bug: Incorretly raised `ImproperlyConfiguredException` for sub-paths with a `path`-type parameter"
**Describe the bug**
As described by @rgajason in https://github.com/starlite-api/starlite/discussions/825#discussioncomment-4221738, when using the `path` type for a path parameter, an `ImproperlyConfiguredException` will be raised, where a `str` type parameter would be accepted.

**To Reproduce**
[code]

**This works**
[code]

[2022-11-24 10:36] provinzkraut commented on #854
@Goldziher @peterschutt Probably one of you should take a look at this

[2022-11-24 11:47] ExpLog commented on #722
Just to give a bit more context: for cleanup purposes, it would also be really cool if any exceptions that happen when handling a request are propagated to the generator, so appropriate clean up can be done.

This can be done by calling `generator.throw` ((docs)[https://docs.python.org/3/reference/expressions.html#generator.throw]). I believe FastAPI does it by turning the generators into context

[2022-11-24 12:34] provinzkraut commented on #722
Hmm. I can see the benefit of that, but I can also see use cases for having the cleanup be called unconditionally.
In theory we could support both by `send`ing exceptions into the generator instead of `throw`ing them, but that's a bit ugly. I guess `try/finally` should suffice for this use case though?

The question would also be what we do with exceptions raised during cleanup / how they affect t

[2022-11-24 12:53] ExpLog commented on #722
I'm sorry if I was unclear, but the cleanup should happen regardless. Personally, I think exceptions should be thrown into the generators, so we can just use `try/except/finally` in them, instead of having to inspect what was sent into the generator.

I haven't read much of Starlite's code yet, so I'm unable to comment on what would be the best way to fit this into the current architecture. ):

[2022-11-24 13:03] provinzkraut commented on #722
Sure, the cleanup should happen regardless, but we still need access to the exceptions. The issue is that those are only caught way higher up the call stack, so we would have to catch them in the response, `throw` them to the dependencies and re-raise them.

[2022-11-24 15:00] KabirSinghShekhawat commented on #722
Sure, feel free to take it up, I was anyways going to take some time since a bit of unexpected work came up.

[2022-11-24 18:02] #854 closed

[2022-11-24 18:02] #852 closed

[2022-11-24 18:09] Goldziher opened #858 "Infra: Integrate Ruff"
We want to integrate `ruff` into our pre-commit config, and in general improve our `pre-commit` setup.

[2022-11-25 19:23] #722 closed

[2022-11-26 12:06] provinzkraut commented on #849
@jtraub I hope you don't mind I went ahead with a fix in #860?

@rgajason Merging this PR should fix your problem. Can you confirm?

[2022-11-26 12:26] jtraub commented on #849
@provinzkraut oops, I got buried with day job and forgot about the issue. Thanks for taking care of it.

[2022-11-26 12:42] #849 closed

[2022-11-26 12:49] provinzkraut commented on #781
Somewhat easier to reproduce example:

[code]

I already pinned down the problem somewhat. [`middleware.utils.should_bypass_middleware`](https://github.com/starlite-api/starlite/blob/main/starlite/middleware/utils.py#L31) does not receive the correct path. The path it receives does not include the `/static` prefix; This gets stripped away in [`asgi.routing_trie.traversal.parse_path_to_route`](http

[2022-11-26 12:56] provinzkraut commented on #781
A possible solution would be to simply use `scope["raw_path"]` in `should_bypass_middleware`. I think that might more closely match expected behaviour? Although I'd still like to hear your input @Goldziher about the expected behaviour for paths there.

[2022-11-26 13:06] jtraub commented on #781
I think we have discussed this in Discord. Also, it is documented in https://starlite-api.github.io/starlite/usage/1-routing/5-mounting-asgi-apps/ (see Info box there).

StaticFiles is handled as a mounted ASGI app

[2022-11-26 13:08] provinzkraut commented on #781
Hmm, I see. That makes handling of path-based exclusion a bit un-intuitive I think. WDYT of the solution to check against `scope["raw_path"]`?

[2022-11-26 13:08] jtraub commented on #781
@provinzkraut  I would personally expect here a more advanced fix than looking into `raw_path`.

For example, when I apply RateLimitingMiddleware on an app and then I mount this app into another Starlite app I expect that RateLimitingMiddleware here would not take into account `raw_path` because I expect that mounted apps behaves the same way standalone app works.

Maybe we can somehow expose is_m

[2022-11-26 13:11] jtraub commented on #781
Just to be explicit about `StaticFiles`: [This line](https://github.com/starlite-api/starlite/blob/4daf431c7a86d713fd7c880c06395f92589147e9/starlite/handlers/asgi.py#L52) makes StaticFiles to be treated as a mounted app.

[2022-11-26 13:15] jtraub commented on #781
I think it should be a big PR that would propagate `is_mount` flag value to middlewares and route handlers.
FastAPI seems to be doing something like this - I took a look at it on Monday (yes, I am strugging with a similar problem so I was exploring what others do).

Related issue here - #788

[2022-11-26 13:16] provinzkraut commented on #781
That could work but would be messy. How about adding the relevant information to the scope? E.g. something like `scope["mount_path"] = self.path` if something is mounted?

[2022-11-26 13:19] jtraub commented on #781
This would work but what is our policy on internal middlewares and asgi apps compatibility? Do we want to make them compatible so others can use them outside of Starlite?

If we do not care about this we can take your way for sure.

[2022-11-26 13:21] provinzkraut commented on #781
We could do it in a compatible way as well. Passing `is_mount` around is also not really compatible. What we could do is simply check if such a key exists, if it does use it to re-construct the path from `scope["mount_path"]` and `scope["path"]`, if it doesn't exist, we just use the `scope["path"]` as is.

[2022-11-26 13:26] Goldziher commented on #716
so @peterschutt whats the error here?

[2022-11-26 13:26] jtraub commented on #781
Yeah, that makes sense. Lets do it the way your described.

@provinzkraut I can do it this weekend + fix openapi generation for mounted starlite apps (and maybe #788) if you are busy with something else as it directly affects my employer apps :-)

[2022-11-26 13:27] Goldziher commented on #716
@jtraub maybe you can look into this as well?

[2022-11-26 13:29] provinzkraut commented on #781
@jtraub I'm fine either way, if you wanna do it have at it, otherwise I'll take this on.

[2022-11-26 13:33] jtraub commented on #716
@Goldziher sure, I will dive into mounting apps this weekend then :-)

[2022-11-26 13:34] jtraub commented on #781
@provinzkraut ok, let me take this then as I would be able to test the fix extensively tomorrow.

[2022-11-26 18:59] peterschutt commented on #716
I found we needed to append the trailing slash for mounts so their static files would serve.

Also, we always strip the trailing slash (not sure if that's changed in recent routing changes), they served routes with the trailing slash. Starlette tries to serve serve the route we send through, realises it needs to redirect to a route with the trailing slash, does so, we strip the trailing slash agai

[2022-11-27 11:52] Goldziher opened #862 "Enhancement: Unified Security Extension For Starlite"
### Discussed in https://github.com/starlite-api/starlite/discussions/794

<div type='discussions-op-text'>

<sup>Originally posted by **infohash** November 11, 2022</sup>
There are multitude of options to choose from when it comes to authentication and authorization. A unified security extension that features Oauth2 & OIDC and additionally traditional username and password login and static API ke

[2022-11-27 11:52] Goldziher opened #863 "Enhancement: Unified Security Extension For Starlite"
### Discussed in https://github.com/starlite-api/starlite/discussions/794

<div type='discussions-op-text'>

<sup>Originally posted by **infohash** November 11, 2022</sup>
There are multitude of options to choose from when it comes to authentication and authorization. A unified security extension that features Oauth2 & OIDC and additionally traditional username and password login and static API ke

[2022-11-27 12:42] provinzkraut commented on #862
I assume this is an unintentional duplicate of #863

[2022-11-27 12:42] #862 closed

[2022-11-27 16:26] ThinksFast opened #865 "Redis is not included with starlite[full], and documentation references aioredis"
**Describe the bug**
When installing `starlite[full]`, the redis group is not included.  And installing `starlite[full]` seems to remove redis packages installed with `starlite[redis]`.

Also, the Starlite documentation is slightly out of date.  Session middleware page says Starlite uses `aioredis`, but the example correctly shows `redis`

https://starlite-api.github.io/starlite/usage/7-middleware

[2022-11-27 16:28] cofin commented on #865
to do:
- [] Update `pyproject.toml` to install `redis` group with `full`
- [] Modify documentation references to `aioredis` to `redis`

[2022-11-27 17:51] provinzkraut commented on #865
I already have fixed this in an upcoming PR which updates the docs

[2022-11-27 18:37] #865 closed

[2022-11-27 19:36] provinzkraut opened #867 "Documentation/Meta: API stability policy"
Following the discussion in #848, this issue seeks to track the process of implementing the discussed policy.

# TODO

- [ ] Craft a document describing the specifics of our API stability/deprecation policy
- [ ] Update deprecation utilities to the new requirements
- [ ] Create a developer guideline for deprecations
- [ ] Integrate the deprecation process with current tooling (i.e. linting stage,

[2022-11-28 05:45] peterschutt commented on #721
I've got this going pretty nicely in starlite-saqlalchemy with `__class_getitem__`.

Here's an example:

[code]
There's some different stuff going on there with the `"write"` that we don't have in starlite, but `dto.FromMapped` is a subclass of `pydantic.BaseModel` and defined `__class_getitem__()` which builds a new pydantic model that has all of the dto fields on it and returns that.

Type check

[2022-11-28 11:40] provinzkraut commented on #721
@peterschutt This looks nice! Do you think this could be easily integrated into our DTOs?

[2022-11-28 13:00] provinzkraut opened #868 "Enhancment: `MessagePack` support"
**What's the feature you'd like to ask for.**
We should support [MessagePack](https://msgpack.org/) as a serialization target and an alternative to JSON.

**Additional context**
This would best be implemented using [msgspec](https://github.com/jcrist/msgspec), which support both JSON and MessagePack as serialization targets, allowing us to drop `orjson`. Early findings suggest that `msgspec` is as

[2022-11-28 15:54] rgajason commented on #849
@provinzkraut confirmed working! Thank you so much!

[2022-11-28 16:09] jtraub opened #870 "Bug: If a documented cookie is set in the `after_request` Starlite will add second `set-cookie` header"
**To Reproduce**
Run the following app
[code]
Do a request to the handler
[code]

Notice that Starlite sets `my-cookie` value twice in the response

[2022-11-28 17:18] robertlagrant opened #871 "Bug: Structlog example throws a 500 error"
**Describe the bug**
Using the [Structlog sample code](https://starlite-api.github.io/starlite/usage/0-the-starlite-app/4-logging) with Starlite returns a 500 error.

**To Reproduce**
Paste the exact sample code linked into a text file, run.py.
Have the dependencies (below) installed and available.
Run the command `uvicorn run:app`.
Hit http://localhost:8000 in the browser.
Error response: `{"stat

[2022-11-28 17:24] jtraub commented on #871
@robertlagrant could you please try to launch the code with the latest Starlite version.

[2022-11-28 17:32] robertlagrant commented on #871
@jtraub same on Starlite 1.42.0 anyway :)

[2022-11-28 17:45] jtraub commented on #871
@robertlagrant it is just a typo in the docs.

Loggers follow [`Logger`](https://github.com/starlite-api/starlite/blob/main/starlite/types/protocols.py#L4) protocol which doesn't have `log` method. So you need to replace
[code]
in the example code with
[code]

and it should work.

[2022-11-28 17:53] jtraub commented on #871
There is an ongoing effort to make sure that all examples in the docs are runnable (#343).

@provinzkraut is working hard on this and I think it will be addressed soon.

[2022-11-28 19:23] robertlagrant commented on #871
Confirmed - this change works.
[code]

[2022-11-29 08:48] peterschutt commented on #721
I'll take a look at it once back on deck - prob early next week. I'm sure we'd be able to something similar.

[2022-11-29 10:17] provinzkraut commented on #650
@peterschutt What are your findings? I think it looks good from what I can tell, so unless you found some major drawbacks I'll say we go ahead an implement this.

[2022-11-29 11:50] #863 closed

[2022-11-29 12:06] #871 closed

[2022-11-29 15:17] adambozson opened #877 "Bug: OpenAPI schema does not generate file upload form in Swagger"
**Describe the bug**
Using `UploadFile`, the generated docs don't produce the expected Swagger file upload form component.

**To Reproduce**
The following standalone app:
[code]
produces this Swagger UI:
<img width="1384" alt="Screenshot 2022-11-29 at 15 15 42" src="https://user-images.githubusercontent.com/13031205/204567944-bbe2d22e-5b71-487c-afcb-d81537d29072.png">
But we expect an upload form,

[2022-11-29 16:15] Goldziher opened #878 "Enhancement: OIDC Security Backend"
As we discussed in #794 - we would like to have an OIDC integration as an optional component in `starlite.contrib.oidc`. This will have to rely on `pyoidc`, which while problematic is the only fully fledged OIDC implementation in python and also has a usable license.

Our implementation should support all the flows supported by `pyoidc` with an easy to use abstraction layer. For reference: https:/

[2022-11-29 16:32] provinzkraut opened #880 "Refactor: Improve test coverage"
There are currently some things that need test coverage: https://sonarcloud.io/component_measures?id=starlite-api_starlite&metric=new_coverage&view=list

This isn't something that needs to be addressed in a single PR, but we should keep it on the radar and make incremental improvements.

<a href="https://polar.sh/litestar-org/litestar/issues/880">
<picture>
  <source media="(prefers-color-scheme:

[2022-11-29 16:36] provinzkraut opened #881 "Enhancment: Rework template engines"
Currently, template engines are a bit cumbersome to work with in some instances. Take for example this thing we have in our docs to register a custom callable:

[code]

this could be much simpler. For this (and other use cases) it would be great if the config object:
- Exposes the engine instances
- Allows passing in an engine instance

Additionally, while playing around with an implementation for

[2022-11-29 19:18] ste-pool opened #882 "StructLoggingConfig.processors is cast to the wrong type"
Heya! Firstly, thanks for the great project! I've been using Starlite for the last few weeks and it's great :)

**Describe the bug**
The [processors](https://github.com/starlite-api/starlite/blob/3df82bac96fa670206079f4180c5db0f8b2fcdb9/starlite/config/logging.py#L256) type for the `StructLoggingConfig` model is specified as an `Iterable` which appears to mean that if a list is passed in it is cas

[2022-11-29 20:00] cofin commented on #882
Thanks for reporting this!  Feel free to submit a PR and we can get this fix merged.

[2022-11-30 03:47] jtraub commented on #882
It doesn't look like it should be reported to Starlite.

`configure` in `structlog` accepts `Iterable` according to [its definition](https://github.com/hynek/structlog/blob/d61a8043204da8291a7895f9dc5fd8aa35394cc7/src/structlog/_config.py#L183)

So `StructLoggingConfig(processors=default_structlog_processors()).processors` is a valid argument.

[code]

It seems like library author wanted to type `

[2022-11-30 10:23] ste-pool commented on #882
Ah that's true. I could have made it more generic like Sequence (I think that's what structlog uses in some places)

I was similarly surprised with the pydantic behaviour of changing it into an iterator...

I'll raise an issue in structlog to get them to change the type :)

[2022-11-30 15:01] smithk86 opened #888 "Bug: Cannot update cookie value"
When using the `cookies` arg or the `set_cookie` method on a `Response`, the cookie value in the `set-cookie` header appears to cache the cookie value per Cookie `key`. Subsequent attempts to update the Cookie result in a `set-cookie` header with an updated `expires` but the same value.

I created a small test app which can be used to prove out the bug.
- URL: https://gist.github.com/smithk86/87f7

[2022-11-30 15:20] #870 closed

[2022-11-30 15:42] Goldziher commented on #878
So, after looking into `pyoidc` I am dubious we should actually integrate this inside Starlite. This library is too messy and is going to be hard to maintain - this should be done in an external library, outside of our github org,  probably by someone else who is willing to maintain this.

Open to people who want to pick this up - this issue though is going to be closed here.

fyi @infohash if you

[2022-11-30 15:42] #878 closed

[2022-11-30 16:26] Goldziher commented on #877
annoying. ill check it out.

[2022-11-30 16:35] #416 closed

[2022-11-30 18:38] #877 closed

[2022-11-30 19:14] Goldziher commented on #851
Well, there is nothing preventing users from subclassing response. Do we need to add anything extra?